mixin question(data)
  .question&attributes(attributes)
    .question__wrapper
      .question__header
        .question__header-title Для 
          a.question__header-name(href="#") Виктория Моршанская
      p.sm.question__dscr.mb-15 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов
      .question__bottom
        .question__bottom-left
          .question__author Виктор Пайет, Москва
          .question__time 14:00
        a.question__bottom-likes(href="#") 150
    if data && data.answer
      .question__answer
        p.sm.question__answer-content Ответ: 
          span.font-weight-bold Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное 
