.question {
  margin-bottom: 35px;

  &__header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-name {
    background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
      radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
      #6c5aa4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__header-title {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #000;
  }

  &__content {
  }

  &__dscr {
    line-height: 1.43 !important;
    font-weight: 400;
    color: rgba($purple, .7);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__bottom-left {
    display: flex;
    align-items: baseline;
  }

  &__author {
    margin-right: 20px;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 600;
    color: $purple;
  }

  &__time {
    margin-right: 20px;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 600;
    color: $purple;
  }

  &__bottom-likes {
    margin-left: 10px;
    display: flex;
    align-items: baseline;
    font-size: 14px;
    font-weight: 600;
    color: $secondary;

    @include transition;

    &:hover {
      opacity: .8;
      text-decoration: none;
      color: $dark;
    }

    &:before {
      margin-right: 6px;
      display: block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/vote-up--dark.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__answer {
    margin-top: 23px;
    padding-left: 25px;
  }

  &__answer-content {
    opacity: .7;
    line-height: 1.43 !important;
    font-weight: 400 !important;
    color: $purple;
  }
}
