mixin modal(data)
  .modal&attributes(attributes)
    case data.type
    
      when 'meeting'
        .modal__header
          h6.text-purple.mb-0 Встреча с ментором
        form.modal__meeting.form.form--white(action="#", method="POST")
          .modal__meeting-form
            .form__item
              label.p.sm.text-purple.mb-10 Название проекта
              input.input(type="text" placeholder="Введите")
            .form__item
              label.p.sm.text-purple.mb-10 Имя выступающего
              input.input(type="text" placeholder="Введите")
            .form__item
              label.p.sm.text-purple.mb-10 E-mail
              input.input(type="text" placeholder="Введите")
            .form__item
              label.p.sm.text-purple.mb-10 Телефон
              input.input(type="text" placeholder="Введите")
            p.md.mt-20.mt-lg-40.mb-0 Ваша встреча состоится: 
              span.font-weight-bold.d-block Вторник 13 марта в 14:30
          .modal__meeting-time
            p.md.font-weight-bold.mb-25 Выберите время для встречи:
            .modal__time-list
              each val, index in ['10:00', '10:10', '10:20', '10:30', '10:40', '10:50', '11:00', '11:10', '11:20', '11:30', '11:40', '11:50', '12:00', '12:10', '12:20', '12:30', '12:40', '12:50', '13:00', '13:10', '13:20', '13:30', '13:40', '13:50', '14:00', '14:10', '14:20', '14:30', '14:40', '14:50', '15:00', '15:10', '15:20', '15:30', '15:40', '15:50', '16:00', '16:10', '16:20', '16:30', '16:40', '16:50', '17:00', '17:10', '17:20', '17:30', '17:40', '17:50']
                if index == 6 || index == 7 || index == 8
                  .custom-control.custom-radio.custom-radio--time
                    input.custom-control-input(type='radio' id="time" + index name='time', disabled)
                    label.custom-control-label(for='time' + index)= val
                else
                  .custom-control.custom-radio.custom-radio--time
                    input.custom-control-input(type='radio' id="time" + index name='time')
                    label.custom-control-label(for='time' + index)= val
              button.btn.btn-secondary.btn-secondary--shadow-sm.mt-30.w-100(type="submit") Записаться
    
      when 'question'
        .modal__header
          h6.text-purple.mb-0 Задать вопрос
        form.form.form--white.modal__question(action="#", method="POST")
          .form__item
            label.p.sm.text-purple.mb-10 Выберите спикера 
            +select({
              placeholder: 'Введите'
            })
          .form__item
            label.p.sm.text-purple.mb-10 Вопрос для спикера
            textarea.input.input--textarea(placeholder="Введите")
          p.sm.text-dark Вы можете задать любой вопрос спикеру, но прежде чем они будут им доставлены они пройдут предварительную модерацию.
          a.btn.btn-secondary.btn-secondary--no-shadow.w-100(href="#") Отправить
        .modal__question-sent
          .modal__question-sent-header Вопрос отправлен
    
      when 'edit'
        .modal__header
          h6.text-purple.mb-0 Редактировать профиль
        .modal__form
          form.form.form--white.mb-75(action="#", method="POST")
            .row
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="email") E-mail
                  input.input#email(type="email" placeholder="Введите" name="email")
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="password") Пароль
                  input.input#password(type="password" placeholder="Введите" name="password")
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="passwordRepeat") Повторите пароль
                  input.input#passwordRepeat(type="password" placeholder="Введите" name="passwordRepeat")
            .row
              .col-md-4
                .form__item
                  label.p.sm.mb-10 Выберите город регистрации в StartupTour
                  +select({
                    placeholder: 'Выбрать город',
                    disabled: true
                  })
                  .form__item-comment Выбрать можно только один город регистрации
              .col-md-4
                .form__item
                  label.p.sm.mb-10 Выберите статус участия
                  +select({
                    placeholder: 'Введите'
                  })
            h5.mb-15 Личные данные
            .row
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="lastName") Фамилия*
                  input.input#lastName(type="text" placeholder="Введите" name="lastName" required)
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="firstName") Имя*
                  input.input#firstName(type="text" placeholder="Введите" name="firstName" required)
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="middleName") Отчество*
                  input.input#middleName(type="text" placeholder="Введите" name="middleName" required)
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="phone") Телефон*
                  input.input#phone(type="tel" placeholder="Введите" name="phone" required)
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="city") Город проживания*
                  input.input#city(type="text" placeholder="Введите" name="city" required)
              .col-md-4
                .form__item.form__item--horizontal.pt-md-30
                  label.p.sm.mb-0.mr-25 Пол
                  .switch
                    .custom-control.custom-radio
                      input#sex1.custom-control-input(type='radio' name='sex' checked)
                      label.custom-control-label(for='sex1') Муж
                    .custom-control.custom-radio
                      input#sex2.custom-control-input(type='radio' name='sex')
                      label.custom-control-label(for='sex2') Жен
            .row
              .col-md-4
                .form__item
                  .custom-file.custom-file--photo
                    input#customFile.custom-file-input(type='file')
                    label.custom-file-label(for='customFile') Выбрать фото профиля
            h5.mb-15 Карьера
            .row
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="company") Компания*
                  input.input#company(type="text" placeholder="Введите" name="company" required)
              .col-md-4
                .form__item
                  label.p.sm.mb-10(for="position") Должность*
                  input.input#position(type="text" placeholder="Введите" name="position" required)
              .col-md-4
                .form__item.pt-md-30
                  .switch
                    .custom-control.custom-radio
                      input#sk1.custom-control-input(type='radio' name='sk' checked)
                      label.custom-control-label(for='sk1') Резидент Сколково
                    .custom-control.custom-radio
                      input#sk2.custom-control-input(type='radio' name='sk')
                      label.custom-control-label(for='sk2') Нерезидент Сколково
            .row
              .col-md-4
                .form__item
                  label.p.sm.mb-10 Отрасль
                  +select({
                    placeholder: 'Выбрать отрасль'
                  })
              .col-md-4
                .form__item
                  label.p.sm.mb-10 Сфера деятельности
                  +select({
                    placeholder: 'Выбрать сферу'
                  })
            .custom-control.custom-checkbox.mb-15
              input#customCheck1.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck1') Хочу подать проект на конкурс
            .custom-control.custom-checkbox.mb-15
              input#customCheck2.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck2') Хочу подать заявку на участие в выставке
            .custom-control.custom-checkbox.mb-15
              input#customCheck3.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck3') Готов инвестировать
            .custom-control.custom-checkbox.mb-15
              input#customCheck4.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck4') Хочу общаться с участниками?
            .custom-control.custom-checkbox.mb-35
              input#customCheck5.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck5') Я даю согласие на обработку моих персональных данных.
            button.btn.btn-secondary(type="submit") Сохранить
      
      default
        |Модальное окно
