.modal {
  padding: 0;
  display: none;
  max-width: 793px;
  border-radius: 20px;

  &__header {
    padding: 20px 24px;
    border-bottom: 1px solid $gray;
  }

  &__meeting {
    display: flex;
  }

  &__meeting-form {
    padding: 20px 24px 30px;
    flex: 1 1 48.43%;
  }

  &__meeting-time {
    padding: 20px 24px 30px;
    flex: 1 1 51.57%;
    background: #f2f2f2;
  }

  &__time-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__question {
    padding: 20px 24px;
  }

  &__question-sent {
    padding: 80px 100px 70px;
    display: none;
    //      display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: $dark;

    &:before {
      margin-bottom: 20px;
      display: block;
      width: 36px;
      height: 24px;
      content: '';
      background: url(../img/modal-check.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__form {
    padding: 20px 24px 0;
  }

  &--wide {
    max-width: 1440px;
  }
}
