/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: local(''), url('../fonts/raleway-v18-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v18-latin_cyrillic-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-500 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: local(''), url('../fonts/raleway-v18-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v18-latin_cyrillic-500.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-600 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: local(''), url('../fonts/raleway-v18-latin_cyrillic-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v18-latin_cyrillic-600.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: local(''), url('../fonts/raleway-v18-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v18-latin_cyrillic-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
