h1,
.h1 {
  font-size: 85px;
  line-height: 1.09;
  font-weight: 600;
  letter-spacing: -.03em;

  @include media-breakpoint-down(xs) {
    font-size: 60px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 60px;
  line-height: 1.17;
  font-weight: 600;
  letter-spacing: -.03em;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -.03em;

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }
}

h4,
.h4 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -.03em;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

h5,
.h5 {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -.03em;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -.03em;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

p,
.p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }

  &.md {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &.sm {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
      font-size: 13px;
    }
  }

  &.xs {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -.03em;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-black {
  font-weight: 900;
}

.semi-transparent {
  opacity: .5;
}

.text-underline {
  text-decoration: underline;
}

.text-gray {
  color: $gray;
}

.text-purple {
  color: $purple;
}

.text-black {
  color: #000;
}

ul {

  li {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
