mixin drag(data)
  .drag.js-drag&attributes(attributes)
    .container-fluid-right.pr-0
      .drag__content
        ul
          li
            +city({
              date: 'Сейчас',
              name: 'Тверь',
              modifier: 'active'
            }).city--active
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
          li
            +city({
              date: 'Завтра - 20 мая',
              name: 'Краснодар'
            })
    .container
      .drag__scrollbar
        .drag__handle
