.drag {
  position: relative;
  overflow: hidden;

  &__content {
    overflow: visible !important;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;
    }

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {

        .city:after {
          position: absolute;
          top: calc(50% + 13px);
          right: -28px;
          display: block;
          width: 18px;
          height: 7px;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='7' viewBox='0 0 18 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2878 6.96C12.6078 6.112 12.9998 5.384 13.4638 4.776H0.599756V2.808H13.4638C13.0158 2.2 12.6318 1.472 12.3118 0.623999H14.1358C15.1278 1.792 16.2158 2.68 17.3998 3.288V4.32C16.2158 4.896 15.1278 5.776 14.1358 6.96H12.2878Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  &__scrollbar {
    margin-top: 40px;
    height: 6px;
    background: rgba(255, 255, 255, .4);
    border-radius: 2px;
  }

  &__handle {
    margin-top: -1px;
    height: 6px;
    background: $white;
    border-radius: 3px;
    cursor: pointer;
  }
}
