.step {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &:after {
    position: absolute;
    bottom: 73px;
    left: calc(100% + 6px);
    display: block;
    width: 24px;
    height: 12px;
    content: '';
    background: url(../img/step-arrow.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;

    &:last-child {

      .step:after {
        display: none;
      }
    }
  }

  &__header {
    margin-bottom: 20px;
    display: flex;
    max-width: 160px;
    align-items: center;
  }

  &__number {
    margin-right: 10px;
    display: flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.03em;
    color: $primary;
    background: #fff;
    border-radius: 50%;
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: #fff;
    border-radius: 20px;
  }

  &__title {
    color: #4478ff;
  }

  &__picture-wrapper {
    max-width: 160px;
  }

  &__picture {
    max-width: 100%;
  }
}
