mixin step(data)
  a.step(href="#")&attributes(attributes)
    .step__header
      .step__number= data.number
      .p.sm.text-white.mb-0= data.name
    .step__content
      p.xs.text-primary.mb-0= data.date
      if data && data.title
        .h4.mb-0.step__title= data.title
      if data && data.picture
        .step__picture-wrapper
          img.step__picture(src="./img/" + data.picture, alt)
