mixin reason(data)
  .reason&attributes(attributes)
    //.reason__number
      .reason__number-front.h1.text-white.mb-0= data.number
      span.reason__number-back.h1.mb-0= data.number
    .reason__content
      h5.text-white.mb-20.mb-lg-30!= data.title
      p.text-white.reason__dscr!= data.dscr
