.reason {
  position: relative;
  margin-bottom: 10px;
  display: flex;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }

  &:before {
    position: absolute;
    top: -5px;
    left: -30px;
    display: block;
    width: 71px;
    height: 71px;
    content: '';
    background: url(../img/feature-ball.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      top: 9px;
      left: -10px;
      width: 50px;
      height: 50px;
    }

    @include media-breakpoint-down(sm) {
      top: -7px;
    }
  }

  &__number {
    position: relative;
    margin-right: 42px;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }
  }

  &__number-front {
    position: relative;
    z-index: 2;
  }

  &__number-back {
    position: absolute;
    z-index: 1;
    top: 7px;
    right: -4px;
    background: radial-gradient(
        47.37% 47.37% at 3.51% 56.14%,
        #3a4bcf 0%,
        rgba(60, 79, 211, 0) 100%
      ),
      radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
      #6c5aa4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(sm) {
      top: 3px;
      right: -3px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-top: 17px;

    @include media-breakpoint-down(sm) {
      margin-top: 7px;
    }
  }

  &__dscr {
    margin-bottom: 0;
    line-height: 1.2;
  }
}
