.slider {
  position: relative;
  opacity: 0;
  transition: opacity $transition-base;

  &.slick-initialized {
    opacity: 1;
  }

  &__item {
    width: 376px;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .slick-slide {
    margin: 0 20px;
    outline: 0;

    @include media-breakpoint-down(xs) {
      margin: 0 10px;
    }
  }

  .slick-list {
    margin: 0;
    padding-left: 0;
    overflow: visible !important;
  }

  .slick-arrow {
    position: absolute;
    top: -63px;
    width: 33px;
    height: 18px;
    text-indent: -9999px;
    background-color: transparent;

    @include media-breakpoint-down(md) {
      top: -43px;
    }

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  .slick-prev {
    right: 81px;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='18' viewBox='0 0 33 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33 9H1M1 9L9 1M1 9L9 17' stroke='white'/%3E%3C/svg%3E%0A");
  }

  .slick-next {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='18' viewBox='0 0 33 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9H32M32 9L24 1M32 9L24 17' stroke='white'/%3E%3C/svg%3E%0A");
  }
}
