.news {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }

  &:hover {

    .news__picture {
      transform: scale(1.1);
    }
  }

  &--dark {
    color: $dark;
    transition: $transition-base;
  }

  &__picture-wrapper {
    position: relative;
    margin-bottom: 33px;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 20px;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

    @include transition;
  }

  &--white {
    color: $white;
    transition: $transition-base;

    &:hover {
      color: #fff;
    }

    .text-purple {
      color: $white !important;
    }
  }
}
