mixin news(data)
  a.news(href="#")&attributes(attributes)
    span.news__picture-wrapper
      img.news__picture(src="./img/" + data.picture, alt)
    p.font-weight-semibold.text-purple.mb-15= data.title
    p.sm.mb-0.semi-transparent 25 марта
