/* Bootstrap */

.container-fluid-left {

  @include make-container-fluid-left-right();

  @include make-container-fluid-left();
}

.container-fluid-right {

  @include make-container-fluid-left-right();

  @include make-container-fluid-right();
}

.btn-primary {
  padding: 13px 22px;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: $primary;
  background: $white;
  border: none;
  border-radius: 60px;

  @include transition;

  span {
    line-height: 1;
    background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
      radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
      #6c5aa4;
    -webkit-background-clip: text;
    transition: $transition-base;
    -webkit-text-fill-color: transparent;
  }

  &:focus,
  &:active,
  &:hover {
    color: $white !important;
    background: $primary !important;
    box-shadow: none !important;

    span {
      color: $white;
      background: none;
      -webkit-background-clip: text;
      -webkit-text-fill-color: $white;
    }
  }

  &--instagram {
    display: flex;
    align-items: center;

    &:before {
      margin-right: 10px;
      display: block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/btn-instagram.svg) no-repeat center;
      background-size: contain;
    }
  }
}

.btn-outline-primary {
  padding: 12px 23px;
  font-size: 12px;
  line-height: 11px;
  font-weight: 600;
  letter-spacing: -.03em;
  color: $primary;
  border: 2px solid #ffae50;
  border-radius: 60px;

  &:focus,
  &:active,
  &:hover {
    color: $white !important;
    background: #ffae50 !important;
    border: 2px solid #ffae50 !important;
    box-shadow: none !important;
  }
}

.btn-secondary {
  padding: 16px 50px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: $white;
  background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
    radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%), #6c5aa4;
  border: none;
  border-radius: 60px;
  box-shadow: 0 23px 48px #a54800;

  @include transition;

  &:focus,
  &:active,
  &:hover {
    color: $white !important;
    background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
      radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
      #6c5aa4 !important;
    border: none !important;
    box-shadow: 0 23px 48px #a54800 !important;
  }

  &:hover {
    box-shadow: 0 10px 30px #a54800 !important;
  }

  &--shadow-sm {
    box-shadow: 0 23px 48px rgba(165, 72, 0, .38) !important;

    &:hover {
      box-shadow: none !important;
    }
  }

  &--no-shadow {
    box-shadow: none !important;

    &:hover,
    &:active,
    &:focus {
      opacity: .8;
      box-shadow: none !important;
    }
  }

  &--gradient {
    padding: 12px 17.5px;
    background: radial-gradient(
        47.37% 47.37% at 3.51% 56.14%,
        #3a4bcf 0%,
        rgba(60, 79, 211, 0) 100%
      ),
      radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
      #6c5aa4 !important;
    box-shadow: none;
  }
}

.btn-sm {
  padding: 8.5px 14.2px;
  font-size: 14px;
}

.border-top {
  border-top: 1px solid rgba($dark, .45) !important;
}

.border-right {
  border-right: 1px solid rgba($dark, .45) !important;
}

.border-bottom {
  border-bottom: 1px solid rgba($dark, .45) !important;
}

.border-left {
  border-left: 1px solid rgba($dark, .45) !important;
}

.custom-file--photo {
  display: block;
  width: 142px;
  height: 180px;

  .custom-file-input {
    width: 142px;
    height: 180px;
    cursor: pointer;

    &:focus ~ .custom-file-label {
      border-color: $white;
      box-shadow: none;
    }
  }

  .custom-file-label {
    margin: 0;
    padding: 0;
    display: flex;
    width: 142px;
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    color: $white;
    background: transparent;
    border: 1px dashed $white;
    border-radius: 20px;

    &:before {
      margin-bottom: 24px;
      display: block;
      width: 61px;
      height: 60px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='61' height='60' viewBox='0 0 61 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M31.4172 58.8188C31.4172 59.4696 30.8869 59.9999 30.2349 59.9999C29.5841 59.9999 29.0538 59.4696 29.0538 58.8188C29.0538 58.1681 29.5841 57.6377 30.2349 57.6377C30.8869 57.6377 31.4172 58.1681 31.4172 58.8188ZM5.42112 58.8188V57.3247C5.42112 49.4501 10.7621 45.1558 13.1006 43.7539C16.2767 41.8511 19.6882 40.4125 23.2558 39.4673V37.5656C22.661 37.0406 22.1172 36.4436 21.6367 35.7781C20.222 33.8188 19.0673 31.6945 18.1971 29.4516C17.4007 29.3428 16.6725 28.836 16.2981 28.0431C15.9411 27.2873 13.4644 22.7058 13.0849 21.8905C12.1229 19.8234 13.3802 17.7813 14.9741 17.1239C15.2395 17.0144 15.5123 16.9335 15.7899 16.8873C15.5318 15.8316 15.4014 14.7458 15.4014 13.6418C15.4014 6.11958 21.5211 -6.10352e-05 29.0432 -6.10352e-05C30.3651 -6.10352e-05 31.617 0.505569 32.5683 1.42364C32.5784 1.43344 32.5944 1.43344 32.6045 1.42364C33.556 0.505569 34.8079 -6.10352e-05 36.1298 -6.10352e-05C41.2422 -6.10352e-05 45.4014 4.15919 45.4014 9.27159V11.4225C45.4014 13.2746 45.1471 15.0977 44.6453 16.8649C44.9289 16.9108 45.212 16.9849 45.4806 17.1064C47.4417 17.9945 48.2075 20.1891 47.3696 21.873C46.9691 22.6779 44.5136 27.2695 44.1564 28.0256C43.7821 28.818 43.0542 29.3248 42.2584 29.434C41.3877 31.6823 40.2313 33.8116 38.8137 35.7753C38.3327 36.4416 37.7883 37.0394 37.1928 37.565V39.4672C40.7602 40.4124 44.1718 41.851 47.3479 43.7538C49.6865 45.1557 55.0274 49.45 55.0274 57.3246V58.8188C55.0274 59.4712 54.4986 59.9999 53.8463 59.9999H35.5522C35.551 59.9999 35.551 59.9999 35.5499 59.9999C34.873 59.9999 34.3264 59.4275 34.3714 58.7398C34.4125 58.1121 34.9623 57.6377 35.5913 57.6377H52.6652C52.6652 52.6504 50.1625 48.1948 46.1325 45.7806C43.2876 44.0758 40.2408 42.7656 37.0575 41.8775C36.4209 45.0681 33.5994 47.4803 30.2243 47.4803C26.8493 47.4803 24.0276 45.0682 23.391 41.8775C20.2084 42.7656 17.1608 44.0758 14.316 45.7806C10.2861 48.1948 7.78332 52.5133 7.78332 57.6377H24.9211C25.5991 57.6377 26.145 58.2132 26.0983 58.9009C26.0557 59.5275 25.5062 59.9999 24.8782 59.9999H6.60222C5.9499 59.9999 5.42112 59.4712 5.42112 58.8188ZM17.7679 13.8227C17.8769 13.6946 19.5067 11.6929 22.3117 11.6929C23.7108 11.6929 25.0547 12.1804 26.1189 13.0497C27.0992 13.8504 28.3474 14.2913 29.6337 14.2913C32.6778 14.2913 35.1163 11.843 35.1851 8.71754C35.1993 8.07561 35.7236 7.56254 36.3658 7.56242C37.0078 7.5623 37.5323 8.07514 37.5469 8.71706C37.5808 10.2253 38.3925 11.5332 39.6656 12.1302C40.9177 12.7175 41.9655 13.6065 42.7339 14.6943C42.9371 13.6203 43.0393 12.5273 43.0393 11.4226V9.27159C43.0393 5.46171 39.9398 2.36214 36.1299 2.36214C35.4231 2.36214 34.7538 2.6325 34.2451 3.12336C33.3151 4.02124 31.858 4.02112 30.9279 3.12336C30.4193 2.6325 29.7499 2.36214 29.0432 2.36214C22.8236 2.36214 17.7084 7.35703 17.7679 13.8227ZM34.8306 39.1385C32.0341 40.4585 28.8032 40.6108 25.618 39.139V40.5117C25.618 43.0517 27.6843 45.118 30.2243 45.118C32.7642 45.118 34.8306 43.0517 34.8306 40.5117V39.1385ZM36.8984 34.3927C38.3635 32.3633 39.525 30.1416 40.3479 27.788C40.4923 27.3749 41.0409 26.75 41.9706 27.1158C42.4088 26.1824 44.8762 21.6199 45.2338 20.864C45.5063 20.2882 45.1768 19.5383 44.5575 19.2808C44.2078 19.1355 43.8209 19.1608 43.4808 19.3346C42.7477 19.7091 41.841 19.2671 41.7475 18.4569C41.535 16.6176 40.3427 15.0569 38.6625 14.269C37.8133 13.8707 37.0891 13.2865 36.5249 12.5716C36.1695 13.211 35.7081 13.7864 35.2015 14.3323C32.9598 16.7488 28.2734 17.8232 24.6245 14.8793C23.2011 13.7308 21.0841 13.7999 19.7779 15.125C19.0673 15.8458 18.6495 16.8188 18.6495 17.813V18.278C18.6532 19.1455 17.7313 19.7246 16.9385 19.3336C16.6102 19.1717 16.2348 19.1645 15.897 19.2987C15.3614 19.5113 14.9042 20.2047 15.2207 20.8817C15.5751 21.6395 18.0969 26.2703 18.4704 27.116C19.5105 26.754 19.9986 27.4969 20.1067 27.805C20.9304 30.1529 22.0895 32.3703 23.5519 34.3955C25.1245 36.5735 27.5565 37.8226 30.2239 37.8224C32.8924 37.8219 35.3252 36.5719 36.8984 34.3927ZM55.618 7.08655V1.18104C55.618 0.528719 55.0892 -6.10352e-05 54.4369 -6.10352e-05H48.5314C47.879 -6.10352e-05 47.3503 0.528719 47.3503 1.18104C47.3503 1.83336 47.879 2.36214 48.5314 2.36214H53.2558V7.08655C53.2558 7.73888 53.7845 8.26766 54.4369 8.26766C55.0892 8.26766 55.618 7.73888 55.618 7.08655ZM55.618 39.3307V33.4251C55.618 32.7728 55.0892 32.244 54.4369 32.244C53.7845 32.244 53.2558 32.7728 53.2558 33.4251V38.1495H48.5314C47.879 38.1495 47.3503 38.6783 47.3503 39.3307C47.3503 39.983 47.879 40.5117 48.5314 40.5117H54.4369C55.0892 40.5117 55.618 39.983 55.618 39.3307ZM7.19277 7.08655V2.36214H11.9172C12.5695 2.36214 13.0983 1.83336 13.0983 1.18104C13.0983 0.528719 12.5695 -6.10352e-05 11.9172 -6.10352e-05H6.01167C5.35935 -6.10352e-05 4.83057 0.528719 4.83057 1.18104V7.08655C4.83057 7.73888 5.35935 8.26766 6.01167 8.26766C6.66399 8.26766 7.19277 7.73888 7.19277 7.08655ZM13.0983 39.3307C13.0983 38.6783 12.5695 38.1495 11.9172 38.1495H7.19277V33.4251C7.19277 32.7728 6.66399 32.244 6.01167 32.244C5.35935 32.244 4.83057 32.7728 4.83057 33.4251V39.3307C4.83057 39.983 5.35935 40.5117 6.01167 40.5117H11.9172C12.5695 40.5117 13.0983 39.983 13.0983 39.3307Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='60' height='60' fill='white' transform='translate(0.224365)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &:after {
      display: none;
    }
  }
}

.custom-checkbox {
  padding-top: 4px;
  padding-left: 40px;

  .custom-control-label {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: $white;
    cursor: pointer;

    &:before {
      top: -4px;
      left: -40px;
      width: 24px;
      height: 24px;
      background: linear-gradient(
        129deg,
        rgba(255, 255, 255, .5) 2.14%,
        rgba(196, 196, 196, .5) 100%
      );
      border: none;
      border-radius: 8px;
    }

    &:after {
      top: 2px;
      left: -35px;
      width: 15px;
      height: 13px;
      opacity: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 7.0293L4.9707 9.99995L12.9707 2' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 15px 13px;
    }
  }

  .custom-control-input {
    margin-top: -4px;
    width: 24px;
    height: 24px;
  }

  .custom-control-input:checked ~ .custom-control-label {

    &:before {
      background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
        radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
        #6c5aa4;
    }

    &:after {
      opacity: 1;
    }
  }

  .custom-control-input:focus ~ .custom-control-label:before {
    box-shadow: none;
  }

  &--filters {
    padding-top: 2px;
  }
}

.custom-radio {

  &--time {
    margin-right: 8px;
    margin-bottom: 8px;
    padding-left: 0;

    .custom-control-input:checked ~ .custom-control-label {
      color: $primary;
      border: 2px solid $primary;
    }

    .custom-control-input:disabled ~ .custom-control-label {
      color: $gray;
      background: #eaeaea;
      border: 0;
    }

    .custom-control-label {
      display: flex;
      width: 52px;
      height: 32px;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 1.3;
      font-weight: 600;
      color: $secondary;
      border: 1px solid #c0bdc8;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        border: 2px solid $primary;
      }

      &:before,
      &:after {
        display: none;
      }

      //      &--disabled {
      //        color: #c0bdc8;
      //        background: #eaeaea;
      //        border: 0;
      //      }
      //
      //      &--active {
      //        color: $primary;
      //        border-width: 2px;
      //        border-color: $primary;
      //      }
    }
  }
}

/* Tabs */

.nav-tabs {
  padding-bottom: 17px;
  display: flex;
  border-bottom: 0;

  .nav-item {
    margin-right: 20px;
    margin-bottom: 20px;
    border: 0;

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    padding: 5px;
    display: flex;
    min-width: 148px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    background: rgba(#fff, .2);
    border-radius: 60px;

    @include transition;

    &.active {
      position: relative;
      color: #fff;
      background: url(../img/tab-active-bg.svg) no-repeat center;
      background-size: contain;
      border: 0;

      &:after {
        position: absolute;
        bottom: -40px;
        left: 50%;
        display: block;
        width: 41px;
        height: 22px;
        content: '';
        background: url(../img/tab-dot.svg) no-repeat center;
        background-size: contain;
        transform: translateX(-50%);

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }

  &--link {
    padding-bottom: 5px;
    align-items: baseline;

    .nav-item {

      @include media-breakpoint-down(xs) {
        margin-bottom: 0;
      }

      &:hover,
      &:focus,
      &:active {
        border: 0 !important;
        outline: none !important;
      }
    }

    .nav-link {
      min-width: 0;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 600;
      text-decoration: underline;
      letter-spacing: -.03em;
      color: $dark;
      border: 0 !important;
      outline: none !important;

      @include media-breakpoint-down(md) {
        font-size: 18px;
      }

      &:hover,
      &:focus,
      &:active {
        border: 0 !important;
        outline: none !important;
      }

      &.active {
        font-size: 40px;
        line-height: 1.2;
        text-decoration: none;
        color: $purple;
        background: none;

        @include media-breakpoint-down(md) {
          font-size: 18px;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}

//Select2
.select2-container--default {

  .selection {
    display: block;
  }

  .select2-selection--single {
    position: relative;
    height: 48px;
    background: rgba($white, .2);
    border: none;
    border-radius: 60px;
    outline: 0;

    .select2-selection__rendered {
      padding: 0 40px 0 23px;
      display: flex;
      height: 100%;
      align-items: center;
      font-size: 14px;
      line-height: 1;
      font-weight: 600;
      color: rgba($white, .6);
    }

    .select2-selection__placeholder {
      font-size: 14px;
      line-height: 1;
      font-weight: 600;
      color: rgba($white, .6);
    }

    .select2-selection__arrow {
      position: absolute;
      top: calc(50% - 5px);
      right: 23px;
      display: block;
      width: 14px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.88971L7.11035 7L12.2206 1.88971' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");

      b {
        display: none;
      }
    }
  }

  &.select2-container--open.select2-container--below {

    .select2-selection--single,
    .select2-selection--multiple {
      border-radius: 25px 25px 0 0;
    }

    .select2-selection--single .select2-selection__arrow {
      transform: rotate(180deg);
    }
  }

  &.select2-container--open.select2-container--above {

    .select2-selection--single,
    .select2-selection--multiple {
      border-radius: 0 0 25px 25px;
    }

    .select2-selection--single .select2-selection__arrow {
      transform: rotate(180deg);
    }
  }

  .select2-results__option--selected {
    color: $purple;
    background-color: $gray;
  }
}

.select2-dropdown {
  z-index: 99999;
  background: rgba($white, .2);
  border: none;
  border-radius: 25px;
  -x-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  &--dark {
    background: #f2f2f4;
    -x-backdrop-filter: none;
    backdrop-filter: none;

    .select2-results__option {
      color: rgba($purple, .6);

      &--selected {
        color: $purple;
        background-color: $gray;
      }
    }
  }
}

.select2-results {

  &__option {
    margin-bottom: 0;
    padding: 10px 23px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgba($white, .6);
  }
}

.select2-selection[aria-disabled='true'] {
  opacity: .5;
}

.select2-container--default .select2-selection--multiple {
  position: relative;
  padding: 0;
  display: flex;
  height: 48px;
  align-items: center;
  background: rgba($gray, .2);
  border: none !important;
  border-radius: 60px;
  outline: 0;

  .select2-search__field {
    margin: 0;
    padding: 0 23px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    color: $dark;

    @include placeholder(rgba($purple, .6));

    &::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 18px;
    }

    &::-moz-placeholder {
      font-size: 14px;
      line-height: 18px;
    }

    &:-ms-input-placeholder {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .select2-selection__rendered {
    position: relative;
    margin: 0;
    display: flex;
    overflow: hidden;
    border-radius: 60px;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 30px;
      height: 100%;
      content: '';
      background: linear-gradient(to left, #f2f2f4, transparent);
    }
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 0 5px 0 0;
  flex-shrink: 0;
  font-size: 16px;
  background: transparent;
  border: 0;

  .select2-selection__choice__remove {
    border-right: 0;
  }
}

//Perfect Scrollbar
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1;
}

.ps__rail-y {
  opacity: 1;
}

.ps--active-y > .ps__rail-y {
  width: 8px;
  background: rgba($gray, .2);
}

.ps__thumb-y {
  right: 0;
  width: 8px;
  background: $dark;
  border-radius: 0;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 8px;
  background: $dark;
}

/* Fancybox */

.fancybox-close-small {
  top: 24px !important;
  right: 24px !important;
  padding: 0 !important;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/modal-close.svg) no-repeat center;
  background-size: contain;

  svg {
    display: none;
  }
}
