.audience {
  position: relative;
  margin-bottom: 140px;

  @include media-breakpoint-down(md) {
    margin-bottom: 80px;
  }

  &__icon-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-45%) translateX(-60%);

    @include media-breakpoint-down(md) {
      opacity: .6;
      transform: translateY(-45%) translateX(0) scale(.5);
      transform-origin: left center;
    }
  }

  &__icon {
  }

  &__text {
    position: relative;
    z-index: 1;
  }

  &--first {

    .audience__icon-wrapper {
      transform: translateY(-60%) translateX(-60%);

      @include media-breakpoint-down(md) {
        opacity: .6;
        transform: translateY(-45%) translateX(0) scale(.5);
        transform-origin: left center;
      }
    }
  }
}
