mixin faq(data)
  .faq&attributes(attributes)
    a.faq__question(href="#")
      .h6.mb-0= data.title
    .faq__answer
      p Цифровые технологии приобретают все большую важность в экономическом развитии всех стран мира без исключения. В процесс модернизации вовлекаются промышленность и наука, бизнес и власть, общество и образование.
      p Цифровая трансформация в России немыслима без участия регионов, она является комплексной стратегией регионального развития. Приоритетная задача – повышение вовлеченности регионов в реализацию национального проекта «Цифровая экономика» и обеспечение учета их реальных возможностей и интересов
