.faq {
  margin-bottom: 24px;
  border: 1px solid #c0bdc8;
  border-radius: 20px;

  &__question {
    padding: 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $purple;
    border-radius: 20px;

    @include transition;

    &:after {
      position: relative;
      top: 2px;
      margin-left: 20px;
      display: block;
      width: 12px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/faq-arrow.svg) no-repeat center;
      background-size: contain;

      @include transition;
    }
  }

  &__answer {
    display: none;
  }

  &--active {
    display: flex;
    flex-direction: column;
    background: linear-gradient(95.31deg, #f5f5f5 .52%, #fff1cc 100%);
    border: 0;

    .faq__question {

      &:after {
        transform: rotate(90deg);
      }
    }

    .faq__answer {
      padding: 0 30px;
      display: block;
    }
  }
}
