.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:not(.pagination__item--arrow) {
      display: flex;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 1;
      font-weight: 600;
      color: $purple;
      background-image: url("data:image/svg+xml,%3Csvg width='49' height='48' viewBox='0 0 49 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='%236C5AA4'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='url(%23paint0_radial)'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='url(%23paint1_radial)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(43.9203 15.1579) rotate(109.767) scale(28.6347)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1.81507 26.9474) rotate(26.5651) scale(25.4206)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      border-radius: 20px;
      transition: $transition-base;

      @include media-breakpoint-down(xs) {
        width: 34px;
        height: 34px;
        background-size: 100% 100%;
        border-radius: 14px;
      }

      &:hover {
        opacity: 1;
        color: $white;
        background: radial-gradient(
            47.37% 47.37% at 3.51% 56.14%,
            #3a4bcf 0%,
            rgba(60, 79, 211, 0) 100%
          ),
          radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
          #6c5aa4;
      }
    }

    &:not(:last-child) {
      margin-right: 16px;

      @include media-breakpoint-down(xs) {
        margin-right: 5px;
      }
    }

    &--arrow {
      width: 48px;
      height: 48px;

      @include media-breakpoint-down(xs) {
        width: 34px;
        height: 34px;
        background-size: 100% 100%;
      }
    }

    &--arrow-left {
      background-image: url("data:image/svg+xml,%3Csvg width='49' height='48' viewBox='0 0 49 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' fill='%236C5AA4'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' fill='url(%23paint0_radial)'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' fill='url(%23paint1_radial)'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='%236C5AA4'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='url(%23paint2_radial)'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='url(%23paint3_radial)'/%3E%3Cpath d='M28.6309 15L19.1309 24.5L28.6309 34' stroke='white' stroke-width='3'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(43.9203 15.1579) rotate(109.767) scale(28.6347)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1.81507 26.9474) rotate(26.5651) scale(25.4206)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint2_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(43.9203 15.1579) rotate(109.767) scale(28.6347)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint3_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1.81507 26.9474) rotate(26.5651) scale(25.4206)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--arrow-right {
      background-image: url("data:image/svg+xml,%3Csvg width='49' height='48' viewBox='0 0 49 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' fill='%236C5AA4'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' fill='url(%23paint0_radial)'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' fill='url(%23paint1_radial)'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='%236C5AA4'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='url(%23paint2_radial)'/%3E%3Crect x='0.630859' y='0.5' width='47' height='47' rx='19.5' stroke='url(%23paint3_radial)'/%3E%3Cpath d='M19.1309 15L28.6309 24.5L19.1309 34' stroke='white' stroke-width='3'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(43.9203 15.1579) rotate(109.767) scale(28.6347)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1.81507 26.9474) rotate(26.5651) scale(25.4206)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint2_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(43.9203 15.1579) rotate(109.767) scale(28.6347)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint3_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1.81507 26.9474) rotate(26.5651) scale(25.4206)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
}
