
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/city/city.pug
include ../blocks/drag/drag.pug
include ../blocks/calendar/calendar.pug
include ../blocks/speaker/speaker.pug
include ../blocks/news/news.pug
include ../blocks/video/video.pug
include ../blocks/card/card.pug
include ../blocks/announcement/announcement.pug
include ../blocks/step/step.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/select/select.pug
include ../blocks/link-back/link-back.pug
include ../blocks/search/search.pug
include ../blocks/program/program.pug
include ../blocks/item/item.pug
include ../blocks/article/article.pug
include ../blocks/question/question.pug
include ../blocks/chat/chat.pug
include ../blocks/session/session.pug
include ../blocks/msg/msg.pug
include ../blocks/filters-list/filters-list.pug
include ../blocks/filter/filter.pug
include ../blocks/pagination/pagination.pug
include ../blocks/audience/audience.pug
include ../blocks/feature/feature.pug
include ../blocks/competition-step/competition-step.pug
include ../blocks/direction/direction.pug
include ../blocks/slider/slider.pug
include ../blocks/slide/slide.pug
include ../blocks/criteria/criteria.pug
include ../blocks/document/document.pug
include ../blocks/popup/popup.pug
include ../blocks/project/project.pug
include ../blocks/info/info.pug
include ../blocks/event/event.pug
include ../blocks/switch/switch.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/reason/reason.pug
include ../blocks/bg/bg.pug
include ../blocks/mentor/mentor.pug
include ../blocks/meeting/meeting.pug
include ../blocks/meeting-link/meeting-link.pug
include ../blocks/faq/faq.pug
include ../blocks/employee/employee.pug
include ../blocks/networking-card/networking-card.pug
include ../blocks/modal/modal.pug
include ../blocks/date/date.pug
include ../blocks/accordion/accordion.pug
include ../blocks/picture/picture.pug
include ../blocks/live-sessions/live-sessions.pug