.input {
  padding: 0 23px;
  width: 100%;
  height: 48px;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: $white;
  background: rgba($white, .2);
  border: 0;
  border-radius: 60px;
  transition: $transition-base;

  @include placeholder(rgba($white, .6));

  &::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 18px;
  }

  &::-moz-placeholder {
    font-size: 14px;
    line-height: 18px;
  }

  &:-ms-input-placeholder {
    font-size: 14px;
    line-height: 18px;
  }

  &:focus {
    color: $purple;
    background: $white;
  }

  &.is-active {
    color: $white;
    background: transparent;
    border: 2px solid $white;

    &:focus {
      color: $purple;
      background: $white;
      border-color: #fff;
    }
  }

  &--textarea {
    padding: 15px 23px;
    height: 148px;
    resize: none;
    border-radius: 20px;
  }

  &--textarea-sm {
    height: 98px;
  }
}
