.mentor {
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid $gray;

  &__photo {
    position: relative;
    padding-top: 125.74%;
    overflow: hidden;
    border-radius: 20px;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      padding-top: 0;
      max-width: 272px;
      height: 342px;
    }
  }

  &__photo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
  }

  &__header {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
  }

  &__header-left {
  }

  &__header-right {
  }

  &__dscr {
    max-width: 95%;
  }

  &__btn {
    width: 100%;
    max-width: 350px;
    box-shadow: 0 23px 48px rgba(165, 72, 0, .38);
  }
}
