mixin mentor(data)
  .mentor&attributes(attributes)
    .row
      .col-lg-3
        .mentor__photo
          img.mentor__photo-img(src="./img/" + data.photo, alt)
      .col-lg-9
        .mentor__content
          .mentor__header
            .mentor__header-left
              p.text-purple.font-weight-semibold.mb-10 Виктория Бокунчикова
              p.sm.semi-transparent.text-purple.mb-10 Министерство информационных технологий и связи московской области
              p.sm.mb-0 Операционный директор
            .mentor__header-right
              if data && data.slots
                p.md.font-weight-bold Свободно 
                  span.text-primary 5 
                  | временных слотов
              else
                p.md.font-weight-bold.semi-transparent Нет свободных временных слотов
          .mentor__content
            p.md.mentor__dscr Советник Генерального Директора Фонда Международного Медицинского Кластера. Прицельно занимаюсь развитием биотехнопарка ММК. Большой опыт в трансляционной медицине, в планировании и экспертизе клинических исследований (КИ), экспертизе досье лекарственных препаратов, проходящих различные стадии КИ. Практикующий терапевт и кардиолог, к.м.н. Член редколлегии журнала «Качественная клиническая практика». Член и ментор экспертного совета Фонда «Сколково». Эксперт Фонда содействия развитию малых форм предприятий в научно-технической сфере. Эксперт Росздравнадзора. Консультирую проекты, имеющие международных партнеров, в рамках служебных обязанностей (наполнение Биотехнопарка ММК). Ввиду ограниченности во времени, как частный эксперт не консультирую проекты про боно (при этом первичная консультация на площадке Стартап Вилидж, разумеется, бесплатна для участников).
            a.btn.btn-secondary.mentor__btn(href="#modal", data-fancybox) Записаться
