.picture {
  position: relative;
  overflow: hidden;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    filter: grayscale(1);
  }

  &--vertical {
    padding-top: 127.57%;
  }

  &--rounded {
    border-radius: 20px;
  }
}
