.employee {
  margin-bottom: 50px;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    margin-bottom: 30px;
  }

  &__photo {
    position: relative;
    margin-bottom: 20px;
    padding-top: 125%;
    overflow: hidden;
    border-radius: 20px;
  }

  &__photo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    filter: grayscale(1);
  }

  &__content {
  }

  &__name {
    line-height: 1.2;
    word-spacing: 100vw;
  }

  &__email {
  }
}
