mixin employee(data)
  .employee&attributes(attributes)
    .employee__photo
      img.employee__photo-img(src="./img/" + data.photo, alt)
    .employee__content
      p.text-purple.font-weight-semibold.employee__name.mb-15= data.name
      p.md.font-weight-normal.mb-15= data.occupation
      a.p.sm.employee__email(href="#")= data.email
