mixin accordion(data)
  .accordion&attributes(attributes)
    a.accordion__header(href="#")
      h5.text-white.mb-0= data.title
    .accordion__content
      .accordion__wrapper
        if block
          block
