.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__header {
    //    background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #3a4bcf 0%, rgba(60, 79, 211, 0) 100%), #6c5aa4;
    padding: 15px 20px;
    display: flex;
    align-items: baseline;
    //    background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%), radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%), #6c5aa4;
    background: linear-gradient(129deg, rgba(0, 0, 0, .5) 2.14%, rgba(0, 0, 0, .5) 100%);
    border-radius: 20px;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    &:after {
      position: relative;
      top: 2px;
      margin-left: 20px;
      display: block;
      width: 25px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/arrow-down.svg) no-repeat center;
      background-size: contain;
    }

    &--active {

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    margin-top: 30px;
    display: none;

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
