.project {
  margin-bottom: 40px;

  &__company {

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }

  &__box {
    position: relative;
    margin-bottom: 18px;
    padding: 10px;
    padding-top: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: 20px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 90%;
      max-height: 90%;
      transform: translate(-50%, -50%);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__country {
    color: rgba($white, .5);
  }

  &__like {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 11px;
    font-weight: 600;
    letter-spacing: -.03em;
    color: $white;
    font-feature-settings: 'pnum' on, 'lnum' on;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }

    &:after {
      margin-left: 6px;
      display: block;
      width: 25px;
      min-width: 25px;
      height: 21px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1709 0.520264C9.4859 0.520264 12.1709 3.08042 12.1709 6.23868C12.1709 3.08042 14.8559 0.520264 18.1709 0.520264C21.4859 0.520264 24.1709 3.08042 24.1709 6.23868C24.1709 10.9987 19.3199 12.6777 12.7589 20.2546C12.6867 20.3379 12.5966 20.4047 12.4951 20.4506C12.3935 20.4965 12.2829 20.5203 12.1709 20.5203C12.0589 20.5203 11.9483 20.4965 11.8467 20.4506C11.7452 20.4047 11.6551 20.3379 11.5829 20.2546C5.0219 12.6777 0.170898 10.9987 0.170898 6.23868C0.170898 3.08042 2.8559 0.520264 6.1709 0.520264Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}
