mixin project(data)
  .project&attributes(attributes)
    a.project__box(href="#")
      img(src="./img/" + data.logo alt)
    .project__footer
      div
        a.p.project__company.font-weight-semibold.text-white.mb-5(href="#") ВымпелКом
        p.project__country.font-weight-semibold.sm.mb-0 Россия
      a.project__like(href="#") 15
