mixin calendar(data)
  .calendar&attributes(attributes)
    .calendar__content
      .calendar__item
        +announcement({
          city: 'Краснодар',
          month: 'Январь'
        })
      .calendar__item
        +announcement({
          city: 'Уфа',
          month: 'Февраль'
        })
      .calendar__item
        +announcement({
          city: 'Тверь',
          month: 'Март'
        })
      .calendar__item
        +announcement({
          city: 'Краснодар',
          month: 'Январь'
        })
      .calendar__item
        +announcement({
          city: 'Уфа',
          month: 'Февраль'
        })
      .calendar__item
        +announcement({
          city: 'Тверь',
          month: 'Март'
        })
