.calendar {
  margin: 0 auto 58px;
  display: flex;
  overflow: hidden;
  max-width: 1038px;
  height: 712px;
  background: url(../img/russia.svg) no-repeat center;
  background-size: contain;

  @include media-breakpoint-down(sm) {
    height: 400px;
  }

  &__content {
    margin: 100px auto 0;
    max-width: 33.33%;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    .slick-list {
      display: flex;
      overflow: visible;
      height: 100%;

      @include media-breakpoint-down(sm) {
        overflow: hidden;
      }
    }

    .slick-track {
      display: flex;
    }

    .slick-arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      width: 29px;
      height: 626px;
      font-size: 0;
      transform: translateY(-50%);

      @include media-breakpoint-down(sm) {
        height: 300px;
      }

      &.slick-prev {
        left: -20px;
        width: 100%;
        background: url(../img/fancy-arrow-left.svg) no-repeat right center;
        background-size: contain;
        transform: translateY(-50%) translateX(-100%);

        @include media-breakpoint-down(sm) {
          left: 0;
          width: 28px;
          transform: translateY(-50%);
        }
      }

      &.slick-next {
        right: -20px;
        width: 100%;
        background: url(../img/fancy-arrow-right.svg) no-repeat left center;
        background-size: contain;
        transform: translateY(-50%) translateX(100%);

        @include media-breakpoint-down(sm) {
          right: 0;
          width: 28px;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__item {
    position: relative;
    display: flex !important;
    height: auto;
    justify-content: center;
    align-items: center;

    &.slick-active {

      .announcement {

        &:focus,
        &:active {
          outline: none !important;
        }

        .announcement__wrapper {
          width: 216px;
          height: 216px;
        }
      }

      .announcement__city {
        font-size: 29px;
        font-weight: 600;
      }

      .announcement__date {
        position: static;
        height: auto;
        opacity: 1;
      }
    }
  }
}
