.article {
  padding: 50px 0;

  &__content {

    h3 {
      margin-bottom: 30px;
    }

    h5 {
      margin-top: 40px;
      margin-bottom: 15px;
    }

    ul {
      margin-top: 30px;
      padding-left: 0;

      li {
        display: flex;
        list-style: none;
      }

      li:before {
        margin-top: 9px;
        margin-right: 20px;
        display: block;
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        content: '';
        background: radial-gradient(
            47.37% 47.37% at 3.51% 56.14%,
            #3a4bcf 0%,
            rgba(60, 79, 211, 0) 100%
          ),
          radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
          #6c5aa4;
        border-radius: 50%;

        @include media-breakpoint-down(sm) {
          margin-right: 10px;
        }
      }
    }
  }

  &__picture {
    margin: 40px 0 55px;
    padding: 85px;
    background: url(../img/article-picture.png) no-repeat center;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      padding: 30px;
    }
  }

  &__contacts {
    margin-bottom: 40px;
  }

  &__contacts-item {
    margin-bottom: 20px;
  }
}
