.bg {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(../img/bg.svg) 0 0 no-repeat;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    background: #571d6b url(../img/bg-mob.svg) top -1500px center;
  }

  &--default {
    overflow: hidden;

    &:before {
      position: absolute;
      top: -71px;
      right: -49px;
      display: block;
      width: 752px;
      height: 647px;
      content: '';
      background: url(../img/bg-figures.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &--registration {
    background: url(../img/bg-registration.svg) 0 0 no-repeat;
    background-size: cover;
  }

  &--page {
    background: url(../img/bg-registration.svg) 0 0 no-repeat;
    background-size: cover;
  }

  &--tour {
    background: url(../img/bg-tour.svg) 0 0 no-repeat;
    background-size: cover;
  }

  &--competition {
    background: url(../img/bg-competition.svg) 0 0 no-repeat;
    background-size: cover;
  }

  &--expo {
    background: url(../img/bg-registration.svg) 0 0 no-repeat;
    background-size: cover;
  }

  &--white {
    background: #fff;
  }
}
