/* Стандартный transition для hover-анимаций */

@mixin transition {
  transition: $transition-base;
}

/* Миксин замены цвета placeholder у input.
Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000); */
@mixin placeholder($color) {

  &::-webkit-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

/* Fix for Fancybox */

@function max($numbers...) {

  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {

  @return m#{i}n(#{$numbers});
}

@mixin make-container-fluid-left-right($gutter: $grid-gutter-width) {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}

@mixin make-container-fluid-left(
  $max-widths: $container-max-widths,
  $breakpoints: $grid-breakpoints
) {

  @each $breakpoint, $container-max-width in $max-widths {

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      margin-right: calc((100% - #{$container-max-width}) / 2);
      max-width: calc(100% - ((100% - #{$container-max-width}) / 2));
    }
  }
}

@mixin make-container-fluid-right(
  $max-widths: $container-max-widths,
  $breakpoints: $grid-breakpoints
) {

  @each $breakpoint, $container-max-width in $max-widths {

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      margin-left: calc((100% - #{$container-max-width}) / 2);
      max-width: calc(100% - ((100% - #{$container-max-width}) / 2));
    }
  }
}
