.switch {
  padding: 8px;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(
    129deg,
    rgba(255, 255, 255, .5) 2.14%,
    rgba(196, 196, 196, .5) 100%
  );
  border-radius: 24px;

  .custom-control {
    padding: 0;
    min-height: 32px;
  }

  .custom-control-label {
    padding: 7px 18px;
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    color: $purple;
    border-radius: 24px;
    cursor: pointer;

    &:before,
    &:after {
      display: none;
    }
  }

  .custom-control-input {

    &:checked ~ .custom-control-label {
      color: $white;
      background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
        radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
        #6c5aa4;
    }
  }
}
