mixin date(data)
  .date&attributes(attributes)
    .date__content
      .h6.text-white.mb-15 Тверь
      p.md.text-white.font-weight-normal.mb-10 Дата проведения: 
        span.font-weight-semibold 20 мая
      p.md.text-white.font-weight-normal.mb-0 Прием заявок: 
        span.font-weight-semibold до 14 мая
