.date {
  position: relative;
  margin-bottom: 30px;
  padding: 25px 25px 30px;
  border-radius: 20px;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .8;
    content: '';
    background: linear-gradient(129deg, rgba(0, 0, 0, .5) 2.14%, rgba(0, 0, 0, .5) 100%);
    border-radius: 20px;
  }

  &__content {
    position: relative;
    z-index: 1;
  }
}
