.info {
  padding: 19px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #c0bdc8;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  &:first-child {
    padding-top: 0;
  }

  &__wrapper {

    &--exponent {

      .info {

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &__header {
    margin-right: 20px;
  }

  &__number {
  }
}
