.live-sessions {
  margin-bottom: 60px;
  margin-left: -20px;
  width: calc(100% + 40px);

  &__wrapper {
    overflow: hidden;
  }

  .slick-slide {
    margin: 0 20px;
    outline: 0;
  }

  .slick-list {
    margin: 0;
    padding-left: 0;
  }

  .slick-arrow {
    position: absolute;
    top: -63px;
    width: 33px;
    height: 18px;
    text-indent: -9999px;
    background-color: transparent;

    @include transition;

    @include media-breakpoint-down(xs) {
      top: -43px;
    }

    &:hover {
      opacity: .8;
    }
  }

  .slick-prev {
    right: 81px;
    background: url(../img/arrow-dark.svg) no-repeat center;
    background-size: contain;
  }

  .slick-next {
    right: 7px;
    background: url(../img/arrow-dark.svg) no-repeat center;
    background-size: contain;
    transform: rotate(180deg);
  }
}
