.search {
  position: relative;
  width: 272px;

  &__btn {
    position: absolute;
    top: 16px;
    left: 16px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M7.04606 0C3.16097 0 0 3.16097 0 7.04606C0 10.9314 3.16097 14.0921 7.04606 14.0921C10.9314 14.0921 14.0921 10.9314 14.0921 7.04606C14.0921 3.16097 10.9314 0 7.04606 0ZM7.04606 12.7913C3.87816 12.7913 1.30081 10.214 1.30081 7.04609C1.30081 3.87819 3.87816 1.30081 7.04606 1.30081C10.214 1.30081 12.7913 3.87816 12.7913 7.04606C12.7913 10.214 10.214 12.7913 7.04606 12.7913Z' fill='%2338304F'/%3E%3Cpath d='M15.8095 14.8897L12.0805 11.1607C11.8264 10.9066 11.4149 10.9066 11.1608 11.1607C10.9067 11.4146 10.9067 11.8265 11.1608 12.0804L14.8898 15.8094C15.0168 15.9364 15.1831 16 15.3496 16C15.5159 16 15.6824 15.9364 15.8095 15.8094C16.0636 15.5555 16.0636 15.1436 15.8095 14.8897Z' fill='%2338304F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__input {
    padding: 0 10px 0 45px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    line-height: 24px;
    color: $purple;
    border: 2px solid $gray;
    border-radius: 60px;
    transition: $transition-base;

    &::placeholder {
      opacity: 1;
      color: rgba(#2b2a29, .5);
    }
  }

  &--dark {

    .search__input {
      background: rgba($white, .2);
      border: none;

      &::placeholder {
        color: $purple;
      }
    }
  }
}
