.criteria {

  &__header {
    padding: 20px 0 24px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -.03em;
    color: $white;
    border-bottom: 1px solid rgba($dark, .45);
    cursor: pointer;

    @include media-breakpoint-down(xs) {
      font-size: 18px;
    }

    &.is-active {

      &:before {
        transform: rotate(90deg);
      }
    }

    &:before {
      margin-right: 36px;
      display: block;
      width: 13px;
      min-width: 13px;
      height: 19px;
      min-height: 19px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='19' viewBox='0 0 13 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 17.6543L10 9.6543L2 1.6543' stroke='%2338304F' stroke-width='3'/%3E%3C/svg%3E%0A");
      transition: $transition-base;

      @include media-breakpoint-down(xs) {
        margin-right: 20px;
      }
    }

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__content {
    padding: 32px 0 0;
    display: none;
    border-bottom: 1px solid rgba($dark, .45);
  }

  &__content-item {
    width: 20%;

    @include media-breakpoint-down(md) {
      width: 25%;
    }

    @include media-breakpoint-down(xs) {
      width: 50%;
    }
  }
}
