mixin criteria(data)
  .criteria&attributes(attributes)
    .criteria__header(class=(data && data.expand ? 'is-active' : ''))= data.title
    .criteria__content(style=(data && data.expand ? 'display: block;' : ''))
      .row
        .criteria__content-item.col-auto
          h5.text-white.mb-25 5 баллов
          p.sm.text-white инновационная или прорывная технология в мировом масштабе, способная изменить технологии в отрасли
        .criteria__content-item.col-auto
          h5.text-white.mb-25 4 балла
          p.sm.text-white сходные решения находятся в стадии пилотов в мире, в Российской Федерации отсутствуют
        .criteria__content-item.col-auto
          h5.text-white.mb-25 3 балла
          p.sm.text-white сходные решения находятся в стадии пилотов в Российской Федерации
        .criteria__content-item.col-auto
          h5.text-white.mb-25 2 балла
          p.sm.text-white аналогичные решения отсутствуют в Российской Федерации, но уже применяются в мире
        .criteria__content-item.col-auto
          h5.text-white.mb-25 1 балл
          p.sm.text-white аналогичные решения уже широко применяются в Российской Федерации и в мире
