mixin item(data)
  .item&attributes(attributes)
    .item__header
      .item__header-left
        .p.text-purple.sm.mb-0= data.time
        if data && data.modifier == 'link'
        else
          a.item__play(href="#")
      if data && data.modifier == 'link'
      else
        .item__header-right
          .p.text-purple.sm.mb-0 Зал "Средний"
          a.item__star(href="#")
    .item__content
      a.h6.text-purple.item__title.mb-0(href="#")= data.title
      if data && data.dscr
        p.text-purple.sm.item__dscr.mt-15!= data.dscr
      if data && data.speakers
        .item__speakers
          .p.sm.semi-transparent.mb-0.mr-15 Спикеры:
          a.p.sm.font-weight-bold.text-secondary.mr-20.mb-10(href="#") Игорь Мезенцев
          a.p.sm.font-weight-bold.text-secondary.mr-20.mb-10(href="#") Илья Оверов
          a.p.sm.font-weight-bold.text-secondary.mr-20.mb-10(href="#") Татьяна Исмаиловская
      if data && data.modifier == 'link'
        +meeting-link
