.item {
  margin-bottom: 15px;
  padding: 20px 20px 25px 25px;
  border: 1px solid rgba(#c0bdc8, .8);
  border-radius: 20px;

  @include media-breakpoint-down(xs) {
    padding: 15px;
  }

  &__header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__play {
    margin-left: 16px;
    width: 25px;
    height: 25px;
    background: url(../img/play.svg) no-repeat center;
    background-size: contain;
    border-radius: 50%;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__header-right {
    display: flex;
    align-items: center;
  }

  &__star {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    background: url(../img/star.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__content {
  }

  &__title {

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__dscr {
    margin-bottom: 20px;
    line-height: 1.43 !important;
    font-weight: 400 !important;
  }

  &__speakers {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &--active {
    background: linear-gradient(95.31deg, #f5f5f5 .52%, #fff1cc 100%);
    border: 0;

    .item__star {
      background: url(../img/star-filled.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--link {

    .item__content {
      margin-top: 18px;
    }
  }
}
