.footer {
  padding: 53px 0 57px;
  background: $white;

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__copyright {
    font-size: 11px;
    line-height: 130%;
    font-weight: 500;
    text-align: right;
    color: rgba($black, .5);

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }
  }

  .socials {

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}
