mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrapper
        +logo.logo--dark
        a.btn.btn-outline-primary(href="#") Участвовать
        +socials({
          items: ['ig', 'vk', 'tw', 'fb', 'tg']
        }).socials--dark
        .footer__copyright © Startup Tour 2020. Все права защищены | info@startup-tour.ru | +7 (495) 956-00-33
