mixin speaker(data)
  .speaker&attributes(attributes)
    a.speaker__picture-wrapper(href="#")
      img.speaker__picture(src="./img/" + data.photo, alt)
    .speaker__content
      if data && data.icon
        .speaker__icon-wrapper
          img.speaker__icon(src="./img/" + data.icon, alt)
      .speaker__content-top
        .speaker__content-top-left
          a.speaker__name(href="#")= data.name
          p.sm.text-white.my-10 Операционный директор
          .speaker__company= data.company
      if data && data.modifier != 'front'
        .speaker__content-bottom
          .speaker__content-bottom-info
            p.sm.text-white.semi-transparent Россия
          .speaker__controls
            if data && data.modifier == 'profile'
              a.speaker__btn.speaker__btn--profile(href="#")
            a.speaker__btn.speaker__btn--chat(href="#")
            
