.speaker {
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;

  &__picture-wrapper {
    position: relative;
    padding-top: 126%;
    display: block;
    overflow: hidden;

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(360deg, rgba(0, 0, 0, .67) -1.97%, rgba(0, 0, 0, 0) 100%);
      border-radius: 20px;
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 24px 23px 32px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      content: '';
      background: url(../img/speaker-bg.png) no-repeat center;
      background-size: cover;
      border-radius: 20px;

      @include transition;
    }
  }

  &__content-top {
    position: relative;
    z-index: 1;

    @include transition;
  }

  &__content-top-left {
  }

  &__name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    word-spacing: 100vw;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }

  &__company {
    margin-top: 13px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $gray;
  }

  &__icon-wrapper {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 19px;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background: $purple;
    border-radius: 10px;

    @include transition;
  }

  &__icon {
  }

  &__content-bottom {
    position: relative;
    z-index: 1;
    margin-top: 10px;
    display: none;
    flex-grow: 1;
  }

  &__content-bottom-info {
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  &__btn {
    width: 55px;
    height: 55px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    & + & {
      margin-left: 30px;
    }

    &--profile {
      background: url(../img/speaker-profile.svg) no-repeat center;
      background-size: contain;
    }

    &--chat {
      background: url(../img/speaker-chat.svg) no-repeat center;
      background-size: contain;
    }
  }

  &:hover {

    .speaker__content {
      justify-content: flex-start;

      &:before {
        opacity: .9;
      }
    }

    .speaker__company {
      overflow: visible;
      white-space: normal;
      text-overflow: inherit;
    }

    .speaker__content-bottom {
      display: flex;
      flex-direction: column;
    }

    .speaker__icon-wrapper {
      transform: scale(1.3);
    }
  }

  &--front {
    overflow: visible;

    &:hover {

      .speaker__picture-wrapper {
        transform: scale(1.28);

        &:after {
          opacity: 1;
        }
      }

      .speaker__name {
        text-decoration: underline;
      }
    }

    .speaker__picture-wrapper {
      margin-bottom: 55px;
      padding-top: 0;
      overflow: visible;
      width: 200px;
      height: 200px;
      border-radius: 50%;

      @include transition;

      &:before {
        display: none;
      }

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 110%;
        height: 110%;
        opacity: 0;
        content: '';
        background: url(../img/speaker-ring.svg) no-repeat center;
        background-size: contain;
        transform: translate(-50%, -50%);

        @include transition;
      }
    }

    .speaker__picture {
      border-radius: 50%;
    }

    .speaker__content {
      position: static;
      padding: 0;

      &:before {
        display: none;
      }
    }

    .speaker__name {
      font-size: 24px;
    }

    .speaker__company {
      margin-top: 18px;
      overflow: visible;
      font-size: 16px;
      white-space: normal;
      text-overflow: inherit;
      color: rgba(#fff, .5);
    }
  }
}
