.document {
  margin-bottom: 20px;
  display: flex;

  &:before {
    margin-top: 2px;
    margin-right: 20px;
    display: block;
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    content: '';
    background: url(../img/document.svg) no-repeat center;
    background-size: contain;
  }

  &__content {
  }

  &__title {
    margin-bottom: 5px;
    display: block;
    color: $purple;

    @include transition;
  }

  &__dscr {
    margin-bottom: 0;
    display: block;
    font-weight: 400;
    color: $secondary;

    @include transition;

    &:hover {
      text-decoration: none !important;
    }
  }

  &--pdf {

    &:before {
      background: url(../img/document-pdf.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--white {

    .document__content {
      color: #fff;
    }

    .document__title {
      color: #fff;
    }

    .document__dscr {
      text-decoration: underline;
      color: #fff;
    }
  }
}
