.card {
  margin-bottom: 38px;
  padding: 24px;
  width: 100%;
  background: #fff;
  border-radius: 20px;

  &__picture-wrapper {
    margin-bottom: 30px;
    width: 165px;
    height: 157px;
  }

  &__picture {
    max-width: 100%;
  }
}
