mixin card(data)
  .card&attributes(attributes)
    if data && data.picture
      .card__picture-wrapper
        img.card__picture(src="./img/" + data.picture, alt)
    a.h5.text-secondary.d-block.mb-0(href="#")= data.title
    if data && data.dscr
      if data && data.modifier == 'sm'
        p.sm.mt-10.mb-0!= data.dscr
      else
        p.sm.mt-20.mb-0!= data.dscr
    if data && data.modifier == 'btn'
      a.btn.btn-outline-primary.mt-20(href="#") Участвовать
