mixin partners(data)
  .partners&attributes(attributes)
    .container
      h4.mb-30.mb-lg-45 Наши партнеры
      .partners__section
        p.sm.mb-15 Соорганизаторы
        .row.mb-30.mb-lg-50
          .col-xl-2.col-lg-3.col-sm-4.col-6.text-center
            a.partners__item-wrapper(href="#")
              img.partners__item(src="./img/partner-1.png", alt)
          .col-xl-2.col-lg-3.col-sm-4.col-6.text-center
            a.partners__item-wrapper(href="#")
              img.partners__item(src="./img/partner-2.png", alt)
          .col-xl-2.col-lg-3.col-sm-4.col-6.text-center
            a.partners__item-wrapper(href="#")
              img.partners__item(src="./img/partner-3.png", alt)
          .col-xl-2.col-lg-3.col-sm-4.col-6.text-center
            a.partners__item-wrapper(href="#")
              img.partners__item(src="./img/partner-4.png", alt)
          .col-xl-2.col-lg-3.col-sm-4.col-6.text-center
            a.partners__item-wrapper(href="#")
              img.partners__item(src="./img/partner-5.png", alt)
          .col-xl-2.col-lg-3.col-sm-4.col-6.text-center
            a.partners__item-wrapper(href="#")
              img.partners__item(src="./img/partner-6.png", alt)
      .partners__section
        p.sm.mb-15 Партнеры
        .row
          .col-xl-2.col-lg-3.col-sm-4.col-6.text-center
            a.partners__item-wrapper(href="#")
              img.partners__item(src="./img/partner-7.png", alt)
