.partners {
  padding: 70px 0;
  background: $white;
  border-bottom: 1px solid rgba($dark, .45);

  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  h4,
  p {
    color: $black;
  }

  &__item-wrapper {

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__item {
    margin: 10px 0;
  }

  &--big {
    border-bottom: 0;

    .partners__item {
      margin-bottom: 55px;
    }
  }
}
