mixin program(data)
  .program&attributes(attributes)
    .container
      .row
        .col-lg-2.d-none.d-lg-flex
          .program__time
            .program__time-current(style="top: 240px;") Сейчас
            .program__time-item-list
              .program__time-item.p.md 10:00
              .program__time-item.p.md 10:30
              .program__time-item.p.md 11:00
              .program__time-item.p.md 11:30
        .col-lg-10.d-flex
          .program__content
            +item({
              time: '10:00 — 10:15',
              title: 'Официальное открытие и приветственное слово'
            })
            +item({
              time: '10:00 — 11:15',
              title: 'Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»',
              dscr: 'Цифровые технологии приобретают все большую важность в экономическом развитии всех стран мира без исключения. В процесс модернизации вовлекаются промышленность и наука, бизнес и власть, общество и образование. <br>Цифровая трансформация в России немыслима без участия регионов, она является комплексной стратегией регионального развития. Приоритетная задача – повышение вовлеченности регионов в реализацию национального проекта «Цифровая экономика» и обеспечение учета их реальных возможностей и интересов',
              speakers: true
            }).item--active
            +item({
              time: '10:00 — 10:15',
              title: 'Почему люди должны следовать за вами? Навыки и ролевая модель',
              speakers: true
            })
