.program {

  &__time {
    position: relative;
    padding-top: 16px;
    padding-right: 25px;
    width: 100%;
    border-right: 1px solid #c0bdc8;
  }

  &__time-current {
    position: absolute;
    width: 100%;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
      radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
      #6c5aa4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      content: '';
      background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
        radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
        #6c5aa4;
    }

    &:after {
      position: absolute;
      right: -5px;
      bottom: -5px;
      display: block;
      width: 10px;
      height: 10px;
      content: '';
      background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
        radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
        #6c5aa4;
      border-radius: 50%;
    }
  }

  &__time-item-list {
  }

  &__time-item {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
  }

  &__content {
    padding-left: 10px;
    width: 100%;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }
}
