.session {
  margin-bottom: 40px;
  padding: 30px 25px 35px;
  display: block;
  background: url(../img/session-bg.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
