extends ../templates/template.pug
block content
  +header
  .wrapper
    .front
      .container
        .link-back
          a.link-back__arrow(href="#")
        .front__wrapper.front__wrapper--picture
          .front__left
            .row
              .col-lg-9
                h3.text-white.mt-10.mt-lg-60 Стартап-тур проводится в разных городах России с 2011 года 
                .front__article-info
                  .front__article-info-left
                    .p.sm.text-white.semi-transparent.mb-0 25 марта
                  .front__article-share
                    .p.sm.text-white.semi-transparent.mb-0.mr-15.mr-sm-25 Поделиться
                    +socials({
                      items: ['vk', 'fb', 'ig', 'yt']
                    }).socials--white
          .front__right.text-right
            .front__picture-wrapper
              img.front__picture(src="./img/front.png", alt)
    .article
      .container
        .row
          .col-lg-8
            .article__content
              p Владивосток — город и порт на Дальнем Востоке России. Политический, культурный, научно-образовательный и экономический центр региона. Лидер среди городов Приморского края, отличающийся концентрацией трудовых, финансовых и производственных ресурсов.
              p Город расположен в одном из самых густонаселенных регионов планеты. В радиусе 1 тыс. километров проживает 414 млн человек (почти 300 млн человек в городах). Это единственный город в России с таким мощнейшим окружением, которое охватывает города-миллионники в северо-восточных провинциях Китая (Харбин, Чанчунь, Шэньян и т. д.), всю территорию Республики Корея, КНДР и почти всю территорию Японии.
              p Владивосток является опорным центром России на Дальнем Востоке, самым экономически развитым и географически близким к странам АТР российским городом. Он имеет все конкурентные преимущества для позиционирования себя в качестве ключевого игрока среди стран Тихоокеанского бассейна и ведущего центра международного сотрудничества и интеграционных процессов России в Азиатско-Тихоокеанском регионе.
              p Во Владивостоке работают семь генеральных консульств иностранных государств: дипломатические представительства Китая, Японии, Республики Корея, КНДР, США, Индии и Вьетнама, канцелярия посольства Киргизии в России, а также 16 почетных консулов других государств, в том числе и европейских. Ни один другой город России, кроме столиц, не может похвастаться таким вниманием со стороны других стран. Недаром название города означает «владеющий Востоком». Именно здесь формируются евразийские связи, дающие импульс к развитию международных отношений и экономической активности России со странами АТР.
              p Развитие Дальнего Востока России объявлено Президентом РФ стратегическим приоритетом развития России на весь ХХI век, в связи с чем принимаются федеральные законы и вводятся беспрецедентные стимулирующие механизмы развития отдельных территорий. Так, Владивостокскому городскому округу отведена роль ключевого экономического центра Дальневосточного региона, российского центра реализации государственной политики в АТР.
              p На сегодняшний день благодаря активной инвестиционной политике, созданию благоприятных условий и принятию эффективных мер государственной поддержки инвесторов Дальний Восток привлекает значительную долю инвестиций и занимает второе место среди округов РФ по темпам роста инвестиций из-за рубежа.
          .col-lg-3.offset-lg-1.d-none.d-lg-block
            .pt-0.pt-lg-80
              h3.pb-15.border-bottom.mb-40 Может <br>быть <br>интересно
              +news({
                picture: 'news-1.png',
                title: 'Стартап-тур проводится в разных городах'
              }).news--dark
    .border-top.pt-45.pb-40
      .container
        h3.text-purple.mb-30.mb-lg-40 Также читайте
        .row
          .col-lg-3.col-sm-6
            +news({
              picture: 'news-4.png',
              title: 'Стартап-тур проводится в разных городах',
            }).news--dark
          .col-lg-3.col-sm-6
            +news({
              picture: 'news-5.png',
              title: 'Стартап-тур проводится в разных городах России с 2011 годам ',
            }).news--dark
          .col-lg-3.col-sm-6
            +news({
              picture: 'news-6.png',
              title: 'Проводится в разных городах России с 2011 ',
            }).news--dark
    .border-bottom        
  +partners
  +footer
