extends ../templates/template.pug
block content
  .bg.bg--registration
    +header
    .wrapper
      .container
        .link-back.mt-50.mb-30
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 Авторизация
        form.form.mb-75(action="#", method="POST")
          .row
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="email") E-mail
                input.input#email(type="email" placeholder="Введите" name="email")
              .form__item
                label.p.sm.text-white.mb-10(for="password") Пароль
                input.input#password(type="password" placeholder="Введите" name="password")
          .form__footer.form__footer--stable
            button.btn.btn-secondary.btn-secondary--shadow-sm(type="submit") Войти
            a.form__link(href="#") Восстановить пароль
          .form__footer.form__footer--stable
            .form__text Войти через: 
            +socials({
              items: ['vk', 'fb', 'go']
            }).socials--big
    +footer
