extends ../templates/template.pug
block content
  +header
  .wrapper
    .front
      .container
        .link-back
          a.link-back__arrow(href="#")
        .front__wrapper
          .front__left
            h2.text-white.mt-10.mt-lg-35.mb-30 Краснодар
            .row
              .col-lg-8
                p.md.text-white.mb-0 Инновационный центр "Аквариум", Краснодар, ул. Северная, 405
          .front__right.text-right
            h2.text-white.mb-20 12 мая в 13:00
            a.p.sm.text-white.text-underline(href="#") Добавить в календарь
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link(data-toggle='tab' href='#city') О городе
          li.nav-item
            a.nav-link(data-toggle='tab' href='#program') Программа
          li.nav-item
            a.nav-link(data-toggle='tab' href='#speakers') Спикеры
          li.nav-item
            a.nav-link.active(data-toggle='tab' href='#live') Live
          li.nav-item
            a.nav-link(href='profile.html') Mentors Hours
    #myTabContent.tab-content
      #speakers.tab-pane.fade(role='tabpanel')
        .container
          .d-sm-flex.align-items-center.justify-content-between.mt-40.mb-30
            h3.mb-20.mb-sm-0 Спикеры
            +search({
              placeholder: 'Найти спикера'
            })
          .row
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-5.jpeg',
                name: 'Константин Константинопольский',
                company: 'Mail.ru Group',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-6.jpeg',
                name: 'Виктория Бокунчикова',
                company: 'Министерство информационных технологий и связи московской области',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-7.jpeg',
                name: 'Ольга Майер',
                company: 'Mail.ru Group',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-5.jpeg',
                name: 'Константин Константинопольский',
                company: 'Mail.ru Group',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-8.jpeg',
                name: 'Константин Константинопольский',
                company: 'Mail.ru Group',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-9.jpeg',
                name: 'Максим Ворохов',
                company: 'Министерство информационных технологий и связи московской области',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-10.jpeg',
                name: 'Константин Константинопольский',
                company: 'Министерство информационных технологий и связи московской области',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-11.jpeg',
                name: 'Ольга Майер',
                company: 'Mail.ru Group',
                modifier: 'profile'
              })
      #program.tab-pane.fade(role='tabpanel')
        .container
          h3.mt-40.mb-30 Программа
        +program
      #city.tab-pane.fade(role='tabpanel')
        .article.mt-40.mb-40.py-0
          .container
            .row
              .col-lg-9
                .article__content
                  h3 О городе
                  p Владивосток — город и порт на Дальнем Востоке России. Политический, культурный, научно-образовательный и экономический центр региона. Лидер среди городов Приморского края, отличающийся концентрацией трудовых, финансовых и производственных ресурсов.
                  p Город расположен в одном из самых густонаселенных регионов планеты. В радиусе 1 тыс. километров проживает 414 млн человек (почти 300 млн человек в городах). Это единственный город в России с таким мощнейшим окружением, которое охватывает города-миллионники в северо-восточных провинциях Китая (Харбин, Чанчунь, Шэньян и т. д.), всю территорию Республики Корея, КНДР и почти всю территорию Японии.
                  p Владивосток является опорным центром России на Дальнем Востоке, самым экономически развитым и географически близким к странам АТР российским городом. Он имеет все конкурентные преимущества для позиционирования себя в качестве ключевого игрока среди стран Тихоокеанского бассейна и ведущего центра международного сотрудничества и интеграционных процессов России в Азиатско-Тихоокеанском регионе.
                  p Во Владивостоке работают семь генеральных консульств иностранных государств: дипломатические представительства Китая, Японии, Республики Корея, КНДР, США, Индии и Вьетнама, канцелярия посольства Киргизии в России, а также 16 почетных консулов других государств, в том числе и европейских. Ни один другой город России, кроме столиц, не может похвастаться таким вниманием со стороны других стран. Недаром название города означает «владеющий Востоком». Именно здесь формируются евразийские связи, дающие импульс к развитию международных отношений и экономической активности России со странами АТР.
                  p Развитие Дальнего Востока России объявлено Президентом РФ стратегическим приоритетом развития России на весь ХХI век, в связи с чем принимаются федеральные законы и вводятся беспрецедентные стимулирующие механизмы развития отдельных территорий. Так, Владивостокскому городскому округу отведена роль ключевого экономического центра Дальневосточного региона, российского центра реализации государственной политики в АТР.
                  p На сегодняшний день благодаря активной инвестиционной политике, созданию благоприятных условий и принятию эффективных мер государственной поддержки инвесторов Дальний Восток привлекает значительную долю инвестиций и занимает второе место среди округов РФ по темпам роста инвестиций из-за рубежа.
      #live.tab-pane.fade.show.active(role='tabpanel')
        .container.pt-30.pt-lg-70
          .row
            .col-lg-8
              +video({
                picture: 'video-2.png',
                modifier: 'info'
              }).video--info.mb-25
            .col-lg-4.d-flex.order-1.order-lg-0
              +chat.chat--live
          h3.mt-40.mb-25 Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»
          p Цифровые технологии приобретают все большую важность в экономическом развитии всех стран мира без исключения. В процесс модернизации вовлекаются промышленность и наука, бизнес и власть, общество и образование. <br>Цифровая трансформация в России немыслима без участия регионов, она является комплексной стратегией регионального развития. Приоритетная задача – повышение вовлеченности регионов в реализацию национального проекта «Цифровая экономика» и обеспечение учета их реальных возможностей и интересов
          h3.mt-50.mb-25 Спикеры сессии
          .row
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-5.jpeg',
                name: 'Константин Константинопольский',
                company: 'Mail.ru Group',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-6.jpeg',
                name: 'Виктория Бокунчикова',
                company: 'Министерство информационных технологий и связи московской области',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-7.jpeg',
                name: 'Ольга Майер',
                company: 'Mail.ru Group',
                modifier: 'profile'
              })
            .col-xl-3.col-lg-4.col-sm-6
              +speaker({
                photo: 'speaker-5.jpeg',
                name: 'Константин Константинопольский',
                company: 'Mail.ru Group',
                modifier: 'profile'
              })
          .live-sessions__wrapper
            h3.mt-20.mb-20.mb-lg-30 Сессии
            .live-sessions
              +session({
                title: 'Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»'
              })
              +session({
                title: 'Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»'
              })
              +session({
                title: 'Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»'
              })
              +session({
                title: 'Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»'
              })
  .border-top
  +partners
  +footer
