extends ../templates/template.pug
block content
  .bg
    +header
    .wrapper
      .container.mt-20.mt-lg-40
        .link-back.mb-20.mb-lg-55
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 О конкурсе
        .h1.text-white.mb-40.mb-lg-55 Конкурс Open Innovations Startup Tour — это возможность
        .row
          .col-lg-4.col-sm-6
            +feature({
              title: 'Представить свой проект признанным экспертам в области технологий и развития бизнеса'
            })
          .col-lg-4.col-sm-6
            +feature({
              title: 'Побороться за денежный приз в размере 300 000 рублей'
            })
          .col-lg-4.col-sm-6
            +feature({
              title: 'Найти инвестора и партнеров'
            })
          .col-lg-4.col-sm-6
            +feature({
              title: 'Получить призы от партнеров Startup Tour'
            })
          //.col-lg-4.col-sm-6
            +feature({
              title: 'Принять участие в программе «Старт» и получить 2 млн рублей от Фонда содействия инновациям на развитие своего проекта'
            })
          //.col-lg-4.col-sm-6
            +feature({
              title: 'Автоматически попасть в полуфинал конкурса Startup Village — самой крупной стартап- конференции для технологических предпринимателей в России и странах СНГ.'
            })
        .row
          .col-lg-10
            .h1.text-white.mb-40.mb-lg-80 Стать участником конкурса очень просто!
        .row
          .col-xl-3.col-md-6.competition-step__wrapper
            +competition-step({
              number: '1',
              title: 'Регистрируетесь на сайте startup-tour.ru.'
            }).competition-step--1
          .col-xl-3.col-md-6.competition-step__wrapper
            +competition-step({
              number: '2',
              title: 'В личном кабинете нажимаете кнопку «Хочу участвовать в конкурсе»'
            }).competition-step--2
          .col-xl-3.col-md-6.competition-step__wrapper
            +competition-step({
              number: '3',
              title: 'Заполняете заявку и загружаете презентацию своего проекта.'
            }).competition-step--3
          .col-xl-3.col-md-6.competition-step__wrapper
            +competition-step({
              number: '4',
              title: 'Проекты, прошедшие в полуфинал, будут опубликованы на сайте.',
              btn: true
            }).competition-step--4
        .h1.text-white.mt-30.mt-lg-100.mb-30.mb-lg-50 Даты проведения
        .row
          .col-xl-4.col-sm-6
            +date
          .col-xl-4.col-sm-6
            +date
          .col-xl-4.col-sm-6
            +date
          .col-xl-4.col-sm-6
            +date
          .col-xl-4.col-sm-6
            +date
          .col-xl-4.col-sm-6
            +date
      .overflow-hidden
        .container
          .h1.text-white.mt-30.mt-lg-100.mb-30.mb-lg-50 Направления конкурса
          +accordion({
            title: 'Информационные технологии'
          })
            +direction({
              title: 'Кибербезопасность'
            })
            +direction({
              title: 'LegalTech'
            })
            +direction({
              title: 'Финтех'
            })
            +direction({
              title: 'Мобильные технологии и платформы'
            })
            +direction({
              title: 'Интернет вещей'
            })
            +direction({
              title: 'AR/VR'
            })
            +direction({
              title: 'Ритейл будущего'
            })
            +direction({
              title: 'Интеллектуальная робототехника'
            })
            +direction({
              title: 'ИТ-технологии в образовании (Edtech)'
            })
            +direction({
              title: 'ИТ-технологии в HR (HRTech)'
            })
          +accordion({
            title: 'Биотехнологии в медицине и сельском хозяйстве'
          }).mt-20.mt-lg-40
            +direction({
              title: 'Материалы, устройства и изделия для изменения структуры, функции и для визуализации биологических тканей, органов и клеток'
            })
            +direction({
              title: 'Создание лекарств / терапевтических средств'
            })
            +direction({
              title: 'Омиксные технологии и биоинформатика'
            })
            +direction({
              title: 'Клеточная и тканевая терапия'
            })
            +direction({
              title: 'Растениеводство'
            })
            +direction({
              title: 'Животноводство и аквакультура'
            })
            +direction({
              title: 'Промышленная биотехнология в сельском хозяйстве'
            })
            +direction({
              title: 'Переработка продукции сельскохозяйственной промышленности'
            })
            +direction({
              title: 'Лесное хозяйство'
            })
            +direction({
              title: 'Косметика'
            })
            +direction({
              title: 'Парафармацевтика'
            })
            +direction({
              title: 'Информационные технологии в медицине'
            })
          +accordion({
            title: 'Индустриальные и энергетические технологии'
          }).mt-20.mt-lg-40
            +direction({
              title: 'Новые материалы и покрытия'
            })
            +direction({
              title: 'Цифровое производство'
            })
            +direction({
              title: 'Проекты в области навигации, геоинформационных систем и телекоммуникаций'
            })
            +direction({
              title: 'Транспортные и космические системы'
            })
            +direction({
              title: 'Нефтегазовый сектор'
            })
            +direction({
              title: 'Электроэнергетика'
            })
            +direction({
              title: 'Эффективность использования энергоресурсов в ЖКХ, промышленности, транспорте'
            })
      .container.mt-30.mt-lg-85
        .row
          .col-lg-10
            .h1.text-white.mb-20 Обязательные слайды Вашей презентации
        a.btn.btn-secondary(href="#") Скачать шаблон
        .mt-30.mt-lg-55
          +slide({
            number: '1',
            title: 'Проблема (1 слайд)',
            dscr: 'Опишите, чью проблему Вы собираетесь решить: у каких конкретных коммерческих компаний или потребителей она стоит наиболее остро; кто из потребителей подтвердил актуальность проблемы; сколько компаний/потенциальных клиентов сталкиваются с данной проблемой; есть ли подтверждения данной проблемы в независимых исследованиях и публикациях. Представьте количественные оценки данной проблемы (расходы/упущенная выгода).'
          })
          +slide({
            number: '2',
            title: 'Предлагаемая технология (1-2 слайда)',
            dscr: 'Опишите суть предлагаемого Вами решения, текущие параметры, целевые параметры, преимущества перед конкурентами в мире (с названиями компаний/институтов), публикации (если такие есть), патенты или ноу-хау (если такие есть).'
          })
          +slide({
            number: '3',
            title: 'Продукт проекта (1-2 слайда)',
            dscr: 'Опишите, как именно продукт проекта решает/будет решать проблему'
          })
          +slide({
            number: '4',
            title: 'Оценка целевого рынка для продукта проекта/сравнение с конкурентами и аналогами на рынке (1 слайд)',
            dscr: 'Оцените размер целевого рынка, на котором компания планирует продавать решение в ближайшей перспективе. Сравните свой продукт с конкурентами (по функциональным и количественным показателям)'
          })
          +slide({
            number: '5',
            title: 'План коммерциализации (1 слайд)',
            dscr: 'Опишите путь коммерциализации Вашего проекта: количественный объем продаж; объем продаж в денежном выражении; кому и сколько планируете продавать и т.п.'
          })
          +slide({
            number: '6',
            title: 'Команда проекта: ключевые компетенции и опыт (1 слайд)',
            dscr: 'Расскажите о тех, кто посвящает проекту 100% своего времени; есть ли в команде люди с техническими, научными и бизнес компетенциями. Опишите сеть кооперации, желательно международную, если таковая есть'
          })
        .h1.text-white.mt-40.mt-lg-80.mb-20.mb-lg-40 Критерии отбора
        +criteria({
          title: 'Технологическая инновационность',
          expand: true
        })
        +criteria({
          title: 'Конкурентные преимущества по сравнению с существующими аналогами (за исключением цены)'
        })
        +criteria({
          title: 'Качество проработки бизнес-модели проекта'
        })
        +criteria({
          title: 'Квалификация команды проекта, соответствие команды проекта поставленным целям и задачам'
        })
        .h1.text-white.mt-30.mt-lg-60.mb-20.mb-lg-40 Документы
        .mb-40.mb-lg-100
          +document({
            title: 'Приказ № Форум Пр-074 Об утверждении Положения о порядке проведения конкурса'
          }).document--white
          +document({
            title: 'Приказ № Форум Пр-077 О внесении изменений в приказ от 18 ноября 2019 года № Форум Пр-074'
          }).document--white
          +document({
            title: 'Приказ № Форум Пр-083 О внесении изменений в приказ от 11 февраля 2020 года № Форум Пр-083'
          }).document--white
    +partners
    +footer
