extends ../templates/template.pug
block content
  .bg.bg--white
    +header.header--colored
    .wrapper.pb-80
      .container
        .link-back.link-back--dark.mt-40.mb-35
          a.link-back__arrow(href="#")
          h2.text-purple.mb-0 Контакты
        //p.text-purple.mb-10 По общим вопросам, пожалуйста, обращайтесь:
        //h3.text-purple.mb-55 + 7 (495) 956 00 33
        .row
          .col-lg-3.col-sm-4.col-6
            +employee({
              photo: 'employee-1.jpg',
              name: 'Олег Мосяж',
              occupation: 'Партнеры',
              email: 'partners@sk.ru'
            })
          .col-lg-3.col-sm-4.col-6
            +employee({
              photo: 'employee-2.jpg',
              name: 'Евгения Воронкова',
              occupation: 'Конкурс стартапов',
              email: 'EVoronkova@sk.ru'
            })
          .col-lg-3.col-sm-4.col-6
            +employee({
              photo: 'employee-3.jpg',
              name: 'Нина Батиашвили',
              occupation: 'Спикеры',
              email: 'speaker@sk.ru'
            })
          .col-lg-3.col-sm-4.col-6
            +employee({
              photo: 'employee-4.jpg',
              name: 'Ирина Гаврикова',
              occupation: 'Участники',
              email: 'IGavrikova@sk.ru'
            })
          .col-lg-3.col-sm-4.col-6
            +employee({
              photo: 'employee-5.jpg',
              name: 'Наталья Опёнышева',
              occupation: 'Startup Bazaar',
              email: 'bazaar@startupvillage.ru'
            })
          .col-lg-3.col-sm-4.col-6
            +employee({
              photo: 'employee-6.jpg',
              name: 'Татьяна Куликова',
              occupation: 'SMM',
              email: 'tkulikova@sk.ru'
            })
          .col-lg-3.col-sm-4.col-6
            +employee({
              photo: 'employee-7.jpg',
              name: 'Кристина Сахно',
              occupation: 'Пресс-служба',
              email: 'KSakhno@sk.ru'
            })
    .border-top
    +footer
