extends ../templates/template.pug
block content
  .bg.bg--white
    +header.header--colored
    .wrapper.pb-80
      .container
        .link-back.link-back--dark.mt-40.mb-55
          a.link-back__arrow(href="#")
          h2.text-purple.mb-0 Сколково
        .row
          .col-lg-4
            p.md.mb-35 Соорганизатор
            img.img-fluid.mb-30.mb-lg-50(src="./img/coorganizer.png", alt)
            a.p.text-secondary.d-block.font-weight-semibold(href="#") sk.ru
          .col-lg-8
            p.font-weight-bold Некоммерческая организация, созданная в 2010 году и исполняющая функции управляющей компании Инновационного центра «Сколково».
            p Цель Фонда - поддержка технологического предпринимательства в России и коммерциализация результатов научно-исследовательской деятельности.
            p Число резидентов «Сколково» уже приблизилось к 2,5 тысячам. Фонд оказывает им комплекс услуг, необходимых для вывода разработок на российский и международный рынки. Статус резидента дает компании налоговые и таможенные льготы. В 2019 году выручка резидентов составила более 100 млрд рублей, а сумма привлеченных ими инвестиций превысила 13 млрд руб. С 2019 года закон позволяет любой организации, занимающейся исследовательской деятельностью на территории России, получить доступ ко всем сервисам и льготам Инновационного центра.
            p На территории Инновационного центра «Сколково» расположен Сколковский институт науки и технологий (Сколтех), входящий в топ-100 молодых университетов мира по версии Nature Indeх. Инфраструктуру Инновационного центра составляют, в частности, крупнейший в Европе Технопарк и исследовательские центры индустриальных партнеров.
            p В 2019 году в Инновационном центре открылись три новых партнерских R&D-центра - компаний «Сибур», ТМК и «Татнефть». На территории «Сколково» в общей сложности уже введено в эксплуатацию более 750 тыс. кв. м. жилых кварталов, исследовательских и образовательных центров. Внебюджетные инвестиции в создание инфраструктуры превысили 100 млрд руб.
    .border-top
    +footer
