extends ../templates/template.pug
block content
  .bg.bg--expo
    +header
    .wrapper.pb-90
      .container
        .link-back.mb-30.mb-lg-50.mt-40
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 Expo
        .row
          .col-md-3.mb-40.d-flex
            .position-relative.w-100
              .wrapper__sticky
                .d-flex.align-items-sm-start.flex-column
                  +filter({
                    header: 'Целевой рынок',
                    value: 'ИТ-структура',
                    checkboxes: {
                      '1': ['customCheck1', 'Аэрокосмическая отрасль'],
                      '2': ['customCheck2', 'Горнодобывающая промышленность, металлургия, машиностроение'],
                      '3': ['customCheck3', 'B2G / Госуправление'],
                      '4': ['customCheck4', 'Здравоохранение'],
                      '5': ['customCheck5', 'Система обеспечения безопасности'],
                      '6': ['customCheck6', 'Нефтегазовая и нефтехимическая отрасли'],
                      '7': ['customCheck7', 'Образование'],
                      '8': ['customCheck8', 'Промышленность (за исключением п. 1, 2, 6)'],
                      '9': ['customCheck9', 'Розничная и оптовая торговля (ритейл)'],
                      '10': ['customCheck10', 'Сельское хозяйство'],
                      '11': ['customCheck11', 'Телекоммуникации и интернет'],
                      '12': ['customCheck12', 'Транспорт и логистика'],
                      '13': ['customCheck13', 'Городские услуги, строительство и ЖКХ'],
                      '14': ['customCheck14', 'Управление персоналом'],
                      '15': ['customCheck15', 'Финансы, кредит, страхование, пенсионное обеспечение'],
                      '16': ['customCheck16', 'Энергетика'],
                      '17': ['customCheck17', 'Entertainment'],
                      '18': ['customCheck18', 'VR, AR, Компьютерная графика'],
                      '19': ['customCheck19', 'Иное'],
                    }
                  })
                  +filter({
                    header: 'Стадия проекта',
                    value: 'Выберите',
                    checkboxes: {
                      '1': ['customCheck20', 'Разработка /Прототип'],
                      '2': ['customCheck21', 'Стадия пилотирования '],
                      '3': ['customCheck22', 'Готовый продукт / Серийное производство']
                    }
                  })
                  +filter({
                    header: 'Регион',
                    value: 'Выберите',
                    checkboxes: {
                      '1': ['customCheck39', 'Аэрокосмическая отрасль'],
                      '2': ['customCheck40', 'Горнодобывающая промышленность, металлургия, машиностроение'],
                      '3': ['customCheck41', 'B2G / Госуправление'],
                      '4': ['customCheck42', 'Здравоохранение'],
                      '5': ['customCheck43', 'Система обеспечения безопасности'],
                      '6': ['customCheck44', 'Нефтегазовая и нефтехимическая отрасли'],
                      '7': ['customCheck45', 'Образование'],
                      '8': ['customCheck46', 'Промышленность (за исключением п. 1, 2, 6)'],
                      '9': ['customCheck47', 'Розничная и оптовая торговля (ритейл)'],
                      '10': ['customCheck48', 'Сельское хозяйство'],
                      '11': ['customCheck49', 'Телекоммуникации и интернет'],
                      '12': ['customCheck50', 'Транспорт и логистика'],
                      '13': ['customCheck51', 'Городские услуги, строительство и ЖКХ'],
                      '14': ['customCheck52', 'Управление персоналом'],
                      '15': ['customCheck53', 'Финансы, кредит, страхование, пенсионное обеспечение'],
                      '16': ['customCheck54', 'Энергетика'],
                      '17': ['customCheck55', 'Entertainment'],
                      '18': ['customCheck56', 'VR, AR, Компьютерная графика'],
                      '19': ['customCheck57', 'Иное'],
                    }
                  })
                p.sm.text-gray.mb-15 В поиске инвестиций  
                .switch
                  .custom-control.custom-radio
                    input#investments1.custom-control-input(type='radio' name='investments' checked)
                    label.custom-control-label(for='investments1') Да
                  .custom-control.custom-radio
                    input#investments2.custom-control-input(type='radio' name='investments')
                    label.custom-control-label(for='investments2') Нет
          .col-md-9
            +search({
              placeholder: 'Найти экспонента'
            }).search--dark.mb-40.w-100
            .row
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-1.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-2.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-3.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-4.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-5.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-6.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-1.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-2.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-3.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-4.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-5.png'
                })
              .col-lg-4.col-sm-6
                +project({
                  logo: 'project-6.png'
                })
            +pagination.mt-15
    .border-top
    +partners
    +footer
