extends ../templates/template.pug
block content
  +header
  .wrapper
    .front
      .container
        .front__wrapper.front__wrapper--expo.front__wrapper--picture
          .front__left
            .row
              .col-lg-9
                .link-back
                  a.link-back__arrow(href="#")
                  h2.text-white.mb-0 Naava interactive
                .h6.text-gray.mb-30 Company
                p.text-white Naava interactive специализируется на создании обучающих симуляций, ориентированных на развитие и отработку навыков “soft skills” а также, на исследование когнитивных и социально-поведенческих способностей человека
                .front__exponent-info
                  .front__exponent-info-logo-wrapper
                    img.front__exponent-info-logo(src="./img/front-exponent.png", alt)
                  p.md.text-white.mb-0 B2G / Госуправление | Здравоохранение
                  a.front__exponent-info-tag(href="#") Энергоэффективность
          .front__right.text-right
            .front__picture-wrapper.front__picture-wrapper--logo
              img.front__picture(src="./img/front-expo.png", alt)
    .article
      .container
        .row
          .col-lg-8
            .article__content
              .info__wrapper.info__wrapper--exponent
                .info
                  .h6.text-purple.info__header.mb-5.mb-sm-0 Требуемые инвестиции
                  .h5.text-dark.info__number.mb-0 1 586 998 руб.
                .info
                  .h6.text-purple.info__header.mb-5.mb-sm-0 Выручка за 2020 год
                  .h5.text-dark.info__number.mb-0 11 586 998 руб.
                .info
                  .h6.text-purple.info__header.mb-5.mb-sm-0 Планы по выручке на 2021 год
                  .h5.text-dark.info__number.mb-0 21 586 998 руб.
                .info
                  .h6.text-purple.info__header.mb-5.mb-sm-0 Стадия проекта
                  .h5.text-dark.info__number.mb-0 В разработке
              .article__picture
                .h2.text-white.mb-0 Картинка, дающая наглядное представление об экспонате
              h5 Конкурентные преимущества продукта
              p Основой методологии, используемой Cerevrum при разработке продукта, является формат Natural experience learning system (NELS) – обучение социально- поведенческим навыкам в естественном пространстве. NELS – это концепция получения знаний, целью которой является полное погружение по”льзователя в обучающую среду.  Александр Чачава, управляющий партнер LETA Capital: Данный продукт решает конкретные бизнес-задачи, борется с болью многих компаний, прежде всего в ритейле. В компании Cerevrum с самого начала нас поразила технологическая готовность, превосходящая американские и азиатские стартапы. Мы видим, что продукт и команда готовы бороться за лидерство не только на российском, но и на ”мировом рынке обучения. Определенно, этот продукт лучший в своем классе.
              h5 Особенности ("фишка") продукта/проекта
              ul
                li Основой методологии, используемой Cerevrum при разработке продукта, является формат Natural experience learning system
                li Основой методологии, используемой Cerevrum при разработке 
                li Основой методологии, используемой Cerevrum при разработке продукта, является формат
          .col-lg-3.offset-lg-1
            a.btn.btn-secondary.mb-30.mb-lg-50.px-lg-30(href="#") Задать вопрос о проекте
            .article__contacts
              .article__contacts-item
                 p.md.mb-0 Сайт
                 a.p.text-secondary.font-weight-semibold.mb-0(href="#") sample.com
              .article__contacts-item
                 p.md.mb-0 Телефон
                 a.p.text-secondary.font-weight-semibold.mb-0(href="#") +7 856 889 88 88
              .article__contacts-item
                 p.md.mb-0 E-mail
                 a.p.md.text-secondary.font-weight-semibold.mb-0(href="#") sample@sample.com
            +document({
              title: 'Презентация проекта'
            }).document--pdf
  .border-top
  +partners
  +footer
