extends ../templates/template.pug
block content
  .bg.bg--white
    +header.header--colored
    .wrapper.pb-80
      .container
        .link-back.link-back--dark.mt-40.mb-55
          a.link-back__arrow(href="#")
          h2.mb-0 FAQ
        +faq({
          title: 'Воспро в одну строку для нагладности отображения'
        })
        +faq({
          title: 'Воспро в две строки для нагладности отображения  плюс раскрытый ответ Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»'
        })
        +faq({
          title: 'Воспро в одну строку для нагладности отображения'
        })
        +faq({
          title: 'Воспро в две строки для нагладности отображения  плюс раскрытый ответ Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»'
        })
        +faq({
          title: 'Воспро в одну строку для нагладности отображения'
        })
        +faq({
          title: 'Воспро в две строки для нагладности отображения  плюс раскрытый ответ Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»'
        })
    .border-top
    +footer
