extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="registration.html", style="font-size: 20px;") Registration
          li(style="list-style: none;")
            a.d-block.my-20(href="city.html", style="font-size: 20px;") City
          li(style="list-style: none;")
            a.d-block.my-20(href="participants.html", style="font-size: 20px;") Participants
          li(style="list-style: none;")
            a.d-block.my-20(href="news.html", style="font-size: 20px;") News
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="tour.html", style="font-size: 20px;") Tour
          li(style="list-style: none;")
            a.d-block.my-20(href="competition.html", style="font-size: 20px;") Competition
          li(style="list-style: none;")
            a.d-block.my-20(href="expo.html", style="font-size: 20px;") Expo
          li(style="list-style: none;")
            a.d-block.my-20(href="exponent.html", style="font-size: 20px;") Exponent
          li(style="list-style: none;")
            a.d-block.my-20(href="profile.html", style="font-size: 20px;") Profile
          li(style="list-style: none;")
            a.d-block.my-20(href="partners.html", style="font-size: 20px;") Partners
          li(style="list-style: none;")
            a.d-block.my-20(href="coorganizer.html", style="font-size: 20px;") Coorganizer
          li(style="list-style: none;")
            a.d-block.my-20(href="partner.html", style="font-size: 20px;") Partner
          li(style="list-style: none;")
            a.d-block.my-20(href="faq.html", style="font-size: 20px;") FAQ
          li(style="list-style: none;")
            a.d-block.my-20(href="contacts.html", style="font-size: 20px;") Contacts
          li(style="list-style: none;")
            a.d-block.my-20(href="networking.html", style="font-size: 20px;") Networking
          li(style="list-style: none;")
            a.d-block.my-20(href="authorization.html", style="font-size: 20px;") Authorization
          li(style="list-style: none;")
            a.d-block.my-20(href="password.html", style="font-size: 20px;") Password
          li(style="list-style: none;")
            a.d-block.my-20(href="speaker.html", style="font-size: 20px;") Speaker
