extends ../templates/template.pug
block content
  .bg
    +header
    .wrapper
      .container.pt-40.pt-lg-75.pb-40.pb-lg-60
        .row
          .col-lg-5
            h1.text-white.mb-30.mb-lg-0 Best Startup of the Year AWARDS
          .col-lg-6.offset-lg-1
            +video({
              picture: 'video-1.png'
            })
      +drag
      .container
        +calendar
        .row
          .col-lg-4.mb-20.mb-lg-0
            h3.text-white.mb-10 8<br> регионов
            a.p.sm.mb-0.text-underline.text-white.mb-20(href="#") Найти город
          .col-lg-4.mb-20.mb-lg-0
            h3.text-white.mb-10 315<br> лекций
            a.p.sm.mb-0.text-underline.text-white.mb-20(href="#") Посмотреть список лекций
          .col-lg-4.mb-20.mb-lg-0
            h3.text-white.mb-10 292 746<br> участников
            a.p.sm.mb-0.text-underline.text-white.mb-20(href="#") Стать участником
        p.font-weight-semibold.text-white.mt-40.mb-20 Стартап-тур проводится в разных городах России с 2011 года и является самым масштабным проектом в России и странах СНГ, направленным на развитие технологического предпринимательства и выявление перспективных инновационных проектов.
        a.p.sm.text-white.text-underline.mb-0(href="#") Подробнее
        h2.text-white.mb-30.mb-lg-65.mt-40.mt-70 Спикеры
        .row
          .col-lg-3.col-sm-6
            +speaker({
              photo: 'speaker-1.jpg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              modifier: 'front'
            }).speaker--front
          .col-lg-3.col-sm-6
            +speaker({
              photo: 'speaker-2.jpg',
              name: 'Игорь Мариинский',
              company: 'Mail.ru Group',
              modifier: 'front'
            }).speaker--front
          .col-lg-3.col-sm-6
            +speaker({
              photo: 'speaker-3.jpg',
              name: 'Ким Ин',
              company: 'Министерство информационных технологий и связи московской области',
              modifier: 'front'
            }).speaker--front
          .col-lg-3.col-sm-6
            +speaker({
              photo: 'speaker-4.jpg',
              name: 'Олег Валентинов',
              company: 'Название компании две строки',
              modifier: 'front'
            }).speaker--front
        .d-flex.align-items-center.justify-content-between.mb-30.mb-lg-45.mt-20
          h2.text-white.mb-0 Новости и события
          a.btn.btn-primary.btn-primary--instagram(href="#") Подписаться в instagram
        .row
          .col-lg-3.col-sm-6
            +news({
              picture: 'news-1.png',
              title: 'Стартап-тур проводится в разных городах'
            }).news--white
          .col-lg-3.col-sm-6
            +news({
              picture: 'news-2.png',
              title: 'Стартап-тур проводится в разных городах России с 2011 годам '
            }).news--white
          .col-lg-3.col-sm-6
            +news({
              picture: 'news-1.png',
              title: 'Проводится в разных городах России с 2011 '
            }).news--white
          .col-lg-3.col-sm-6
            +news({
              picture: 'news-2.png',
              title: 'Городах России с 2011 года и является самым'
            }).news--white
        h2.text-white.mb-30.mb-lg-50.mt-30 Что такое Стартап-тур?
        .row
          .col-lg-6
            +video({
              picture: 'video-1.png'
            }).video--narrow.mb-20.mb-lg-40
            .row
              .col-sm-6.d-flex
                +card({
                  picture: 'card-1.svg',
                  title: 'Конкурс лучших стартапов страны',
                  dscr: 'Призовой фонд <br>100 млн рублей',
                  modifier: 'btn'
                })
              .col-sm-6
                +card({
                  picture: 'card-2.svg',
                  title: 'Самое интересное на EXPO'
                })
                +card({
                  title: 'Networking',
                  dscr: 'чаты по интересам',
                  modifier: 'sm'
                })
          .col-lg-6
            +event({
              date: 'Сейчас',
              city: 'Тверь',
              modifier: 'active'
            }).event--active
            +event({
              date: 'Завтра - 20 мая',
              city: 'Краснодар'
            })
            +event({
              date: 'Завтра - 20 мая',
              city: 'Уфа'
            })
            +event({
              date: 'Завтра - 20 мая',
              city: 'Самара'
            })
            +event({
              date: 'Завтра - 20 мая',
              city: 'Краснодар'
            })
            +event({
              date: 'Завтра - 20 мая',
              city: 'Краснодар'
            })
        .mt-20.mt-lg-90.mb-100
          .row
            .col-xl-3.col-md-4.step__wrapper
              +step({
                number: '1',
                name: 'Представь свой проект',
                date: '22 января - 15 марта',
                title: 'Startup Tour/2021'
              })
            .col-xl-3.col-md-4.step__wrapper
              +step({
                number: '2',
                name: 'Найди инвестора',
                date: '21 мая - 22 мая',
                picture: 'step-1.png'
              })
            .col-xl-3.col-md-4.step__wrapper
              +step({
                number: '3',
                name: 'Стань глобальным',
                date: '21 мая - 22 мая',
                picture: 'step-1.png'
              })
    +partners
    +footer
