extends ../templates/template.pug
block content
  .bg.bg--page
    +header.header--colored
    .wrapper.pb-80
      .container
        .link-back.mt-40.mb-25
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 Networking
        h6.text-white.mb-25 Общий чат
        +chat({
          type: 'alone'
        }).chat--dark.mb-30.mb-lg-60
        .row
          .col-xl-4.col-sm-6
            +networking-card({
              title: 'Чаты по интересам',
              bg: 'networking-card-1.svg'
            })
          .col-xl-4.col-sm-6
            +networking-card({
              title: 'Персональный чат',
              bg: 'networking-card-2.svg'
            })
          .col-xl-4.col-sm-6
            +networking-card({
              title: 'Задать вопрос спикеру',
              bg: 'networking-card-3.svg'
            })
          .col-xl-4.col-sm-6
            +networking-card({
              title: 'Посетить выставку',
              bg: 'networking-card-4.svg'
            })
          .col-xl-4.col-sm-6
            +networking-card({
              title: 'Mentor hours',
              bg: 'networking-card-5.svg'
            })
          .col-xl-4.col-sm-6
            +networking-card({
              title: 'Обсудить сессию',
              bg: 'networking-card-6.svg'
            })
        .h1.text-white.mt-40.mt-lg-80.mb-30.mb-lg-75 Правила пользования чатами и видеочатами
        p.text-white.font-weight-bold Некоммерческая организация, созданная в 2010 году и исполняющая функции управляющей компании Инновационного центра «Сколково».
        p.text-white Цель Фонда - поддержка технологического предпринимательства в России и коммерциализация результатов научно-исследовательской деятельности.
        p.text-white Число резидентов «Сколково» уже приблизилось к 2,5 тысячам. Фонд оказывает им комплекс услуг, необходимых для вывода разработок на российский и международный рынки. Статус резидента дает компании налоговые и таможенные льготы. В 2019 году выручка резидентов составила более 100 млрд рублей, а сумма привлеченных ими инвестиций превысила 13 млрд руб. С 2019 года закон позволяет любой организации, занимающейся исследовательской деятельностью на территории России, получить доступ ко всем сервисам и льготам Инновационного центра.
        p.text-white На территории Инновационного центра «Сколково» расположен Сколковский институт науки и технологий (Сколтех), входящий в топ-100 молодых университетов мира по версии Nature Indeх. Инфраструктуру Инновационного центра составляют, в частности, крупнейший в Европе Технопарк и исследовательские центры индустриальных партнеров.
        p.text-white В 2019 году в Инновационном центре открылись три новых партнерских R&D-центра - компаний «Сибур», ТМК и «Татнефть». На территории «Сколково» в общей сложности уже введено в эксплуатацию более 750 тыс. кв. м. жилых кварталов, исследовательских и образовательных центров. Внебюджетные инвестиции в создание инфраструктуры превысили 100 млрд руб.
    .border-top
    +partners
    +footer
