extends ../templates/template.pug
block content
  .bg.bg--page
    +header
    .wrapper.pb-80
      .container
        .link-back.mt-40.mb-55
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 Новости и события
        .row
          .col-lg-3.col-sm-6.mb-lg-60.mb-0
            +news({
              picture: 'news-1.png',
              title: 'Стартап-тур проводится в разных городах'
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-60.mb-0
            +news({
              picture: 'news-3.png',
              title: 'Стартап-тур проводится в разных городах России с 2011 годам '
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-60.mb-0
            +news({
              picture: 'news-1.png',
              title: 'Проводится в разных городах России с 2011 '
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-60.mb-0
            +news({
              picture: 'news-4.png',
              title: 'Городах России с 2011 года и является самым'
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-60.mb-0
            +news({
              picture: 'news-4.png',
              title: 'Стартап-тур проводится в разных городах'
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-60.mb-0
            +news({
              picture: 'news-5.png',
              title: 'Стартап-тур проводится в разных городах России с 2011 годам '
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-60.mb-0
            +news({
              picture: 'news-6.png',
              title: 'Проводится в разных городах России с 2011 '
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-60.mb-0
            +news({
              picture: 'news-2.png',
              title: 'Городах России с 2011 года и является самым'
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-50.mb-20
            +news({
              picture: 'news-1.png',
              title: 'Стартап-тур проводится в разных городах'
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-50.mb-20
            +news({
              picture: 'news-7.png',
              title: 'Стартап-тур проводится в разных городах России с 2011 годам '
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-50.mb-20
            +news({
              picture: 'news-8.png',
              title: 'Проводится в разных городах России с 2011 '
            }).news--white
          .col-lg-3.col-sm-6.mb-lg-50.mb-20
            +news({
              picture: 'news-9.png',
              title: 'Городах России с 2011 года и является самым'
            }).news--white
        .text-center
          a.btn.btn-secondary(href="#") Загрузить еще
    .border-top
    +partners
    +footer
