extends ../templates/template.pug
block content
  .bg.bg--page
    +header
    .wrapper.pb-90
      .container
        .link-back.mt-40.mb-45
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 Участники
        .d-flex.justify-content-between.flex-md-row.flex-column
          +filters-list
          +search({
            placeholder: 'Найти участника'
          }).search--dark.mt-20.mt-md-0
        .row.mt-40
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-5.jpeg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-1.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-6.jpeg',
              name: 'Виктория Бокунчикова',
              company: 'Министерство информационных технологий и связи московской области',
              icon: 'speaker-icon-2.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-7.jpeg',
              name: 'Ольга Майер',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-3.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-5.jpeg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-4.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-5.jpeg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-1.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-6.jpeg',
              name: 'Виктория Бокунчикова',
              company: 'Министерство информационных технологий и связи московской области',
              icon: 'speaker-icon-2.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-7.jpeg',
              name: 'Ольга Майер',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-3.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-5.jpeg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-4.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-5.jpeg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-1.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-6.jpeg',
              name: 'Виктория Бокунчикова',
              company: 'Министерство информационных технологий и связи московской области',
              icon: 'speaker-icon-2.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-7.jpeg',
              name: 'Ольга Майер',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-3.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-5.jpeg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-4.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-5.jpeg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-1.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-6.jpeg',
              name: 'Виктория Бокунчикова',
              company: 'Министерство информационных технологий и связи московской области',
              icon: 'speaker-icon-2.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-7.jpeg',
              name: 'Ольга Майер',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-3.svg'
            })
          .col-xl-3.col-lg-4.col-sm-6
            +speaker({
              photo: 'speaker-5.jpeg',
              name: 'Константин Константинопольский',
              company: 'Mail.ru Group',
              icon: 'speaker-icon-4.svg'
            })
        +pagination
    .border-top
    +partners
    +footer
