extends ../templates/template.pug
block content
  .bg.bg--white
    +header.header--colored
    .wrapper.pb-80
      .container
        .link-back.link-back--dark.mt-40.mb-55
          a.link-back__arrow(href="#")
          h2.text-purple.mb-0 Партнеры
        .row
          .col-md-3.mb-40.d-flex
            .position-relative.w-100
              .wrapper__sticky
                .d-flex.align-items-md-start.flex-column
                  h5.mb-30 Фильтры
                  +filter({
                    type: 'checkbox',
                    checkHeader: 'Соорганизаторы'
                  }).filter--dark
                  +filter({
                    header: 'Партнеры',
                    value: 'Выберите',
                    checkboxes: {
                      '1': ['customCheck20', 'Генеральные партнеры'],
                      '2': ['customCheck21', 'Официальные партнеры']
                    }
                  }).filter--dark
                  +filter({
                    header: 'Региональные партнеры',
                    value: 'Выберите',
                    checkboxes: {
                      '1': ['customCheck39', 'Москва'],
                      '2': ['customCheck40', 'Санкт-Петербург'],
                      '3': ['customCheck41', 'B2G / Госуправление'],
                      '4': ['customCheck42', 'Владивосток']
                    }
                  }).filter--dark
          .col-md-9
            .partners.partners--big.pt-0
              .partners__section
                h6.text-black.mb-15 Соорганизаторы
                .row
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-1.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-2.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-3.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-4.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-5.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-6.png", alt)
              .partners__section
                h6.text-black.mb-15 Партнеры
                .row
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-1.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-2.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-3.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-4.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-5.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-6.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-1.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-2.png", alt)
              .partners__section
                h6.text-black.mb-15 Информационные партнеры
                .row
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-1.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-2.png", alt)
                  .col-sm-4.col-6.text-center
                    a.partners__item-wrapper(href="#")
                      img.partners__item(src="./img/partner-3.png", alt)
    .border-top
    +footer
