extends ../templates/template.pug
block content
  .bg.bg--white
    +header.header--colored
    .wrapper.pb-80
      .container
        .link-back.link-back--dark.mt-40.mb-55
          a.link-back__arrow(href="#")
          h2.text-purple.mb-0 Сколково
        .row
          .col-xl-4.col-lg-5
            p.md.mb-35 Соорганизатор
            img.img-fluid.mb-30.mb-lg-50(src="./img/coorganizer.png", alt)
            a.p.text-secondary.d-block.font-weight-semibold(href="#") sk.ru
            +document({
              title: 'Презентация партнера'
            })
            +chat({
              type: 'alone'
            }).chat--dark.mb-30.mb-lg-60
          .col-xl-8.col-lg-7
            p.font-weight-bold Некоммерческая организация, созданная в 2010 году и исполняющая функции управляющей компании Инновационного центра «Сколково».
            p Цель Фонда - поддержка технологического предпринимательства в России и коммерциализация результатов научно-исследовательской деятельности.
            p Число резидентов «Сколково» уже приблизилось к 2,5 тысячам. Фонд оказывает им комплекс услуг, необходимых для вывода разработок на российский и международный рынки. Статус резидента дает компании налоговые и таможенные льготы. В 2019 году выручка резидентов составила более 100 млрд рублей, а сумма привлеченных ими инвестиций превысила 13 млрд руб. С 2019 года закон позволяет любой организации, занимающейся исследовательской деятельностью на территории России, получить доступ ко всем сервисам и льготам Инновационного центра.
            .row
              .col-12
                +video({
                  picture: 'video-2.png'
                }).video--less-rounded
                p.font-weight-bold.text-dark.mt-30.mb-30.mb-lg-50 Видео партнера
            .row
              .col-sm-6.mb-20.mb-sm-0
                img.img-fluid(src="./img/partner-art-1.jpg", alt)
              .col-sm-6
                img.img-fluid(src="./img/partner-art-2.jpg", alt)
            .row.mt-35.mb-30
              .col-12
                p Некоммерческая организация, созданная в 2010 году и исполняющая функции управляющей компании Инновационного центра «Сколково».
            .row
              .col-12
                img.img-fluid(src="./img/partner-art-3.jpg", alt)
    .border-top
    +footer
