extends ../templates/template.pug
block content
  .bg.bg--registration
    +header
    .wrapper
      .container
        .link-back.mt-50.mb-30
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 Восстановить пароль
        form.form.mb-75(action="#", method="POST")
          .row
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="email") E-mail
                input.input#email(type="email" placeholder="Введите" name="email")
          .form__footer
            button.btn.btn-secondary(type="submit") Восстановить
    +footer
