extends ../templates/template.pug
block content
  +header({
    login: true
  })
  .wrapper
    .front.front--profile
      .container
        .link-back
          a.link-back__arrow(href="#")
        .front__wrapper.front__wrapper--profile
          .front__left
            .front__user
              .front__user-picture-wrapper
                img.front__user-picture(src="./img/front-user.jpeg", alt)
              .front__user-content
                p.text-white.mb-15 Участник / Краснодар
                h5.text-white.mb-15 Константин константинопольский
                p.md.text-white.mb-10 Mail.ru Group
                .p.md.text-white.front__user-occupation Операционный директор
          .front__right.text-right
            a.front__profile-edit(href="#editProfile", data-fancybox) Редактировать профиль
            +modal({
              type: 'edit'
            }).modal--wide#editProfile
            a.btn.btn-primary(href="#") Подать заявку на выставку
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link(data-toggle='tab' href='#profile') Профиль
          li.nav-item
            a.nav-link(data-toggle='tab' href='#program') Программа
          li.nav-item
            a.nav-link(data-toggle='tab' href='#competition') Конкурс
          li.nav-item
            a.nav-link.active(data-toggle='tab' href='#exhibition') Выставка
          li.nav-item
            a.nav-link(data-toggle='tab' href='#chats') Чаты
          li.nav-item
            a.nav-link(data-toggle='tab' href='#mentors') Mentors Hours
    #myTabContent.tab-content
      #profile.tab-pane(role='tabpanel')
        .container.pt-55.pb-45
          .row
            .col-lg-8
              .info__wrapper
                .info
                  .p.md.text-purple.info__header.mb-5.mb-sm-0 Телефон
                  .h6.text-dark.info__number.mb-0 +7 985 999 88 55
                .info
                  .p.md.text-purple.info__header.mb-5.mb-sm-0 E-mail
                  .h6.text-dark.info__number.mb-0 sample@sample.com
                .info
                  .p.md.text-purple.info__header.mb-5.mb-sm-0 Отрасль
                  .h6.text-dark.info__number.mb-0 Название отрасли
                .info
                  .p.md.text-purple.info__header.mb-5.mb-sm-0 Сфера деятельности
                  .h6.text-dark.info__number.mb-0 Название сферы деятельности
      #program.tab-pane(role='tabpanel')
        .container.pt-45.pb-45
          .row
            .col-lg-10
              ul.nav.nav-tabs.nav-tabs--link
                li.nav-item
                  a.nav-link(data-toggle='tab' href='#program-general') Общая программа
                li.nav-item
                  a.nav-link.active(data-toggle='tab' href='#program-speaker') Сессии в которых я учавствую
              .tab-content
                #program-general.tab-pane(role='tabpanel')
                  +item({
                    time: '10:00 — 11:15',
                    title: 'Панельная дискуссия «Регион как опорная точка перехода к цифровой экономике»',
                    dscr: 'Цифровые технологии приобретают все большую важность в экономическом развитии всех стран мира без исключения. В процесс модернизации вовлекаются промышленность и наука, бизнес и власть, общество и образование. <br>Цифровая трансформация в России немыслима без участия регионов, она является комплексной стратегией регионального развития. Приоритетная задача – повышение вовлеченности регионов в реализацию национального проекта «Цифровая экономика» и обеспечение учета их реальных возможностей и интересов',
                    speakers: true
                  }).item--active
                #program-speaker.tab-pane.show.active(role='tabpanel')
                  +item({
                    time: '13 марта 10:15 – 11:15',
                    title: 'Название сессии Регион как опорная точка перехода к цифровой экономике',
                    modifier: 'link'
                  }).item--active.item--link
      #competition.tab-pane(role='tabpanel')
        .container.pt-40.pb-55
          ul.nav.nav-tabs.nav-tabs--link
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#competition-app-form') Подача заявки
            li.nav-item
              a.nav-link(data-toggle='tab' href='#competition-apps') Поданные заявки
          .tab-content
            #competition-app-form.tab-pane.show.active(role='tabpanel')
              form.form.form--white(action="#", method="POST")
                .row
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Направление конкурса
                      +select({
                        placeholder: 'Введите'
                      })
                  .col-md-8
                    .form__item
                      label.p.sm.text-purple.mb-10 Название проекта
                      input.input(type="text", placeholder="Введите")
                .row
                  .col-md-12
                    .form__item
                      label.p.sm.text-purple.mb-10 Описание проекта
                      textarea.input.input--textarea(placeholder="Введите")
                .row
                  .col-md-12
                    .form__item
                      label.p.sm.text-purple.mb-10 Описание проекта для сайта
                      textarea.input.input--textarea(placeholder="Введите")
                .row
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Выберите город регистрации в StartupTour
                      input.input(type="text", placeholder="Введите")
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Контактный емейл
                      input.input(type="text", placeholder="Введите")
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Сайт (если есть)
                      input.input(type="text", placeholder="Введите")
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Требуемые инвестиции
                      input.input(type="text", placeholder="Введите")
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Выручка за 2020 год (если есть)
                      input.input(type="text", placeholder="Введите")
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Планы по выручке на 2021 год (если есть)
                      input.input(type="text", placeholder="Введите")
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Стадия проекта
                      +select({
                        placeholder: 'Введите'
                      })
                        option Разработка / Прототип
                        option Стадия пилотирования
                        option Готовый продукт / Серийное производство
                .row
                  .col-md-12
                    .form__item
                      label.p.sm.text-purple.mb-10 Конкурентные преимущества (если есть)
                      textarea.input.input--textarea.input--textarea-sm(placeholder="Введите")
                .row
                  .col-md-12
                    .form__item
                      label.p.sm.text-purple.mb-10 Особенности ("фишка") продукта/проекта (если есть)
                      textarea.input.input--textarea.input--textarea-sm(placeholder="Введите")
                .form__files
                  .custom-file.mr-25
                    input#customFile1.custom-file-input(type='file')
                    label.custom-file-label(for='customFile1') Загрузить презентацию
                  .d-flex.flex-column.align-items-center
                    .custom-file
                      input#customFile2.custom-file-input(type='file')
                      label.custom-file-label(for='customFile2') Загрузить логотип
                    p.sm.semi-transparent.mt-10.mb-0 Необязательно
                .form__footer.mt-55
                  button.btn.btn-secondary(type="submit") Отправить заявку
                  .form__status.form__status--success.ml-sm-60.mt-50.mt-sm-0 Все поля заполненны
            #competition-apps.tab-pane(role='tabpanel')
              .form__trigger-wrapper
                .form__trigger-top
                  .h5.mb-20 Заявка отправлена
                  p.mb-10 Заявка по проекту "Paperless" для участия в конкурсе отправлена. Номер заявки: 301. <br> Отобранные проекты будут объявлены 30 апреля 2021.
                  a.p.md.form__trigger(href="#") Редактировать
                form.form.form--white.form__trigger-content(action="#", method="POST")
                  h4.mb-30 Редактировать заявку
                  .row
                    .col-md-4
                      .form__item
                        label.p.sm.text-purple.mb-10 Направление конкурса
                        +select({
                          placeholder: 'Введите'
                        })
                    .col-md-8
                      .form__item
                        label.p.sm.text-purple.mb-10 Название проекта
                        input.input(type="text", placeholder="Введите")
                  .row
                    .col-md-12
                      .form__item
                        label.p.sm.text-purple.mb-10 Описание проекта
                        textarea.input.input--textarea(placeholder="Введите")
                  .row
                    .col-md-12
                      .form__item
                        label.p.sm.text-purple.mb-10 Описание проекта для сайта
                        textarea.input.input--textarea(placeholder="Введите")
                  .row
                    .col-md-4
                      .form__item
                        label.p.sm.text-purple.mb-10 Выберите город регистрации в StartupTour
                        input.input(type="text", placeholder="Введите")
                    .col-md-4
                      .form__item
                        label.p.sm.text-purple.mb-10 Контактный емейл
                        input.input(type="text", placeholder="Введите")
                    .col-md-4
                      .form__item
                        label.p.sm.text-purple.mb-10 Сайт (если есть)
                        input.input(type="text", placeholder="Введите")
                    .col-md-4
                      .form__item
                        label.p.sm.text-purple.mb-10 Требуемые инвестиции
                        input.input(type="text", placeholder="Введите")
                    .col-md-4
                      .form__item
                        label.p.sm.text-purple.mb-10 Выручка за 2020 год (если есть)
                        input.input(type="text", placeholder="Введите")
                    .col-md-4
                      .form__item
                        label.p.sm.text-purple.mb-10 Планы по выручке на 2021 год (если есть)
                        input.input(type="text", placeholder="Введите")
                    .col-md-4
                      .form__item
                        label.p.sm.text-purple.mb-10 Стадия проекта
                        +select({
                          placeholder: 'Введите'
                        })
                          option Разработка / Прототип
                          option Стадия пилотирования
                          option Готовый продукт / Серийное производство
                  .row
                    .col-md-12
                      .form__item
                        label.p.sm.text-purple.mb-10 Конкурентные преимущества (если есть)
                        textarea.input.input--textarea.input--textarea-sm(placeholder="Введите")
                  .row
                    .col-md-12
                      .form__item
                        label.p.sm.text-purple.mb-10 Особенности ("фишка") продукта/проекта (если есть)
                        textarea.input.input--textarea.input--textarea-sm(placeholder="Введите")
                  .form__files
                    .custom-file.mr-25
                      input#customFile1.custom-file-input(type='file')
                      label.custom-file-label(for='customFile1') Загрузить презентацию
                    .d-flex.flex-column.align-items-center
                      .custom-file
                        input#customFile2.custom-file-input(type='file')
                        label.custom-file-label(for='customFile2') Загрузить логотип
                      p.sm.semi-transparent.mt-10.mb-0 Необязательно
                  .form__footer.mt-55
                    button.btn.btn-secondary(type="submit") Сохранить
                    .form__status.form__status--success.ml-sm-60.mt-50.mt-sm-0 Все поля заполненны
      #exhibition.tab-pane.show.active(role='tabpanel')
        .container.pt-40.pb-55
          .form__trigger-wrapper
            .form__trigger-top
              .h5.mb-20 Заявка отправлена
              p.mb-10 Заявка по проекту "Paperless" для участия в выставке отправлена. Номер заявки: 301.
              a.p.md.form__trigger(href="#") Редактировать
            .form__trigger-content
              h6.mb-35 Заполните и подайте заявку на выставку
              form.form.form--white(action="#", method="POST")
                .row
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Контактное лицо
                      input.input(type="text", placeholder="Введите", required)
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Контактный телефон
                      input.input(type="text", placeholder="Введите", required)
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 E-mail
                      input.input(type="email", placeholder="Введите", required)
                .row
                  .col-md-8
                    .form__item
                      label.p.sm.text-purple.mb-10 Название проекта
                      input.input(type="text", placeholder="Введите", required)
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Название компании
                      input.input(type="text", placeholder="Введите", required)
                .row
                  .col-lg-8
                    .form__item.form__textarea-wrapper
                      label.p.sm.text-purple.mb-10 Краткое описание проекта
                      textarea.input.input--textarea.input--textarea-sm.js-textarea-limited(placeholder="Введите", maxlength="80", required)
                  .col-lg-4
                    .form__item.pt-md-30
                      label.p.sm.mb-10 Участник проекта "СКОЛКОВО":
                      .d-block
                        .switch
                          .custom-control.custom-radio
                            input#sk1.custom-control-input(type='radio' name='sk' checked)
                            label.custom-control-label(for='sk1') Да
                          .custom-control.custom-radio
                            input#sk2.custom-control-input(type='radio' name='sk')
                            label.custom-control-label(for='sk2') Нет
                .row
                  .col-12
                    .form__item.form__textarea-wrapper
                      label.p.sm.text-purple.mb-10 Технология, лежащая в основе продукта/сервиса
                      textarea.input.input--textarea.js-textarea-limited(placeholder="Введите", maxlength="600", required)
                .row
                  .col-12
                    .form__item.form__textarea-wrapper
                      label.p.sm.text-purple.mb-10 Ключевые достижения простым списком (не более 3 пунктов)
                      textarea.input.input--textarea.input--textarea-sm.js-textarea-limited(placeholder="Введите", maxlength="250", required)
                .row
                  .col-md-6
                    .form__item.w-100
                      label.p.sm.text-purple.mb-10 Рынки, на которые ориентирован проект (до 2)
                      +select({
                        placeholder: 'Введите',
                        multiple: true
                      })
                        option Аэрокосмическая отрасль
                        option Горнодобывающая промышленность, металлургия, машиностроение
                        option B2G / Госуправление
                        option Здравоохранение
                        option Система обеспечения безопасности
                        option Нефтегазовая и нефтехимическая отрасли
                        option Образование
                        option Промышленность (за исключением п. 1, 2, 6)
                        option Розничная и оптовая торговля (ритейл)
                        option Сельское хозяйство
                        option Телекоммуникации и интернет
                        option Транспорт и логистика
                        option Городские услуги, строительство и ЖКХ
                        option Управление персоналом
                        option Финансы, кредит, страхование, пенсионное обеспечение
                        option Энергетика
                        option Entertainment
                        option VR, AR, Компьютерная графика
                        option Иное
                  .col-md-6
                    .form__item.w-100
                      label.p.sm.text-purple.mb-10 Принадлежность проекта технологическому направлению выставки
                      +select({
                        placeholder: 'Введите'
                      })
                        option Энергоэффективность
                        option Медицина
                        option Агро
                        option IT
                        option Космос, авиация, телекоммуникация
                        option Промышленные технологии и материалы
                        option Иное
                .row
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Сайт компании
                      input.input(type="text", placeholder="Введите")
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Телефон компании
                      input.input(type="text", placeholder="Введите", required)
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 E-mail компании
                      input.input(type="text", placeholder="Введите", required)
                .row
                  .col-md-4.col-7
                    .form__item
                      label.p.sm.text-purple.mb-10 Требуемые инвестиции
                      input.input(type="text", placeholder="Введите")
                  .col-md-2.col-5.d-flex.align-items-end
                    .form__item.w-100
                      +select({
                        placeholder: 'Введите'
                      })
                        option(selected) руб.
                        option долл.
                        option евро
                .row
                  .col-md-4.col-7
                    .form__item
                      label.p.sm.text-purple.mb-10 Выручка за 2020 год
                      input.input(type="text", placeholder="Введите")
                  .col-md-2.col-5.d-flex.align-items-end
                    .form__item.w-100
                      +select({
                        placeholder: 'Введите'
                      })
                        option(selected) руб.
                        option долл.
                        option евро
                .row
                  .col-md-4.col-7
                    .form__item
                      label.p.sm.text-purple.mb-10 Планы по выручке на 2021 год
                      input.input(type="text", placeholder="Введите")
                  .col-md-2.col-5.d-flex.align-items-end
                    .form__item.w-100
                      +select({
                        placeholder: 'Введите'
                      })
                        option(selected) руб.
                        option долл.
                        option евро
                .row
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Стадия проекта
                      +select({
                        placeholder: 'Введите'
                      })
                        option Разработка / Прототип
                        option Стадия пилотирования
                        option Готовый продукт / Серийное производство
                  .col-md-4
                    .form__item
                      label.p.sm.text-purple.mb-10 Регион
                      +select({
                        placeholder: 'Введите'
                      })
                        option Введите
                        option Стадия пилотирования
                        option Готовый продукт / Серийное производство
                .row
                  .col-12
                    .form__item.form__textarea-wrapper
                      label.p.sm.text-purple.mb-10 Конкурентные преимущества продукта
                      textarea.input.input--textarea.input--textarea-sm.js-textarea-limited(placeholder="Введите", maxlength="130" required)
                .row
                  .col-12
                    .form__item.form__textarea-wrapper
                      label.p.sm.text-purple.mb-10 Особенности "фишка" продукта/проекта 
                      textarea.input.input--textarea.input--textarea-sm.js-textarea-limited(placeholder="Введите", maxlength="20", required)
                .row
                  .col-xl-7.col-lg-10
                    .form__item
                      .form__files.form__files--long
                        .custom-file.mr-20
                          input#customFile2.custom-file-input(type='file', multiple)
                          label.custom-file-label(for='customFile2') Иллюстрация экспоната
                        .custom-file.mr-20
                          input#customFile2.custom-file-input(type='file')
                          label.custom-file-label(for='customFile2') Презентация
                        .d-flex.mr-20
                          .custom-file
                            input#customFile2.custom-file-input(type='file')
                            label.custom-file-label(for='customFile2') Логотип компании
                          p.sm.semi-transparent.ml-10.mt-10 Формат .JPG или .PNG. На белом или прозрачном фоне, 300 на 300 пикселей
                .form__footer.mt-55
                  button.btn.btn-secondary(type="submit") Отправить
                  .form__status.form__status--success.ml-sm-60.mt-50.mt-sm-0 Все поля заполненны
      #chats.tab-pane(role='tabpanel')
        .pt-30.pt-lg-45.pb-30.pb-lg-60
          .container
            .row
              .col-xl-8.mx-auto
                +chat({type:'full'}).chat--full   
      #mentors.tab-pane(role='tabpanel')  
        .container.pt-40.pb-55
          ul.nav.nav-tabs.nav-tabs--link
            li.nav-item
              a.nav-link(data-toggle='tab' href='#mentors-content') Менторы
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#meetings') Мои встречи с менторами
          .tab-content
            #mentors-content.tab-pane(role='tabpanel')
              .pt-25
                +mentor({
                  photo: 'mentor-1.jpeg',
                  slots: true
                })
                +mentor({
                  photo: 'mentor-2.jpeg',
                  slots: false
                })
                +modal({
                  type: 'meeting'
                })#modal
            #meetings.tab-pane.show.active(role='tabpanel')
              +meeting({
                photo: 'speaker-5.jpeg',
                confirmed: false
              })
              +meeting({
                photo: 'mentor-1.jpeg',
                confirmed: true
              })
  .border-top
  +partners
  +footer
