extends ../templates/template.pug
block content
  .bg.bg--registration
    +header
    .wrapper
      .container
        .link-back.mt-50.mb-30
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 Регистрация
        form.form.mb-75(action="#", method="POST")
          .row
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="email") E-mail
                input.input#email(type="email" placeholder="Введите" name="email")
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="password") Пароль
                input.input#password(type="password" placeholder="Введите" name="password")
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="passwordRepeat") Повторите пароль
                input.input#passwordRepeat(type="password" placeholder="Введите" name="passwordRepeat")
          .row
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10 Выберите город регистрации в StartupTour
                +select({
                  placeholder: 'Выбрать город'
                })
                .form__item-comment Выбрать можно только один город регистрации
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10 Выберите статус участия
                +select({
                  placeholder: 'Введите'
                })
          h3.text-white.mb-15 Личные данные
          .row
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="lastName") Фамилия*
                input.input#lastName(type="text" placeholder="Введите" name="lastName" required)
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="firstName") Имя*
                input.input#firstName(type="text" placeholder="Введите" name="firstName" required)
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="middleName") Отчество*
                input.input#middleName(type="text" placeholder="Введите" name="middleName" required)
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="phone") Телефон*
                input.input#phone(type="tel" placeholder="Введите" name="phone" required)
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="city") Город проживания*
                input.input#city(type="text" placeholder="Введите" name="city" required)
            .col-md-4
              .form__item.form__item--horizontal.pt-md-30
                label.p.sm.text-white.mb-0.mr-25 Пол
                .switch
                  .custom-control.custom-radio
                    input#sex1.custom-control-input(type='radio' name='sex' checked)
                    label.custom-control-label(for='sex1') Муж
                  .custom-control.custom-radio
                    input#sex2.custom-control-input(type='radio' name='sex')
                    label.custom-control-label(for='sex2') Жен
          .row
            .col-md-4
              .form__item
                .custom-file.custom-file--photo
                  input#customFile.custom-file-input(type='file')
                  label.custom-file-label(for='customFile') Выбрать фото профиля
          h3.text-white.mb-15 Карьера
          .row
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="company") Компания*
                input.input#company(type="text" placeholder="Введите" name="company" required)
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10(for="position") Должность*
                input.input#position(type="text" placeholder="Введите" name="position" required)
            .col-md-4
              .form__item.pt-md-30
                .switch
                  .custom-control.custom-radio
                    input#sk1.custom-control-input(type='radio' name='sk' checked)
                    label.custom-control-label(for='sk1') Резидент Сколково
                  .custom-control.custom-radio
                    input#sk2.custom-control-input(type='radio' name='sk')
                    label.custom-control-label(for='sk2') Нерезидент Сколково
          .row
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10 Отрасль
                +select({
                  placeholder: 'Выбрать отрасль'
                })
            .col-md-4
              .form__item
                label.p.sm.text-white.mb-10 Сфера деятельности
                +select({
                  placeholder: 'Выбрать сферу'
                })
          .custom-control.custom-checkbox.mb-15
            input#customCheck1.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck1') Хочу подать проект на конкурс
          .custom-control.custom-checkbox.mb-15
            input#customCheck2.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck2') Хочу подать заявку на участие в выставке
          .custom-control.custom-checkbox.mb-15
            input#customCheck3.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck3') Готов инвестировать
          .custom-control.custom-checkbox.mb-15
            input#customCheck4.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck4') Хочу общаться с участниками?
          .custom-control.custom-checkbox.mb-35
            input#customCheck5.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck5') Я даю согласие на обработку моих персональных данных.
          button.btn.btn-secondary(type="submit") Зарегистрироваться
    +partners
    +footer
