extends ../templates/template.pug
block content
  .bg.bg--page
    +header
    .wrapper.pb-50.pb-lg-100.mb-0.mb-lg-100
      .container
        .link-back.mt-40.mt-lg-70.mb-45.mb-lg-80
          a.link-back__arrow(href="#")
        .row
          .col-lg-3.col-sm-6.mb-30.mb-sm-0
            +picture({
              photo: 'speaker.jpeg'
            }).picture--vertical.picture--rounded
          .col-lg-3.col-sm-6
            h3.text-white.mb-15 Виктор Бокунчиков
            h6.text-white.mb-20 Спикер
            p.sm.semi-transparent.text-white.mb-10 Министерство информационных технологий и связи московской области
            p.sm.text-white.mb-10 Операционный директор
            p.sm.semi-transparent.text-white.mb-0 Россия
          .col-lg-6.mt-40.mt-lg-0
            p.text-white.font-weight-semibold Опишите, чью проблему Вы собираетесь решить: у каких конкретных коммерческих компаний или потребителей она стоит наиболее остро; кто из потребителей подтвердил актуальность проблемы; сколько компаний/потенциальных клиентов сталкиваются с данной проблемой; есть ли подтверждения данной проблемы в независимых исследованиях и публикациях. Представьте количественные оценки данной проблемы (расходы/упущенная выгода).
            p.text-white.font-weight-semibold Опишите, чью проблему Вы собираетесь решить: у каких конкретных коммерческих компаний или потребителей она стоит наиболее остро; кто из потребителей подтвердил актуальность проблемы; сколько компаний/потенциальных клиентов сталкиваются с данной проблемой; есть ли подтверждения данной проблемы в независимых исследованиях и публикациях. 
    .border-top
    +partners
    +footer
