extends ../templates/template.pug
block content
  .bg
    +header
    .wrapper.pb-100
      .container
        .link-back.mt-40.mb-55
          a.link-back__arrow(href="#")
          h2.text-white.mb-0 О туре
        .h1.text-white.mb-60.mb-lg-100 Целевая Аудитория
        .row
          .col-lg-5.offset-lg-1
            +audience({
              icon: 'audience-1.svg',
              title: 'Стартапы, технологические предприниматели, молодые ученые и мечтатели, меняющие мир к лучшему'
            }).audience--first
          .col-lg-5.offset-lg-1
            +audience({
              icon: 'audience-2.svg',
              title: 'Индустриальные партнеры, корпорации, инвесторы'
            })
          .col-lg-5.offset-lg-1
            +audience({
              icon: 'audience-3.svg',
              title: 'Региональные участники проекта «Сколково»'
            })
          .col-lg-5.offset-lg-1
            +audience({
              icon: 'audience-4.svg',
              title: 'Представители технопарков и бизнес-инкубаторов, менторы, эксперты'
            })
        .h1.text-white.mb-40.mb-lg-45 Города участники Startup Tour/2021
      +drag
      .container
        .row
          .col-xl-10
            .h1.text-white.mb-40.mb-lg-80.mt-40.mt-lg-80 5 причин провести с нами Open Innovations Startup Tour
        .row
          .col-lg-6
            +reason({
              number: '1',
              title: 'Качественная программа',
              dscr: 'Лучшие спикеры и эксперты рассказывают: <br>- как превратить идею в проект, <br>- где взять на это деньги, <br>- как правильно выстроить взаимоотношения  в команде.'
            })
          .col-lg-6.offset-lg-6
            +reason({
              number: '2',
              title: 'Беспощадные менторы',
              dscr: 'Технологические эксперты, венчурные инвесторы, коучи, предприниматели, представители институтов развития и индустриальных компаний помогают участникам узнать всю правду о сильных и слабых сторонах своего проекта.'
            })
          .col-lg-6
            +reason({
              number: '3',
              title: 'Конкурс и призы',
              dscr: 'Пять минут питча дают стартапам возможность претендовать не только на денежные призы (сертификаты на 300 000 рублей), но и на участие в акселерационных программах институтов развития и других номинациях партнеров.'
            })
          .col-lg-6.offset-lg-6
            +reason({
              number: '4',
              title: 'Актуальная информация',
              dscr: 'Представители всех основных институтов развития дают самую полную информацию обо всех инструментах и возможностях поддержки стартапов.'
            })
          .col-lg-6
            +reason({
              number: '5',
              title: 'Охват аудитории',
              dscr: 'Благодаря инновационному формату проведения мероприятия онлайн в режиме реального времени, участники будут иметь доступ к мероприятию из любой точки мира, что позволит привлечь максимальное количество зрителей.'
            })
        .embed-responsive.embed-responsive-16by9.mt-70
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/6tmbeLTHC_0' allowfullscreen='')
    +partners
    +footer
