.event {
  position: relative;
  margin-bottom: 38px;
  padding: 19px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .7;
    content: '';
    background: linear-gradient(
      127.27deg,
      rgba(255, 255, 255, .5) 3.58%,
      rgba(255, 255, 255, .095) 100%
    );
    border-radius: 20px;
  }

  &__left {
    position: relative;
    z-index: 1;
  }

  &__right {
    position: relative;
    z-index: 1;
  }

  &__city {
    color: $purple;

    @include transition;

    &:hover {
      opacity: .8;
      color: $purple;
    }
  }

  &__play {
    display: block;
    width: 72px;
    height: 72px;
    background-image: url("data:image/svg+xml,%3Csvg width='57' height='58' viewBox='0 0 57 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='28.7128' cy='28.8794' rx='27.9474' ry='28.7404' fill='%236C5AA4'/%3E%3Cellipse cx='28.7128' cy='28.8794' rx='27.9474' ry='28.7404' fill='url(%23paint0_radial)'/%3E%3Cellipse cx='28.7128' cy='28.8794' rx='27.9474' ry='28.7404' fill='url(%23paint1_radial)'/%3E%3Cpath d='M37.5412 25.932C39.2201 27.1283 39.2201 29.6224 37.5412 30.8186L27.3248 38.0976C25.3388 39.5125 22.584 38.0928 22.584 35.6543L22.584 21.0963C22.584 18.6579 25.3388 17.2381 27.3248 18.6531L37.5412 25.932Z' fill='white'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(51.7572 18.2908) rotate(109.262) scale(34.1837 33.4487)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(2.72661 32.4089) rotate(27.2116) scale(29.7715 30.2679)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &--active {
    padding: 44px 48px;
    background: #fff;

    @include media-breakpoint-down(md) {
      padding: 19px 23px;
    }

    .event__city {
      font-size: 40px;
      line-height: 1.1;
      color: $secondary;
    }
  }
}
