mixin event(data)
  .event&attributes(attributes)
    .event__left
      p.sm.text-dark.semi-transparent.mb-5= data.date
      a.h6.event__city(href="#")= data.city
    .event__right
      if data && data.modifier == 'active'
        a.event__play(href="#")
      else
        a.btn.btn-primary(href="#") Участвовать
