.logo {
  position: relative;
  z-index: 10000;
  margin-right: 40px;
  display: inline-flex;
  width: 250px;
  min-width: 250px;
  align-items: center;
  font-size: 30px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -.03em;
  color: $white;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @include transition;

  &:hover {
    opacity: .8;
    color: #fff;
  }

  @include media-breakpoint-down(sm) {
    margin-right: 20px;
  }

  @include media-breakpoint-down(xs) {
    margin-right: 0;
    width: auto;
    min-width: inherit;
    font-size: 20px;
    line-height: 1;
  }

  &--dark {
    margin-right: 0;
    width: auto;
    min-width: 300px;
    font-size: 36px;
    color: $black;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
      width: auto;
      min-width: inherit;
      font-size: 30px;
      line-height: 1;
    }

    &:hover {
      color: $black !important;
    }
  }
}
