.front {
  margin-top: -75px;
  padding-top: 150px;
  background: url(../img/front-profile.svg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding-top: 100px;
  }

  &__wrapper {
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      flex-direction: column;
      align-items: flex-start;
    }

    &--picture {
      padding-bottom: 0;
      align-items: flex-end;

      @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }

    &--profile {
      align-items: flex-start;
    }

    &--expo {
      padding-bottom: 70px;

      @include media-breakpoint-down(lg) {
        padding-bottom: 40px;
      }
    }
  }

  &__left {
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      align-items: flex-start;
    }
  }

  &__article-info {
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__article-info-left {
  }

  &__article-share {
    display: flex;
    align-items: center;
  }

  &__picture-wrapper {
    margin-bottom: -20px;
    max-width: 520px;

    @include media-breakpoint-down(lg) {
      margin-top: 30px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    &--logo {
      margin-bottom: 0;
      display: flex;
      width: 272px;
      height: 272px;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 20px;

      @include media-breakpoint-down(lg) {
        margin-top: 0;
        margin-bottom: 40px;
      }

      .front__picture {
        max-width: 200px;
      }
    }
  }

  &__picture {
    max-width: 100%;
    border-radius: 20px;
  }

  &__exponent-info {
    margin-top: 50px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__exponent-info-logo-wrapper {
  }

  &__exponent-info-logo {
    margin-right: 34px;
    max-width: 50px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__exponent-info-tag {
    margin-left: 50px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: #000;
    background: #ffbe88;
    border-radius: 150px;

    @include transition;

    &:hover {
      opacity: .8;
      color: #000;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__user {
    margin-top: 47px;
    display: flex;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__user-picture-wrapper {
    position: relative;
    margin-right: 36px;
    width: 164px;
    height: 207px;
    flex-shrink: 0;
    border-radius: 20px;

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(360deg, rgba(0, 0, 0, .67) -1.97%, rgba(0, 0, 0, 0) 100%);
      border-radius: 20px;
    }
  }

  &__user-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top center;
  }

  &__user-content {
    max-width: 400px;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
      max-width: 100%;
    }
  }

  &__user-occupation {
    opacity: .7;
  }

  &__profile-edit {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: $purple;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    &:before {
      margin-right: 14px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(..//img/edit.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--profile {
    padding-top: 130px;
    background: url(../img/front-profile.svg) no-repeat center;
    background-size: cover;

    .front__wrapper {
      padding-bottom: 26px;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    .front__right {
      margin-top: -30px;

      @include media-breakpoint-down(md) {
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
  }
}
