mixin meeting-link(data)
  .meeting-link&attributes(attributes)
    .meeting-link__wrapper
      p.sm.semi-transparent.mb-10 Ссылка на сессию
      .meeting-link__container
        .meeting-link__content
          p.meeting-link__text.sm.text-purple.mb-0 Http://zoom.com/5466548956465254665489564652
          a.btn.btn-outline-primary.btn-sm(href="#") Копировать
        a.btn.btn-secondary.meeting-link__btn.px-20(href="#") Подключиться
