.meeting-link {

  &__wrapper {
    margin-top: 15px;
  }

  &__container {
    margin-top: 15px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content {
    margin-right: 16px;
    padding: 8px 10px 8px 20px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 60px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-start;
      border-radius: 20px;
    }
  }

  &__text {
    margin-right: 13px;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;

    @include media-breakpoint-down(xs) {
      margin-bottom: 10px !important;
    }
  }

  &__btn {
    box-shadow: 0 23px 48px rgba(165, 72, 0, .38);
  }

  &--dark {

    .meeting-link__content {
      background: #f2f2f4;
    }
  }
}
