mixin announcement(data)
  a.announcement(href="#")&attributes(attributes)
    .announcement__month= data.month
    .announcement__wrapper
      .announcement__content
        .announcement__city= data.city
        .announcement__date 28.02 - 29.02
