.announcement {
  display: flex;
  width: 216px;
  height: 216px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__wrapper {
    display: flex;
    width: 125px;
    height: 125px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(#fff, .8) url(../img/lens.png) no-repeat center;
    background-size: contain;
    border-radius: 50%;
    backdrop-filter: blur(6.9654px);

    @include transition;
  }

  &__month {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -.03em;
    color: #fff;

    @include transition;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__city {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -.03em;
    color: $secondary;

    @include transition;
  }

  &__date {
    height: 0;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    color: #000;

    @include transition;
  }
}
