.feature {
  position: relative;
  margin-bottom: 80px;

  &:before {
    position: absolute;
    top: -20px;
    left: -30px;
    display: block;
    width: 71px;
    height: 71px;
    content: '';
    background: url(../img/feature-ball.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      top: -10px;
      left: -10px;
      width: 50px;
      height: 50px;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    max-width: 80%;
  }
}
