.networking-card {
  margin-bottom: 32px;
  padding: 40px;
  display: flex;
  height: 328px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 53.6471px 67px 2.6235px rgba(0, 0, 0, .21);

  @include media-breakpoint-down(lg) {
    height: 240px;
  }
}
