.link-back {
  display: flex;
  align-items: center;

  &__arrow {
    margin-right: 43px;
    width: 20px;
    min-width: 20px;
    height: 36px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='36' viewBox='0 0 20 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8037 2L2.80371 18L18.8037 34' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      width: 15px;
      height: 30px;
    }
  }

  &--dark {

    .link-back__arrow {
      background: url(../img/arrow-dark.svg) no-repeat center;
      background-size: contain;
    }
  }
}
