.competition-step {
  position: relative;

  @include media-breakpoint-down(lg) {
    margin-bottom: 20px;
  }

  &:after {

    @include media-breakpoint-down(lg) {
      display: none !important;
    }
  }

  &--1 {

    &:after {
      position: absolute;
      top: 30px;
      right: -53px;
      display: block;
      width: 243px;
      height: 73px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='243' height='73' viewBox='0 0 243 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.99997C55.1644 -2.8502 178.995 -3.84045 241 71' stroke='%236C5AA4' stroke-width='4'/%3E%3Cpath d='M1 6.99997C55.1644 -2.8502 178.995 -3.84045 241 71' stroke='url(%23paint0_radial)' stroke-width='4'/%3E%3Cpath d='M1 6.99997C55.1644 -2.8502 178.995 -3.84045 241 71' stroke='url(%23paint1_radial)' stroke-width='4'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(219.947 23.9785) rotate(141.452) scale(61.9124 94.8074)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(9.42105 40.858) rotate(8.14792) scale(114.843 40.2809)'%3E%3Cstop stop-color='%23FFAE50'/%3E%3Cstop offset='1' stop-color='%23FF7300'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  &--2 {
    margin-top: 86px;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }

    &:after {
      position: absolute;
      top: -26px;
      right: -13px;
      display: block;
      width: 176px;
      height: 132px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='176' height='132' viewBox='0 0 176 132' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M172.459 41.0392C142.7 66.283 67.0343 110.779 2.44576 86.8122' stroke='%236C5AA4' stroke-width='4'/%3E%3Cpath d='M172.459 41.0392C142.7 66.283 67.0343 110.779 2.44576 86.8122' stroke='url(%23paint0_radial)' stroke-width='4'/%3E%3Cpath d='M172.459 41.0392C142.7 66.283 67.0343 110.779 2.44576 86.8122' stroke='url(%23paint1_radial)' stroke-width='4'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(32.0348 108.216) rotate(-68.5477) scale(43.8861 67.2034)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(155.289 23.2392) rotate(158.148) scale(81.4058 28.5528)'%3E%3Cstop stop-color='%23FFAE50'/%3E%3Cstop offset='1' stop-color='%23FF7300'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  &--3 {

    &:after {
      position: absolute;
      top: 55px;
      right: -45px;
      display: block;
      width: 197px;
      height: 60px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='197' height='60' viewBox='0 0 197 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.796875 6.37923C44.6256 -1.59133 144.827 -2.39262 195 58.1667' stroke='%236C5AA4' stroke-width='4'/%3E%3Cpath d='M0.796875 6.37923C44.6256 -1.59133 144.827 -2.39262 195 58.1667' stroke='url(%23paint0_radial)' stroke-width='4'/%3E%3Cpath d='M0.796875 6.37923C44.6256 -1.59133 144.827 -2.39262 195 58.1667' stroke='url(%23paint1_radial)' stroke-width='4'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(177.965 20.1179) rotate(141.452) scale(50.0983 76.7162)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(7.61102 33.7764) rotate(8.14792) scale(92.929 32.5945)'%3E%3Cstop stop-color='%23FFAE50'/%3E%3Cstop offset='1' stop-color='%23FF7300'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  &--4 {
    margin-top: 86px;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
  }

  &__number {
    margin-bottom: 25px;
    padding-bottom: 23px;
    display: block;
    width: 98px;
    font-size: 85px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    letter-spacing: -.03em;
    color: $white;
    background-image: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 97.38 53.99'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23f4d2d1;%7D.cls-2%7Bfill:url(%23Безымянный_градиент);%7D.cls-3%7Bfill:url(%23Безымянный_градиент_2);%7D.cls-4%7Bfill:url(%23Безымянный_градиент_3);%7D.cls-5%7Bfill:url(%23Безымянный_градиент_4);%7D.cls-6%7Bfill:url(%23Безымянный_градиент_5);%7D.cls-7%7Bfill:url(%23Безымянный_градиент_6);%7D.cls-8%7Bfill:url(%23Безымянный_градиент_7);%7D.cls-9%7Bfill:url(%23Безымянный_градиент_8);%7D.cls-10%7Bfill:url(%23Безымянный_градиент_9);%7D%3C/style%3E%3CradialGradient id='Безымянный_градиент' cx='-919.46' cy='572.68' r='1' gradientTransform='matrix(-94.74, -18.22, -10.22, 53.13, -81182.01, -47136.49)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231f5eff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='Безымянный_градиент_2' cx='-903.32' cy='551.66' r='1' gradientTransform='matrix(64.58, -41.27, -28.73, -44.96, 74186.8, -12441.83)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fe790b'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='Безымянный_градиент_3' cx='-922.46' cy='595.66' r='1' gradientTransform='matrix(-39.35, 20.43, 13.12, 25.26, -44027.59, 3809.85)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ef8766'/%3E%3Cstop offset='1' stop-color='%23ef8766' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='Безымянный_градиент_4' cx='-926.96' cy='573.82' r='1' gradientTransform='matrix(-53.43, -16.76, -8.06, 25.7, -44808.68, -30247.97)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2307193d'/%3E%3Cstop offset='1' stop-color='%23486297' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='Безымянный_градиент_5' cx='-919.46' cy='572.68' gradientTransform='matrix(-94.74, -18.22, -10.22, 53.13, -81181.36, -47140.22)' xlink:href='%23Безымянный_градиент'/%3E%3CradialGradient id='Безымянный_градиент_6' cx='-897.63' cy='567' r='1' gradientTransform='matrix(73.02, 34.91, 24.3, -50.83, 51781.04, 60164.36)' xlink:href='%23Безымянный_градиент_2'/%3E%3CradialGradient id='Безымянный_градиент_7' cx='-922.46' cy='595.66' r='1' gradientTransform='matrix(-39.35, 20.43, 13.12, 25.26, -44026.94, 3806.12)' xlink:href='%23Безымянный_градиент_3'/%3E%3CradialGradient id='Безымянный_градиент_8' cx='-928.96' cy='563.62' r='1' gradientTransform='matrix(-42.52, -27.56, -13.26, 20.45, -32014.48, -37090.29)' xlink:href='%23Безымянный_градиент_4'/%3E%3CradialGradient id='Безымянный_градиент_9' cx='-917.99' cy='543.01' r='1' gradientTransform='matrix(6.18, -34.45, -37.54, -6.73, 26102.48, -27964.04)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23051b54'/%3E%3Cstop offset='1' stop-color='%23051b54' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Ctitle%3Enumber-bg%3C/title%3E%3Cpath class='cls-1' d='M93.33,31.77c7.54-9,.38-12.06-1-17.07-2.75-4.92-2.71-8.4-10-8s-13.65-1-21.08-2.43-19.1,0-24.89,1.5-14.66.42-25.76,5.25S-2.87,26,3.48,40,43.39,56.29,54.16,52.17s10.2-7.55,20-9.3S85.8,40.78,93.33,31.77Z'/%3E%3Cpath class='cls-2' d='M93.33,31.77c7.54-9,.38-12.06-1-17.07-2.75-4.92-2.71-8.4-10-8s-13.65-1-21.08-2.43-19.1,0-24.89,1.5-14.66.42-25.76,5.25S-2.87,26,3.48,40,43.39,56.29,54.16,52.17s10.2-7.55,20-9.3S85.8,40.78,93.33,31.77Z'/%3E%3Cpath class='cls-3' d='M93.33,31.77c7.54-9,.38-12.06-1-17.07-2.75-4.92-2.71-8.4-10-8s-13.65-1-21.08-2.43-19.1,0-24.89,1.5-14.66.42-25.76,5.25S-2.87,26,3.48,40,43.39,56.29,54.16,52.17s10.2-7.55,20-9.3S85.8,40.78,93.33,31.77Z'/%3E%3Cpath class='cls-4' d='M93.33,31.77c7.54-9,.38-12.06-1-17.07-2.75-4.92-2.71-8.4-10-8s-13.65-1-21.08-2.43-19.1,0-24.89,1.5-14.66.42-25.76,5.25S-2.87,26,3.48,40,43.39,56.29,54.16,52.17s10.2-7.55,20-9.3S85.8,40.78,93.33,31.77Z'/%3E%3Cpath class='cls-5' d='M93.33,31.77c7.54-9,.38-12.06-1-17.07-2.75-4.92-2.71-8.4-10-8s-13.65-1-21.08-2.43-19.1,0-24.89,1.5-14.66.42-25.76,5.25S-2.87,26,3.48,40,43.39,56.29,54.16,52.17s10.2-7.55,20-9.3S85.8,40.78,93.33,31.77Z'/%3E%3Cpath class='cls-1' d='M94,28C101.52,19,94.36,16,93,11c-2.74-4.92-2.7-8.4-10-8S69.28,2,61.85.58,42.75.57,37,2.08,22.3,2.5,11.2,7.33-2.22,22.25,4.13,36.22,44,52.56,54.81,48.44s10.2-7.55,20-9.3S86.44,37.05,94,28Z'/%3E%3Cpath class='cls-6' d='M94,28C101.52,19,94.36,16,93,11c-2.74-4.92-2.7-8.4-10-8S69.28,2,61.85.58,42.75.57,37,2.08,22.3,2.5,11.2,7.33-2.22,22.25,4.13,36.22,44,52.56,54.81,48.44s10.2-7.55,20-9.3S86.44,37.05,94,28Z'/%3E%3Cpath class='cls-7' d='M94,28C101.52,19,94.36,16,93,11c-2.74-4.92-2.7-8.4-10-8S69.28,2,61.85.58,42.75.57,37,2.08,22.3,2.5,11.2,7.33-2.22,22.25,4.13,36.22,44,52.56,54.81,48.44s10.2-7.55,20-9.3S86.44,37.05,94,28Z'/%3E%3Cpath class='cls-8' d='M94,28C101.52,19,94.36,16,93,11c-2.74-4.92-2.7-8.4-10-8S69.28,2,61.85.58,42.75.57,37,2.08,22.3,2.5,11.2,7.33-2.22,22.25,4.13,36.22,44,52.56,54.81,48.44s10.2-7.55,20-9.3S86.44,37.05,94,28Z'/%3E%3Cpath class='cls-9' d='M94,28C101.52,19,94.36,16,93,11c-2.74-4.92-2.7-8.4-10-8S69.28,2,61.85.58,42.75.57,37,2.08,22.3,2.5,11.2,7.33-2.22,22.25,4.13,36.22,44,52.56,54.81,48.44s10.2-7.55,20-9.3S86.44,37.05,94,28Z'/%3E%3Cpath class='cls-10' d='M94,28C101.52,19,94.36,16,93,11c-2.74-4.92-2.7-8.4-10-8S69.28,2,61.85.58,42.75.57,37,2.08,22.3,2.5,11.2,7.33-2.22,22.25,4.13,36.22,44,52.56,54.81,48.44s10.2-7.55,20-9.3S86.44,37.05,94,28Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 98px 55px;
  }
}
