mixin competition-step(data)
  .competition-step&attributes(attributes)
    .competition-step__number= data.number
    .h6.text-white.mb-0= data.title
    if data && data.btn
      a.btn.btn-secondary.mt-20.px-30(href="#") Участвовать в конкурсе
