mixin video(data)
  .video&attributes(attributes)
    a.video__content(href="#" style=(data && data.picture ? 'background-image: url(./img/' + data.picture + ');' : ''))
  if data && data.modifier === 'info'
    .video__info
      .video__info-left
        p.md.mb-0.mr-30.mr-xl-45 10:15 – 11:15
        p.md.mb-0 Зал "Средний"
      .video__info-right
        a.video__vote.video__vote--down(href="#") 15
        a.video__vote.video__vote--up(href="#") 150
