.video {

  @include transition;

  &:hover {
    opacity: .8;
  }

  &--info {

    .video__content {
      border-radius: 5px;

      &:after {
        width: 72px;
        height: 72px;
      }
    }
  }

  &__content {
    position: relative;
    padding-top: 56%;
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;

    &:after {
      position: absolute;
      top: calc(50% - 29px);
      left: calc(50% - 29px);
      display: block;
      width: 58px;
      height: 58px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='57' height='58' viewBox='0 0 57 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='28.7128' cy='28.8794' rx='27.9474' ry='28.7404' fill='%236C5AA4'/%3E%3Cellipse cx='28.7128' cy='28.8794' rx='27.9474' ry='28.7404' fill='url(%23paint0_radial)'/%3E%3Cellipse cx='28.7128' cy='28.8794' rx='27.9474' ry='28.7404' fill='url(%23paint1_radial)'/%3E%3Cpath d='M37.5412 25.932C39.2201 27.1283 39.2201 29.6224 37.5412 30.8186L27.3248 38.0976C25.3388 39.5125 22.584 38.0928 22.584 35.6543L22.584 21.0963C22.584 18.6579 25.3388 17.2381 27.3248 18.6531L37.5412 25.932Z' fill='white'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(51.7572 18.2908) rotate(109.262) scale(34.1837 33.4487)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(2.72661 32.4089) rotate(27.2116) scale(29.7715 30.2679)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: contain;
    }
  }

  &__info {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__info-left {
    display: flex;
  }

  &__info-right {
    display: flex;

    @include media-breakpoint-down(xs) {
      margin-top: 10px;
    }
  }

  &__vote {
    display: flex;
    font-size: 16px;
    line-height: 130%;
    font-weight: 600;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:before {
      margin-right: 12px;
      display: block;
      width: 16px;
      height: 17px;
      content: '';
    }

    &--down {
      margin-right: 23px;

      &:before {
        margin-top: 6px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M12.6965 9.03027L14.5752 9.03027C14.8346 9.03027 15.0449 8.81999 15.0449 8.56059L15.0449 1.04585C15.0449 0.786476 14.8346 0.576164 14.5752 0.576164L12.6966 0.576164C12.4372 0.576164 12.2269 0.786444 12.2269 1.04585L12.2269 8.56062C12.2269 8.81999 12.4371 9.03027 12.6965 9.03027Z' fill='%236C5AA4'/%3E%3Cpath d='M12.6965 9.03027L14.5752 9.03027C14.8346 9.03027 15.0449 8.81999 15.0449 8.56059L15.0449 1.04585C15.0449 0.786476 14.8346 0.576164 14.5752 0.576164L12.6966 0.576164C12.4372 0.576164 12.2269 0.786444 12.2269 1.04585L12.2269 8.56062C12.2269 8.81999 12.4371 9.03027 12.6965 9.03027Z' fill='url(%23paint0_radial)'/%3E%3Cpath d='M12.6965 9.03027L14.5752 9.03027C14.8346 9.03027 15.0449 8.81999 15.0449 8.56059L15.0449 1.04585C15.0449 0.786476 14.8346 0.576164 14.5752 0.576164L12.6966 0.576164C12.4372 0.576164 12.2269 0.786444 12.2269 1.04585L12.2269 8.56062C12.2269 8.81999 12.4371 9.03027 12.6965 9.03027Z' fill='url(%23paint1_radial)'/%3E%3Cpath d='M0.964148 7.78531C1.04699 8.5139 1.72758 9.03031 2.46086 9.03031L6.12258 9.03031C5.81139 9.58753 5.64436 11.1636 5.65176 11.8074C5.66405 12.8731 6.54658 13.7271 7.61229 13.7271L7.99985 13.7271C8.25945 13.7271 8.46954 13.517 8.46954 13.2574C8.46954 12.1713 8.89245 10.2109 9.69004 9.41328C10.2269 8.87643 10.6858 8.6819 11.2876 8.38115L11.2876 1.33373C10.3663 1.02664 9.19645 0.57617 7.41342 0.57617L4.34105 0.576169C3.32871 0.576169 2.54027 1.51376 2.93255 2.50438C2.3349 2.6672 1.89415 3.21532 1.89415 3.86388C1.89415 4.04691 1.92946 4.2221 1.99321 4.3831C0.986054 4.65751 0.615336 5.9011 1.31437 6.68194C1.05755 6.96884 0.915929 7.36128 0.964148 7.78531Z' fill='%236C5AA4'/%3E%3Cpath d='M0.964148 7.78531C1.04699 8.5139 1.72758 9.03031 2.46086 9.03031L6.12258 9.03031C5.81139 9.58753 5.64436 11.1636 5.65176 11.8074C5.66405 12.8731 6.54658 13.7271 7.61229 13.7271L7.99985 13.7271C8.25945 13.7271 8.46954 13.517 8.46954 13.2574C8.46954 12.1713 8.89245 10.2109 9.69004 9.41328C10.2269 8.87643 10.6858 8.6819 11.2876 8.38115L11.2876 1.33373C10.3663 1.02664 9.19645 0.57617 7.41342 0.57617L4.34105 0.576169C3.32871 0.576169 2.54027 1.51376 2.93255 2.50438C2.3349 2.6672 1.89415 3.21532 1.89415 3.86388C1.89415 4.04691 1.92946 4.2221 1.99321 4.3831C0.986054 4.65751 0.615336 5.9011 1.31437 6.68194C1.05755 6.96884 0.915929 7.36128 0.964148 7.78531Z' fill='url(%23paint2_radial)'/%3E%3Cpath d='M0.964148 7.78531C1.04699 8.5139 1.72758 9.03031 2.46086 9.03031L6.12258 9.03031C5.81139 9.58753 5.64436 11.1636 5.65176 11.8074C5.66405 12.8731 6.54658 13.7271 7.61229 13.7271L7.99985 13.7271C8.25945 13.7271 8.46954 13.517 8.46954 13.2574C8.46954 12.1713 8.89245 10.2109 9.69004 9.41328C10.2269 8.87643 10.6858 8.6819 11.2876 8.38115L11.2876 1.33373C10.3663 1.02664 9.19645 0.57617 7.41342 0.57617L4.34105 0.576169C3.32871 0.576169 2.54027 1.51376 2.93255 2.50438C2.3349 2.6672 1.89415 3.21532 1.89415 3.86388C1.89415 4.04691 1.92946 4.2221 1.99321 4.3831C0.986054 4.65751 0.615336 5.9011 1.31437 6.68194C1.05755 6.96884 0.915929 7.36128 0.964148 7.78531Z' fill='url(%23paint3_radial)'/%3E%3C/g%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(12.4741 6.36056) rotate(-83.1689) scale(4.7801 1.77371)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(14.946 4.28411) rotate(-123.69) scale(2.40646 2.77669)'%3E%3Cstop stop-color='%23FFAE50'/%3E%3Cstop offset='1' stop-color='%23FF7300'/%3E%3C/radialGradient%3E%3CradialGradient id='paint2_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1.86119 9.57414) rotate(-74.2322) scale(7.67163 6.30358)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint3_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(10.925 6.3441) rotate(-147.529) scale(5.80148 6.56934)'%3E%3Cstop stop-color='%23FFAE50'/%3E%3Cstop offset='1' stop-color='%23FF7300'/%3E%3C/radialGradient%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16.5762) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }

    &--up {

      &:before {
        margin-top: 2px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M3.30348 8.12207H1.42476C1.16539 8.12207 0.955078 8.33235 0.955078 8.59176V16.1065C0.955078 16.3659 1.16536 16.5762 1.42476 16.5762H3.30345C3.56282 16.5762 3.77314 16.3659 3.77314 16.1065V8.59173C3.77314 8.33235 3.56289 8.12207 3.30348 8.12207Z' fill='%235D55B8'/%3E%3Cpath d='M15.0359 9.36703C14.953 8.63844 14.2724 8.12203 13.5391 8.12203H9.87742C10.1886 7.56482 10.3556 5.98879 10.3482 5.34498C10.336 4.27929 9.45342 3.42529 8.38771 3.42529H8.00015C7.74055 3.42529 7.53046 3.63536 7.53046 3.89498C7.53046 4.98107 7.10755 6.94144 6.30996 7.73907C5.77312 8.27591 5.31418 8.47044 4.7124 8.77119V15.8186C5.63374 16.1257 6.80356 16.5762 8.58658 16.5762H11.659C12.6713 16.5762 13.4597 15.6386 13.0675 14.648C13.6651 14.4851 14.1059 13.937 14.1059 13.2885C14.1059 13.1054 14.0705 12.9302 14.0068 12.7692C15.0139 12.4948 15.3847 11.2512 14.6856 10.4704C14.9424 10.1835 15.0841 9.79106 15.0359 9.36703Z' fill='%235D55B8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.576172)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  &--narrow {

    .video__content {
      padding-top: 47.78%;
    }
  }

  &--less-rounded {

    .video__content {
      border-radius: 5px;
    }
  }
}
