.msg {
  padding: 5px 22px 7px 16px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 24px;

  @include transition;

  @include media-breakpoint-down(xs) {
    padding-right: 16px;
    padding-left: 16px;
  }

  &:hover {
    background: darken(#f9f9f9, 5%);
  }

  &__content {
    padding-left: 15px;
    flex-grow: 1;
  }

  &__time {
    margin-top: 4px;
    flex-shrink: 0;
    font-size: 12px;
    line-height: 14px;
    color: rgba(#000, .5);

    &.is-check {
      position: relative;

      &:before {
        position: absolute;
        top: 7px;
        right: 100%;
        display: block;
        width: 25px;
        height: 11px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='11' viewBox='0 0 22 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.73333L5.17391 9L13 1' stroke='%2354AFFF' stroke-width='2'/%3E%3Cpath d='M9 4.73333L13.1739 9L21 1' stroke='%2354AFFF' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
      }
    }
  }

  &__photo {
    position: relative;
    margin-top: 3px;
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 9px;
    line-height: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    border-radius: 50%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__name {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #000;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: rgba(#000, .7);
  }

  &--text {

    .msg__photo {
      margin-top: 6px;
      width: 32px;
      height: 32px;
    }
  }

  &--short {
    padding-right: 12px;
    padding-bottom: 14px;
    cursor: pointer;

    .msg__content {
      max-width: calc(100% - 85px);
    }

    .msg__name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .msg__text {
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .msg__time {
      margin-top: 4px;
      margin-left: auto;
    }
  }

  &--letters-yellow {

    .msg__photo {
      color: $secondary;
      background: #fbdf5d;
    }
  }

  &--letters-black {

    .msg__photo {
      color: #fff;
      background: $dark;
    }
  }

  &--letters-red {

    .msg__photo {
      color: #fff;
      background: $secondary;
    }
  }

  &--letters-blue {

    .msg__photo {
      color: #fff;
      background: $primary;
    }
  }

  &--letters-gray {

    .msg__photo {
      color: $dark;
      background: #d2dce6;
    }
  }

  &--sm {
    flex-direction: column;

    &:hover {
      background: transparent !important;
    }

    .msg__content {
      padding-left: 0;
    }

    .msg__name {
      display: none;
    }

    .msg__text {
      padding: 10px 30px 12px 19px;
      font-size: 14px;
      line-height: 1.3;
      font-weight: 500;
      color: #fff;
      background: #5d5375;
    }

    .msg__time {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.3;
      font-weight: 700;
      letter-spacing: 0;
      color: #fff;
    }
  }

  &--personal {
    margin-bottom: 15px;

    .msg__text {
      position: relative;
      margin-bottom: 5px;
      max-width: 370px;
      border-radius: 5px 5px 5px 0;

      &:after {
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-width: 10px 10px 0 0;
        border-style: solid;
        border-color: #5d5375 transparent transparent;
      }
    }
  }

  &--personal-you {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .msg__text {
      background: $secondary;
      border-radius: 5px 5px 0;

      &:after {
        right: 0;
        left: auto;
        border-width: 0 10px 10px 0;
        border-color: transparent $secondary transparent transparent;
      }
    }

    .msg__time {
    }
  }

  &--unread {

    .msg__photo {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 8px;
        height: 8px;
        content: '';
        background: $danger;
        border-radius: 50%;
      }
    }
  }
}
