mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__item(href="#") О туре
      a.menu__item(href="#") Города
      a.menu__item(href="#") Конкурс
      a.menu__item(href="#") Expo
      a.menu__item(href="#") Networking
      a.menu__item(href="#") Участники
      a.menu__item(href="#") Самое интересное
      a.menu__item(href="#") FAQ
      a.menu__item(href="#") Партнеры
      a.menu__item(href="#") Пресс-центр
      a.menu__item(href="#") Контакты
