.menu {

  @include media-breakpoint-down(lg) {
    order: 2;
  }

  &.is-active {

    @include media-breakpoint-down(lg) {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      padding: 20px 0;
      display: block;
      width: 100%;
      height: 100vh;
      background: $primary;
    }

    .menu__btn {

      @include media-breakpoint-down(lg) {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        background: transparent url(../img/close.svg) 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }

    .menu__content {

      @include media-breakpoint-down(lg) {
        position: absolute;
        top: 50%;
        padding: 20px;
        display: block;
        overflow: auto;
        width: 100%;
        height: auto;
        max-height: 100%;
        text-align: center;
        transform: translateY(-50%);
      }
    }

    .menu__item {

      @include media-breakpoint-down(lg) {
        margin: 0;
        padding: 10px 0;
        display: block;
        font-size: 20px;
      }
    }
  }

  &__btn {
    display: none;
    width: 35px;
    height: 35px;
    background: transparent url(../img/menu.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    outline: 0;

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    width: 525px;

    @include media-breakpoint-down(lg) {
      width: auto;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__item {
    margin: 7px 27px 7px 0;
    font-size: 14px;
    line-height: 11px;
    font-weight: bold;
    text-decoration: underline;
    color: $white;

    @include media-breakpoint-down(lg) {
      margin: 7px 10px;
    }

    @include media-breakpoint-down(lg) {
      line-height: 1;
    }

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
