mixin meeting(data)
  .meeting&attributes(attributes)
    .row
      .col-lg-2.col-md-4.d-flex
        .meeting__photo
          img.meeting__photo-img(src="./img/" + data.photo, alt)
      .col-xl-4.col-md-8.d-flex
        .meeting__content
          .meeting__content-top
            p.text-purple.font-weight-semibold.mb-10 Виктория Бокунчикова
            p.sm.semi-transparent.text-purple.mb-10 Министерство информационных технологий и связи московской области
            p.sm.mb-10 Операционный директор
          .meeting__content-bottom
            .meeting__date
              p.sm.text-dark.font-weight-semibold.mb-0 13 марта 18:10-18:20 (Карснодар)
            if data && data.confirmed
              a.btn.btn-secondary.btn-secondary--gradient(href="#") Подтверждено
            else
              .meeting__confirmation
                p.sm.text-white.font-weight-semibold.mb-0 Ожидает подтверждения
      .col-xl-6.col-12.d-flex.position-static
        .meeting__right
          .meeting__right-top
            .meeting__right-top-left
              .meeting__person
                p.sm.semi-transparent.text-purple.mb-5 Выступающий
                p.text-purple.font-weight-semibold.mb-0 Александр Валентинов
              .meeting__person
                p.sm.semi-transparent.text-purple.mb-5 Проект
                p.text-purple.font-weight-semibold.mb-0 Названте проекта
            .meeting__controls
              a.meeting__control-btn.meeting__control-btn--edit(href="#", data-tooltip="Редактировать")
              a.meeting__control-btn.meeting__control-btn--close(href="#", data-tooltip="Отменить")
          if data && data.confirmed
            +meeting-link.meeting-link--dark
