.meeting {
  position: relative;
  padding: 32px 0;
  border-top: 1px solid $gray;

  &__photo {
    position: relative;
    padding-top: 126.32%;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      padding-top: 0;
      max-width: 272px;
      height: 342px;
    }
  }

  &__photo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content-top {
  }

  &__content-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__date {
    margin-bottom: 10px;
    padding: 8px 18.21px;
    background: #ebeaed;
    border-radius: 40px;
  }

  &__confirmation {
    padding: 12px 27px;
    background: #c0bdc8;
    border-radius: 40px;
  }

  &__right {
    position: relative;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      position: static;
      margin-top: 20px;
    }
  }

  &__right-top {
  }

  &__right-top-left {
  }

  &__person {
    margin-bottom: 20px;
  }

  &__controls {
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    align-items: center;
  }

  &__control-btn {
    position: relative;
    width: 24px;
    height: 24px;

    &:before {
      position: absolute;
      top: 100%;
      left: 50%;
      padding: 3.5px 14px;
      display: none;
      font-size: 14px;
      font-weight: 600;
      content: attr(data-tooltip);
      color: $dark;
      background: #fff;
      border-radius: 40px;
      box-shadow: 0 5px 14px 2px rgba(0, 0, 0, .15);
      transform: translateX(-50%);
    }

    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: -2px;
      display: none;
      width: 8px;
      height: 8px;
      content: '';
      background: #fff;
      transform: rotate(45deg) translateX(-50%);
    }

    &:hover {

      &:after,
      &:before {
        display: block;
      }
    }

    & + & {
      margin-left: 39px;

      @include media-breakpoint-down(xs) {
        margin-left: 10px;
      }
    }

    &--edit {
      background: url(../img/meeting-edit.svg) no-repeat center;
      background-size: contain;
    }

    &--close {
      background: url(../img/meeting-cancel.svg) no-repeat center;
      background-size: contain;
    }
  }
}
