.slide {
  display: flex;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  &:not(:last-of-type) {
    margin-bottom: 67px;
  }

  &__number {
    margin-top: -23px;
    margin-right: 18px;
    margin-left: -27px;
    width: 80px;
    min-width: 80px;
    height: 79px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='79' viewBox='0 0 80 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.334 58.8246C35.4427 63.247 37.6463 60.427 40.038 60.3996C42.5535 59.7665 44.0927 60.1959 44.7684 56.8914C45.4442 53.5869 46.8514 50.9484 48.36 47.8142C49.8686 44.68 50.6374 39.329 50.6574 36.579C50.6775 33.829 52.2171 30.0126 51.3905 24.5075C50.5639 19.0025 46.3575 16.7654 39.396 17.9241C32.4345 19.0828 27.3819 33.7138 27.93 38.9898C28.478 44.2657 30.0734 44.4198 29.6818 48.9873C29.2901 53.5547 29.2253 54.4021 32.334 58.8246Z' fill='%23F4D2D1'/%3E%3Cpath d='M32.334 58.8246C35.4427 63.247 37.6463 60.427 40.038 60.3996C42.5535 59.7665 44.0927 60.1959 44.7684 56.8914C45.4442 53.5869 46.8514 50.9484 48.36 47.8142C49.8686 44.68 50.6374 39.329 50.6574 36.579C50.6775 33.829 52.2171 30.0126 51.3905 24.5075C50.5639 19.0025 46.3575 16.7654 39.396 17.9241C32.4345 19.0828 27.3819 33.7138 27.93 38.9898C28.478 44.2657 30.0734 44.4198 29.6818 48.9873C29.2901 53.5547 29.2253 54.4021 32.334 58.8246Z' fill='url(%23paint0_radial)'/%3E%3Cpath d='M32.334 58.8246C35.4427 63.247 37.6463 60.427 40.038 60.3996C42.5535 59.7665 44.0927 60.1959 44.7684 56.8914C45.4442 53.5869 46.8514 50.9484 48.36 47.8142C49.8686 44.68 50.6374 39.329 50.6574 36.579C50.6775 33.829 52.2171 30.0126 51.3905 24.5075C50.5639 19.0025 46.3575 16.7654 39.396 17.9241C32.4345 19.0828 27.3819 33.7138 27.93 38.9898C28.478 44.2657 30.0734 44.4198 29.6818 48.9873C29.2901 53.5547 29.2253 54.4021 32.334 58.8246Z' fill='url(%23paint1_radial)'/%3E%3Cpath d='M32.334 58.8246C35.4427 63.247 37.6463 60.427 40.038 60.3996C42.5535 59.7665 44.0927 60.1959 44.7684 56.8914C45.4442 53.5869 46.8514 50.9484 48.36 47.8142C49.8686 44.68 50.6374 39.329 50.6574 36.579C50.6775 33.829 52.2171 30.0126 51.3905 24.5075C50.5639 19.0025 46.3575 16.7654 39.396 17.9241C32.4345 19.0828 27.3819 33.7138 27.93 38.9898C28.478 44.2657 30.0734 44.4198 29.6818 48.9873C29.2901 53.5547 29.2253 54.4021 32.334 58.8246Z' fill='url(%23paint2_radial)'/%3E%3Cpath d='M32.334 58.8246C35.4427 63.247 37.6463 60.427 40.038 60.3996C42.5535 59.7665 44.0927 60.1959 44.7684 56.8914C45.4442 53.5869 46.8514 50.9484 48.36 47.8142C49.8686 44.68 50.6374 39.329 50.6574 36.579C50.6775 33.829 52.2171 30.0126 51.3905 24.5075C50.5639 19.0025 46.3575 16.7654 39.396 17.9241C32.4345 19.0828 27.3819 33.7138 27.93 38.9898C28.478 44.2657 30.0734 44.4198 29.6818 48.9873C29.2901 53.5547 29.2253 54.4021 32.334 58.8246Z' fill='url(%23paint3_radial)'/%3E%3Cpath d='M33.6113 59.5565C36.7201 63.9789 38.9236 61.159 41.3154 61.1316C43.8309 60.4985 45.3701 60.9278 46.0458 57.6233C46.7215 54.3189 48.1287 51.6803 49.6373 48.5461C51.1459 45.4119 51.9147 40.0609 51.9348 37.3109C51.9548 34.5609 53.4944 30.7445 52.6678 25.2395C51.8413 19.7344 47.6349 17.4974 40.6734 18.6561C33.7119 19.8148 28.6593 34.4457 29.2073 39.7217C29.7554 44.9977 31.3508 45.1517 30.9591 49.7192C30.5674 54.2867 30.5026 55.134 33.6113 59.5565Z' fill='%23F4D2D1'/%3E%3Cpath d='M33.6113 59.5565C36.7201 63.9789 38.9236 61.159 41.3154 61.1316C43.8309 60.4985 45.3701 60.9278 46.0458 57.6233C46.7215 54.3189 48.1287 51.6803 49.6373 48.5461C51.1459 45.4119 51.9147 40.0609 51.9348 37.3109C51.9548 34.5609 53.4944 30.7445 52.6678 25.2395C51.8413 19.7344 47.6349 17.4974 40.6734 18.6561C33.7119 19.8148 28.6593 34.4457 29.2073 39.7217C29.7554 44.9977 31.3508 45.1517 30.9591 49.7192C30.5674 54.2867 30.5026 55.134 33.6113 59.5565Z' fill='url(%23paint4_radial)'/%3E%3Cpath d='M33.6113 59.5565C36.7201 63.9789 38.9236 61.159 41.3154 61.1316C43.8309 60.4985 45.3701 60.9278 46.0458 57.6233C46.7215 54.3189 48.1287 51.6803 49.6373 48.5461C51.1459 45.4119 51.9147 40.0609 51.9348 37.3109C51.9548 34.5609 53.4944 30.7445 52.6678 25.2395C51.8413 19.7344 47.6349 17.4974 40.6734 18.6561C33.7119 19.8148 28.6593 34.4457 29.2073 39.7217C29.7554 44.9977 31.3508 45.1517 30.9591 49.7192C30.5674 54.2867 30.5026 55.134 33.6113 59.5565Z' fill='url(%23paint5_radial)'/%3E%3Cpath d='M33.6113 59.5565C36.7201 63.9789 38.9236 61.159 41.3154 61.1316C43.8309 60.4985 45.3701 60.9278 46.0458 57.6233C46.7215 54.3189 48.1287 51.6803 49.6373 48.5461C51.1459 45.4119 51.9147 40.0609 51.9348 37.3109C51.9548 34.5609 53.4944 30.7445 52.6678 25.2395C51.8413 19.7344 47.6349 17.4974 40.6734 18.6561C33.7119 19.8148 28.6593 34.4457 29.2073 39.7217C29.7554 44.9977 31.3508 45.1517 30.9591 49.7192C30.5674 54.2867 30.5026 55.134 33.6113 59.5565Z' fill='url(%23paint6_radial)'/%3E%3Cpath d='M33.6113 59.5565C36.7201 63.9789 38.9236 61.159 41.3154 61.1316C43.8309 60.4985 45.3701 60.9278 46.0458 57.6233C46.7215 54.3189 48.1287 51.6803 49.6373 48.5461C51.1459 45.4119 51.9147 40.0609 51.9348 37.3109C51.9548 34.5609 53.4944 30.7445 52.6678 25.2395C51.8413 19.7344 47.6349 17.4974 40.6734 18.6561C33.7119 19.8148 28.6593 34.4457 29.2073 39.7217C29.7554 44.9977 31.3508 45.1517 30.9591 49.7192C30.5674 54.2867 30.5026 55.134 33.6113 59.5565Z' fill='url(%23paint7_radial)'/%3E%3Cpath d='M33.6113 59.5565C36.7201 63.9789 38.9236 61.159 41.3154 61.1316C43.8309 60.4985 45.3701 60.9278 46.0458 57.6233C46.7215 54.3189 48.1287 51.6803 49.6373 48.5461C51.1459 45.4119 51.9147 40.0609 51.9348 37.3109C51.9548 34.5609 53.4944 30.7445 52.6678 25.2395C51.8413 19.7344 47.6349 17.4974 40.6734 18.6561C33.7119 19.8148 28.6593 34.4457 29.2073 39.7217C29.7554 44.9977 31.3508 45.1517 30.9591 49.7192C30.5674 54.2867 30.5026 55.134 33.6113 59.5565Z' fill='url(%23paint8_radial)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(29.4968 52.3853) rotate(-64.115) scale(44.3822 24.8879)'%3E%3Cstop stop-color='%231F5EFF'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(40.7452 17.278) rotate(72.4203) scale(35.2558 24.5419)'%3E%3Cstop stop-color='%23FE790B'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint2_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(43.474 57.0619) rotate(-102.439) scale(20.3958 13.0927)'%3E%3Cstop stop-color='%23EF8766'/%3E%3Cstop offset='1' stop-color='%23EF8766' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint3_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(31.8347 56.748) rotate(-57.5839) scale(25.7575 12.3901)'%3E%3Cstop stop-color='%2307193D'/%3E%3Cstop offset='1' stop-color='%23486297' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint4_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(30.7741 53.1172) rotate(-64.115) scale(44.3822 24.8879)'%3E%3Cstop stop-color='%231F5EFF'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint5_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(51.0921 23.2753) rotate(130.548) scale(37.2325 25.9163)'%3E%3Cstop stop-color='%23FE790B'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint6_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(44.7513 57.7939) rotate(-102.439) scale(20.3958 13.0927)'%3E%3Cstop stop-color='%23EF8766'/%3E%3Cstop offset='1' stop-color='%23EF8766' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint7_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(36.5499 22.4733) rotate(-42.049) scale(23.3106 11.2129)'%3E%3Cstop stop-color='%2307193D'/%3E%3Cstop offset='1' stop-color='%23486297' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint8_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(46.6571 42.0556) rotate(25.164) scale(16.102 17.5422)'%3E%3Cstop stop-color='%23051B54'/%3E%3Cstop offset='1' stop-color='%23051B54' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");

    span {
      padding: 18px 21px 0 0;
      display: block;
      font-size: 40px;
      line-height: 1;
      font-weight: 600;
      text-align: right;
      letter-spacing: -.03em;
      color: $white;
    }
  }

  &__dscr {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}
