mixin slide(data)
  .slide&attributes(attributes)
    .slide__number
      span= data.number
    .slide__content
      p.slide__title.h5.mb-15.text-white= data.title
      p.slide__dscr.mb-0.text-white= data.dscr
