mixin filter(data)
  .filter&attributes(attributes)
    .filter__header.p.sm= data.header
    if data && data.type == 'checkbox'
      .custom-control.custom-checkbox.custom-checkbox--filters.mb-15
        input#filter1.custom-control-input(type='checkbox')
        if data && data.checkHeader
          label.custom-control-label(for='filter1')= data.checkHeader
        else
          label.custom-control-label(for='filter1') Конкурсант
    else
      a.filter__btn.p.md.text-white(href="#")= data.value
      +popup({
        checkboxes: data.checkboxes,
        modifier: data.modifier
      }).filter__popup
