.filter {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &__header {
    margin-bottom: 7px;
    color: $gray;
  }

  &__btn {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    outline: 0;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:after {
      margin-left: 15px;
      display: block;
      width: 10px;
      height: 13px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='13' viewBox='0 0 10 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.83398 11.5955L6.94427 6.48511L1.83398 1.37482' stroke='%236C5AA4' stroke-width='3'/%3E%3Cpath d='M1.83398 11.5955L6.94427 6.48511L1.83398 1.37482' stroke='url(%23paint0_radial)' stroke-width='3'/%3E%3Cpath d='M1.83398 11.5955L6.94427 6.48511L1.83398 1.37482' stroke='url(%23paint1_radial)' stroke-width='3'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(3.44776 2.27136) rotate(35.7068) scale(3.53311 5.261)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(4.70292 11.2368) rotate(-75.9638) scale(4.99035 2.93549)'%3E%3Cstop stop-color='%23FFAE50'/%3E%3Cstop offset='1' stop-color='%23FF7300'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");

      @include media-breakpoint-down(sm) {
        transform: rotate(90deg);
      }
    }
  }

  &--dark {

    .filter__btn {
      color: $dark !important;
    }

    .filter__popup {
      box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
    }

    .custom-checkbox--filters {
      margin-bottom: 0 !important;

      .custom-control-label {
        color: $dark;
      }
    }
  }
}
