mixin header(data)
  .header&attributes(attributes)
    .container
      .header__wrapper
        +logo
        .header__content
          +menu
          .header__right
            if !(data && data.login)
              a.btn.btn-primary.d-none.d-sm-inline-block(href="#")
                span Зарегистрироваться
            .header__user
              if data && data.login
                .header__user-content
                  a.p.sm.font-weight-bold.text-weight.text-white.mb-0(href="#") Александров. В.
                  .header__user-messages Нет новых сообщений
                  a.header__user-link(href="#") Выйти
              a.header__user-btn.header__user-btn--unread(href="#")
