.header {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 12px 0;
  background: rgba(45, 45, 45, .78);
  border-bottom: 1px solid rgba(255, 255, 255, .2);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    margin-left: 40px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-right: 16px;
      margin-left: 0;
      order: 1;
    }
  }

  &__user {
    margin-left: 16px;
    display: flex;
    align-items: center;
  }

  &__user-content {
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    text-align: right;
    white-space: nowrap;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__user-messages {
    margin-top: 3px;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    text-align: right;
    color: $white;
  }

  &__user-link {
    margin-top: 4px;
    font-size: 11px;
    line-height: 11px;
    font-weight: bold;
    text-align: right;
    color: $white;
  }

  &__user-btn {
    position: relative;
    display: block;
    width: 41px;
    min-width: 41px;
    height: 42px;
    min-height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='42' viewBox='0 0 41 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20.6243' cy='21.1811' r='20.3189' fill='%236C5AA4'/%3E%3Ccircle cx='20.6243' cy='21.1811' r='20.3189' fill='url(%23paint0_radial)'/%3E%3Ccircle cx='20.6243' cy='21.1811' r='20.3189' fill='url(%23paint1_radial)'/%3E%3Cpath d='M20.6243 19.2916C22.4653 19.2916 23.9577 17.7993 23.9577 15.9583C23.9577 14.1174 22.4653 12.625 20.6243 12.625C18.7834 12.625 17.291 14.1174 17.291 15.9583C17.291 17.7993 18.7834 19.2916 20.6243 19.2916Z' fill='white'/%3E%3Cpath d='M21.041 20.5416H20.2077C19.4963 20.5415 18.792 20.6816 18.1348 20.9538C17.4776 21.226 16.8805 21.625 16.3775 22.128C15.8745 22.631 15.4755 23.2281 15.2033 23.8853C14.9311 24.5425 14.791 25.2469 14.791 25.9582V26.6249C14.791 27.1772 15.2387 27.6249 15.791 27.6249L16.2196 27.6249L24.7892 27.6249L25.4577 27.6249C26.0099 27.6249 26.4577 27.1772 26.4577 26.6249V25.9582C26.4572 24.5218 25.8863 23.1443 24.8706 22.1286C23.8549 21.1129 22.4774 20.542 21.041 20.5416Z' fill='white'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(37.3785 13.6952) rotate(109.767) scale(24.2427)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1.73131 23.6764) rotate(26.5651) scale(21.5216)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    border-radius: 50%;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &--unread {

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 8px;
        height: 8px;
        content: '';
        background: $danger;
        border-radius: 50%;
      }
    }
  }

  &--colored {
    background: linear-gradient(157.17deg, #5952bd .7%, #8e4d63 31.49%, #ffae50 64.27%);
    background-size: 100% 100vh;
  }
}
