mixin filters-list(data)
  .filters-list&attributes(attributes)
    +filter({
      header: 'Тип',
      type: 'checkbox',
    }).filters-list__item
    +filter({
      header: 'Статус',
      value: 'Выберите',
      checkboxes: {
        '1': ['customCheck20', 'Представитель корпорации'],
        '2': ['customCheck21', 'Участник инновационной инфраструктуры'],
        '3': ['customCheck22', 'Инвестор'],
        '4': ['customCheck23', 'Пресса'],
        '5': ['customCheck24', 'Стартап'],
        '6': ['customCheck25', 'Студент, молодой ученый'],
        '7': ['customCheck26', 'Посетитель']
      }
    }).filters-list__item
    +filter({
      header: 'Город',
      value: 'Выберите',
      checkboxes: {
        '1': ['customCheck39', 'Аэрокосмическая отрасль'],
        '2': ['customCheck40', 'Горнодобывающая промышленность, металлургия, машиностроение'],
        '3': ['customCheck41', 'B2G / Госуправление'],
        '4': ['customCheck42', 'Здравоохранение'],
        '5': ['customCheck43', 'Система обеспечения безопасности'],
        '6': ['customCheck44', 'Нефтегазовая и нефтехимическая отрасли'],
        '7': ['customCheck45', 'Образование'],
        '8': ['customCheck46', 'Промышленность (за исключением п. 1, 2, 6)'],
        '9': ['customCheck47', 'Розничная и оптовая торговля (ритейл)'],
        '10': ['customCheck48', 'Сельское хозяйство'],
        '11': ['customCheck49', 'Телекоммуникации и интернет'],
        '12': ['customCheck50', 'Транспорт и логистика'],
        '13': ['customCheck51', 'Городские услуги, строительство и ЖКХ'],
        '14': ['customCheck52', 'Управление персоналом'],
        '15': ['customCheck53', 'Финансы, кредит, страхование, пенсионное обеспечение'],
        '16': ['customCheck54', 'Энергетика'],
        '17': ['customCheck55', 'Entertainment'],
        '18': ['customCheck56', 'VR, AR, Компьютерная графика'],
        '19': ['customCheck57', 'Иное'],
      }
    }).filters-list__item
