.filters-list {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: baseline;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    align-items: stretch;
  }

  &__item {
    margin-bottom: 0 !important;

    @include media-breakpoint-down(sm) {
      position: static !important;
    }

    @include media-breakpoint-down(xs) {
      position: relative !important;
    }

    &:not(:last-of-type) {
      margin-right: 97px;

      @include media-breakpoint-down(md) {
        margin-right: 20px;
      }

      @include media-breakpoint-down(xs) {
        margin-right: 0;
        margin-bottom: 25px !important;
      }
    }
  }

  .filter__btn:after {
    transform: rotate(90deg);
  }

  .popup {
    top: 60px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &:before {
      top: -15px;
      left: 30px;
      transform: rotate(90deg);

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &.is-active {
      right: auto;
      left: 0;
      opacity: 1;

      @include media-breakpoint-down(sm) {
        right: auto;
      }

      @include media-breakpoint-down(xs) {
        right: auto;
        left: 0;
      }
    }

    &.is-hidden {
      right: auto;
      left: 0;
      opacity: 0;

      @include media-breakpoint-down(sm) {
        right: auto;
      }

      @include media-breakpoint-down(xs) {
        right: auto;
        left: 0;
      }
    }
  }
}
