.form {

  &__item {
    margin-bottom: 32px;

    &--horizontal {
      display: flex;
      align-items: center;
    }
  }

  &__item-comment {
    margin-top: 14px;
    font-size: 11px;
    line-height: 18px;
    font-weight: 600;
    color: rgba($white, .5);
  }

  &--white {

    .form__item {
      margin-bottom: 16px;
    }

    .text-white {
      color: $purple !important;
    }

    .custom-control-label {
      color: $purple;
    }

    .custom-file-label {
      color: $dark;
      border-color: $dark;

      &:before {
        background: url(../img/photo-icon.svg) no-repeat center;
        background-size: contain;
      }
    }

    .input {
      color: $purple;
      background: rgba($gray, .2);

      @include placeholder(rgba($purple, .6));

      &:focus {
        color: $purple;
        background: rgba($gray, .2);
      }
    }

    .select2-container--default {

      .select2-selection--single {
        background: rgba($gray, .2);

        .select2-selection__rendered {
          color: rgba($purple, .6);
        }

        .select2-selection__placeholder {
          color: rgba($purple, .6);
        }

        .select2-selection__arrow {
          width: 14px;
          height: 9px;
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.12842L7.11035 6.23871L12.2206 1.12842' stroke='%2338304F' stroke-width='3'/%3E%3C/svg%3E%0A");
        }
      }

      .select2-results__option--selected {
        color: $purple;
        background-color: $gray;
      }
    }
  }

  &__files {
    display: flex;

    .custom-file {
      display: block;
      width: 142px;
      height: 180px;

      .custom-file-input {
        width: 142px;
        height: 180px;
        cursor: pointer;

        &:focus ~ .custom-file-label {
          border-color: $white;
          box-shadow: none;
        }
      }

      .custom-file-label {
        margin: 0;
        padding: 25px 10px 0;
        display: flex;
        width: 142px;
        height: 180px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        text-align: center;
        color: $purple;
        background: transparent;
        border: 1px dashed $purple;
        border-radius: 20px;

        &:before {
          margin-bottom: 38px;
          display: block;
          width: 34px;
          height: 37px;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='34' height='37' viewBox='0 0 34 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.6106 16.2395V20.8377H19.3781V36.2745H14.342V20.8377H0V16.2395H14.342V0.802734H19.3781V16.2395H33.6106Z' fill='%2338304F'/%3E%3C/svg%3E%0A");
        }

        &:after {
          display: none;
        }
      }
    }

    &--long {

      @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
      }

      .custom-file {

        @include media-breakpoint-down(xs) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-start;
    }

    & + & {
      margin-top: 30px;
    }

    &--stable {

      @include media-breakpoint-down(xs) {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__status {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: $purple;

    &--success {
      display: flex;
      align-items: center;

      &:before {
        margin-right: 15px;
        display: block;
        width: 18px;
        height: 14px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.535156 8.35791L4.62109 12.4448L16.708 0.35791' stroke='%2338304F'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__link {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }

  &__text {
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
  }

  &__textarea-wrapper {
    position: relative;

    &:after {
      position: absolute;
      right: 15px;
      bottom: -15px;
      opacity: 0;
      font-size: 13px;
      content: 'Достигнуто максимальное количество символов';
      color: $danger;

      @include transition;
    }

    &.limit {

      &:after {
        opacity: 1;
      }
    }
  }

  &__trigger-wrapper {
  }

  &__trigger {
  }

  &__trigger-content {
    display: none;
  }
}
