mixin city(data)
  .city&attributes(attributes)
    p.xs.font-weight-bold.text-white.mb-5= data.date
    .city__content
      a.h6.city__name.mb-15(href="#")= data.name
      p.sm.text-dark.mb-15 Малый и не очень малый бизнес
      a.p.xs.text-secondary.font-weight-semibold.text-underline.mb-15(href="#") Программа
      if data && data.modifier == 'active'
        a.city__watch.p.xs.text-secondary(href="#") Смотреть<br>онлайн
      else
        a.btn.btn-primary.mt-auto(href="#") Участвовать
      
      
