.city {
  position: relative;
  margin-right: 42px;
  display: flex;
  width: 270px;
  min-width: 270px;
  height: 100%;
  flex-direction: column;

  &--active {

    .city__content {
      background: linear-gradient(
        129deg,
        rgba(255, 255, 255, 1) 2.14%,
        rgba(255, 255, 255, 1) 100%
      );
    }

    .city__name {
      color: $secondary;
    }

    p.text-dark {
      color: #f8aa54 !important;
    }
  }

  &__content {
    padding: 30px 30px 35px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(
      129deg,
      rgba(255, 255, 255, .4) 2.14%,
      rgba(196, 196, 196, .4) 100%
    );
    border-radius: 20px;

    h6 {
      color: #38304f;
    }
  }

  &__watch {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 11px;
    font-weight: 600;
    letter-spacing: -.03em;
    color: #5d56be;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:before {
      margin-right: 17px;
      display: block;
      width: 56px;
      min-width: 56px;
      height: 56px;
      min-height: 56px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='27.9998' cy='28' r='28' fill='%236C5AA4'/%3E%3Ccircle cx='27.9998' cy='28' r='28' fill='url(%23paint0_radial)'/%3E%3Ccircle cx='27.9998' cy='28' r='28' fill='url(%23paint1_radial)'/%3E%3Cpath d='M36.7212 25.0428C38.4432 26.2358 38.4432 28.7817 36.7212 29.9748L26.568 37.0091C24.5783 38.3876 21.8595 36.9636 21.8595 34.5431L21.8595 20.4744C21.8595 18.0539 24.5783 16.63 26.568 18.0084L36.7212 25.0428Z' fill='white'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(51.0875 17.6842) rotate(109.767) scale(33.4071)'%3E%3Cstop stop-color='%23FBAC52'/%3E%3Cstop offset='1' stop-color='%23FDAD52' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1.96467 31.4386) rotate(26.5651) scale(29.6573)'%3E%3Cstop stop-color='%233A4BCF'/%3E%3Cstop offset='1' stop-color='%233C4FD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  &__name {
    color: $purple;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }
}
