mixin popup(data)
  .popup&attributes(attributes)
    .popup__content
      if data && data.checkboxes
        each val, key in data.checkboxes
          .custom-control.custom-checkbox
            input.custom-control-input(type='checkbox' id="" + val[0] + "")
            label.custom-control-label(for='' + val[0] + '')= val[1]
      else  
        .custom-control.custom-checkbox
          input#customCheck1.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck1') Аэрокосмическая отрасль 
        .custom-control.custom-checkbox
          input#customCheck2.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck2') Горнодобывающая промышленность, металлургия, машиностроение 
        .custom-control.custom-checkbox
          input#customCheck3.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck3') B2G / Госуправление 
        .custom-control.custom-checkbox
          input#customCheck4.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck4') Здравоохранение 
        .custom-control.custom-checkbox
          input#customCheck5.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck5') Система обеспечения безопасности 
        .custom-control.custom-checkbox
          input#customCheck6.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck6') Нефтегазовая и нефтехимическая отрасли 
        .custom-control.custom-checkbox
          input#customCheck7.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck7') Образование 
        .custom-control.custom-checkbox
          input#customCheck8.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck8') Промышленность (за исключением п. 1, 2, 6) 
        .custom-control.custom-checkbox
          input#customCheck9.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck9') Розничная и оптовая торговля (ритейл) 
        .custom-control.custom-checkbox
          input#customCheck10.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck10') Сельское хозяйство 
        .custom-control.custom-checkbox
          input#customCheck11.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck11') Телекоммуникации и интернет 
        .custom-control.custom-checkbox
          input#customCheck12.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck12') Транспорт и логистика 
        .custom-control.custom-checkbox
          input#customCheck13.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck13') Городские услуги, строительство и ЖКХ 
        .custom-control.custom-checkbox
          input#customCheck14.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck14') Управление персоналом 
        .custom-control.custom-checkbox
          input#customCheck15.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck15') Финансы, кредит, страхование, пенсионное обеспечение 
        .custom-control.custom-checkbox
          input#customCheck16.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck16') Энергетика 
        .custom-control.custom-checkbox
          input#customCheck17.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck17') Entertainment 
        .custom-control.custom-checkbox
          input#customCheck18.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck18') VR, AR, Компьютерная графика 
        .custom-control.custom-checkbox.mb-0
          input#customCheck19.custom-control-input(type='checkbox')
          label.custom-control-label(for='customCheck19') Иное 
