.popup {
  position: absolute;
  top: 7px;
  left: -9999px;
  padding: 20px 16px 5px 20px;
  display: block;
  width: 392px;
  max-height: 408px;
  opacity: 0;
  background: $white;
  border-radius: 20px;
  transition: opacity .3s ease;

  @include media-breakpoint-down(sm) {
    top: 55px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
  }

  &.is-active {
    right: -470px;
    left: auto;
    opacity: 1;

    @include media-breakpoint-down(sm) {
      right: -410px;
    }

    @include media-breakpoint-down(sm) {
      right: auto;
      left: 0;
    }
  }

  &.is-hidden {
    right: -470px;
    left: auto;
    opacity: 0;

    @include media-breakpoint-down(sm) {
      right: -410px;
    }

    @include media-breakpoint-down(sm) {
      right: auto;
      left: 0;
    }
  }

  &:before {
    display: none;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 15px;
      left: -7px;
      display: block;
      width: 7px;
      height: 24px;
      content: '';
      background: transparent url(../img/popup-angle.png) 0 0 no-repeat;
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    //    height: 100%;
    max-height: 383px;
  }

  .custom-control {
    min-height: 24px;
  }

  .custom-checkbox {
    margin-bottom: 15px;
    padding-top: 2px;
    padding-right: 18px;

    .custom-control-label {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: $purple;

      &:before {
        top: -2px;
      }

      &:after {
        top: 4px;
      }
    }
  }
}
